[2020-12-01 03:52] ghettodev opened #1 "Test Issue"
Super Test

[2020-12-01 17:27] ghettodev opened #2 "Launch Forum"

[2020-12-01 17:28] ghettodev commented on #2
Forum launched.

[2020-12-01 17:28] #2 closed

[2020-12-01 17:56] ghettodev opened #3 "Project: Create Press Packs (Kits)"
### Project Description

Package of documents describing the benefits of SCRF for outsiders.

### Work Plan

*Enter the steps as reflected in your Work Plan:*

- [ ] Coordinate with engagement team to determine target audience, messaging, approach
- [ ] Collate existing materials
- [ ] Identify and create missing materials
- [ ] Update out-of-date materials
- [ ] Create packets
- [ ] Share with En

[2020-12-01 17:57] ghettodev commented on #3
@jamesmcgirk tagging you on this one

[2020-12-02 00:51] visavishesh opened #4 "Create DAG Structure for Content Tagging"

[2020-12-02 00:55] visavishesh opened #5 "Key Problems"
- [x] Generate Template

- [x] Auditing and Security

- [x] Governance and Coordination

- [ ] Mechanism Design and Game Theory

[2020-12-02 00:57] visavishesh opened #6 "Category Introductions"
- [x] Template

- [x] Audit and Security

- [ ] Governance and Coordination

- [ ] Mechanism Design and Game Theory

[2020-12-03 19:53] visavishesh opened #7 "POC Coverage Map"
https://docs.google.com/spreadsheets/d/17pA-0uj6HeWtGkoTrDFzAHctMh75gNxh6GZPX04REYo/edit#gid=234967866

- [ ] finishing catalogue

[2020-12-03 19:55] visavishesh opened #8 "Review Document Pipeline Process"
https://docs.google.com/document/d/1NJW2raIP384BVhG_l_LTevlESw2Uj6rUmslNc70b6E8/edit

[2020-12-03 19:57] visavishesh opened #9 "Category Descriptions"
- [x] Auditing and Security
- [x] Governance and Coordination
- [x] Mechanism Design and Game Theory
- [x] Oracles and Data
- [x] Cryptography
- [x] Tooling and Languages
- [x] Cross-Chain Bridging
- [x] Privacy
- [x] Consensus
- [x] Scaling

[2020-12-03 20:02] visavishesh opened #10 "Category Introductions"
- [ ] Auditing and Security
- [ ]  Governance and Coordination
- [ ]  Mechanism Design and Game Theory
- [ ]  Oracles and Data
- [ ]  Cryptography
- [ ]  Tooling and Languages
- [ ]  Cross-Chain Bridging
- [ ]  Privacy
- [ ]  Consensus
- [ ]  Scaling

[2020-12-03 20:04] visavishesh opened #11 "Key Problems"
- [ ] Auditing and Security
- [ ]  Governance and Coordination
- [ ]  Mechanism Design and Game Theory
- [ ]  Oracles and Data
- [ ]  Cryptography
- [ ]  Tooling and Languages
- [ ]  Cross-Chain Bridging
- [ ]  Privacy
- [ ]  Consensus
- [ ]  Scaling

[2020-12-03 20:05] visavishesh opened #12 "Notable Works"
- [ ]  Mechanism Design and Game Theory
- [x] Auditing and Security
- [x]  Governance and Coordination
- [x]  Oracles and Data
- [x]  Tooling and Languages
- [ ]  Cryptography
- [ ]  Cross-Chain Bridging
- [ ]  Privacy
- [ ]  Consensus
- [ ]  Scaling

[2020-12-03 20:07] visavishesh opened #13 "Generate 1 Research Summary"
- [x] Auditing and Security
- [x]  Governance and Coordination
- [x]  Mechanism Design and Game Theory
- [x]  Oracles and Data
- [x]  Tooling and Languages
- [ ]  Cryptography
- [ ]  Cross-Chain Bridging
- [ ]  Privacy
- [ ]  Consensus
- [x]  Scaling

[2020-12-03 20:19] visavishesh opened #14 "Edit post type tag names"

[2020-12-03 20:34] visavishesh opened #15 "Content Tagging"
- [x] Need a "To be tagged" tag
- [x] Need to disable self-tagging for non-research team members

[2020-12-04 16:53] ericjaurena opened #16 "Revamp One-Pager"
###

- [ ] Change verbiage to active voice
- [ ] Review "What is the SCRF" section
- [ ] Review categories/areas of interest
- [ ] Review "Who will I find on SCRF" section
- [ ] Review "Why is the SCRF Significant" section
- [ ] Propose copy for a revamped "What Else Should I Know?" section

[SCRF Overview.pdf](https://github.com/smartcontractresearchforum/research_team/files/5644079/SCRF.Overview

[2020-12-04 16:53] ericjaurena opened #49 "Revamp One-Pager"
### One-Pager Review

- [ ] Change verbiage to active voice
- [ ] Review "What is the SCRF" section
- [ ] Review categories/areas of interest
- [ ] Review "Who will I find on SCRF" section
- [ ] Review "Why is the SCRF Significant" section
- [ ] Propose copy for a revamped "What Else Should I Know?" section

Make suggestions on this doc:
https://docs.google.com/document/d/1tTv8TYowj_Jo5xwb5lm9Ffha

[2020-12-04 18:17] ghettodev opened #17 "Create a Research Team Mandate"
- figure out what the team does, roles and responsibilities, etc
[Doc](https://docs.google.com/document/d/1qkpj-aHYQ_uHVRYxZUHrQJJu2T6wvNMJDxHp2xXXygw/edit)

- [ ] James to present doc in breakout
- [ ] Establish consensus / collect feedback
- [ ] Present final to team

[2020-12-04 18:41] ghettodev opened #18 "Consider adding "Use Cases" to research paper summaries"
- interview format
- could potentially be a new content type
- we can roll them up for future use
- gets us closer to the "engineers meeting researchers"
- our core problem is communicating the applicability of a solution for an existing problem

[2020-12-04 18:55] ghettodev commented on #18
@jamesmcgirk Can you work on a one-pager to present back to us?

[2020-12-04 19:37] ghettodev commented on #17
https://docs.google.com/document/d/1qkpj-aHYQ_uHVRYxZUHrQJJu2T6wvNMJDxHp2xXXygw/edit

[2020-12-07 19:13] ghettodev commented on #7
can we get some details here?

[2020-12-07 19:19] ghettodev commented on #14
Can we get a detailed description here ^?

[2020-12-07 19:29] ghettodev commented on #17
Some updates by @jamesmcgirk for review.

[2020-12-08 20:46] visavishesh opened #19 "Create a definitions doc and get started on establishing consensus"
https://docs.google.com/document/d/1t6eg3zgwxh0w-X98sZTSN7rgGWcA5JCBPb1WNEf7zyI/edit

- [ ] Create document to define the glossary itself

- [ ] build internal consensus

- [ ] externalize definitions to github

- [ ] create references to definitions from forum

[2020-12-08 20:57] visavishesh opened #20 "Some notable works to include"
- [ ] Highly Influential Blockchain Publications
- [ ] Selfish Mining: Top-cited paper after the Bitcoin whitepaper and Ethereum's yellow paper. It pointed out the biggest known flaw in Nakamoto mining and was used heavily to motivate for small blocks.
- [ ] Hawk: Seminal paper on smart contract confidentiality.
- [ ] A Fistful of Bitcoins: Characterizing Payments Among Men with No Names: The semi

[2020-12-08 20:57] visavishesh opened #45 "Some notable works to include"
- [ ] Highly Influential Blockchain Publications
- [ ] Selfish Mining: Top-cited paper after the Bitcoin whitepaper and Ethereum's yellow paper. It pointed out the biggest known flaw in Nakamoto mining and was used heavily to motivate for small blocks.
- [ ] Hawk: Seminal paper on smart contract confidentiality.
- [ ] A Fistful of Bitcoins: Characterizing Payments Among Men with No Names: The semi

[2020-12-09 17:37] varun-veg opened #21 "Access Problem"
Unable to access the project. Unable to access most google doc files.

[2020-12-09 18:12] #15 closed

[2020-12-09 18:12] #14 closed

[2020-12-09 18:12] #9 closed

[2020-12-09 18:22] ghettodev commented on #18
@jamesmcgirk can you update us on the progress.

[2020-12-09 18:30] ghettodev commented on #19
@visavishesh can you add some more detail to this ticket for me?

[2020-12-09 18:45] ghettodev commented on #8
https://meet.google.com/linkredirect?authuser=0&dest=https%3A%2F%2Fdocs.google.com%2Fdocument%2Fd%2F1NJW2raIP384BVhG_l_LTevlESw2Uj6rUmslNc70b6E8%2Fedit

[2020-12-09 19:00] visavishesh opened #22 "Finish Audit Summary Template"
Current template is at our shared drive: https://docs.google.com/document/d/1oAni0ibN2kmKYtTphNfGF683aOyp5BfK_1iqgKMkUf8/edit?usp=sharing

TODOs in the document remain:

- [x] Decide whether to include "Mitigations and Follow-ups" section, and if, so under what format
- [x] Decide whether to include "Applicability section", and if, so under what format

[2020-12-09 20:45] ghettodev commented on #3
- the presspack should include a howto to create the forum post they are linking to.

[2020-12-09 22:08] #21 closed

[2020-12-11 18:23] ghettodev commented on #8
Approved

[2020-12-11 18:23] #8 closed

[2020-12-11 18:24] ghettodev commented on #22
@lpassos @visavishesh can we get a description and a link to a doc here?

[2020-12-11 18:52] lpassos commented on #22
Current template is at https://docs.google.com/document/d/1oAni0ibN2kmKYtTphNfGF683aOyp5BfK_1iqgKMkUf8/edit?usp=sharing

TODOs in the document remain:

- [ ] Decide whether to include "Mitigations and Follow-ups" section, and if, so under what format
- [ ] Decide whether to include "Applicability section", and if, so under what format

[2020-12-11 18:53] lpassos commented on #22
@ghettodev Added

[2020-12-11 22:45] jamesmcgirk opened #23 "Investigate University Development / Giving"
https://docs.google.com/document/d/1LwyJF2lQozUeQCakuzaMtfjzUFRZcpN-nj_6v2TjrW8/edit

[2020-12-14 20:24] ericjaurena opened #24 "How do we onboard new researchers?"
Onboarding brainstorming doc: https://docs.google.com/document/d/15sQ_IyuNHBLyjik0ARxRZyiAfIZJ_wS1z5vdwWKJ7hg/edit

- [ ] Create rough draft of model 1
- [ ] Create rough draft of model 2

[2020-12-15 20:05] ericjaurena opened #25 "Peer Review Implementation in SCRF"
### What does [Peer reviewing of summaries](https://docs.google.com/document/d/1fDaM2C2BbveYdlr8rOFFpyBMU1OTuBY9eXT-jINzKR8/edit#) look like?

[2020-12-15 20:53] visavishesh opened #26 "Moderator role spec"

[2020-12-15 21:52] ericjaurena opened #27 "Process: Discovery Kit"
### Project Description

Package of documents describing the benefits of SCRF for outsiders. This process refers to the tailoring of discovery material to an individual audience. (E.g. am I sending material to the press, am I sending material to a potential content partner, am I sending material to an individual researcher, university career department etc)

### Work Plan

*Enter the steps as refl

[2020-12-16 17:58] ghettodev opened #28 "Investigate a better chat tool"
We've moved to discord.

[2020-12-16 18:25] visavishesh opened #29 "Project: Coverage Map"
The coverage map is a way for SCRF to track, manage, and ultimately improve the distribution of content that is posted to the forum. Implicitly encompasses the content sub-tagging system for SCRF categories.

Content creation - Drives identification of targets for new content
Engagement - Highlights gaps in engagement to target low-engagement posts
Discovery - Allows for the team to define new sub

[2020-12-16 18:47] ericjaurena opened #30 "Sort Discourse->Discord notifications"
We want notifications in the `#research-team` channel on Discord when new posts are added

[2020-12-16 20:06] ericjaurena commented on #25
[Notes](https://docs.google.com/document/d/1fDaM2C2BbveYdlr8rOFFpyBMU1OTuBY9eXT-jINzKR8/edit)

[2020-12-16 20:29] visavishesh opened #31 "Peer Reviews"
- [ ] Project plan for peer review

- [ ] CS program committees
- [ ] Stanford blockchain conference
- [ ] crypto valley conference zug
- [ ]  AFT advances in financial technologies
- [ ]  IEEE security and privacy on the blockchain

[2020-12-17 19:12] ghettodev commented on #10
@visavishesh is this something @jamesmcgirk can help out with?

[2020-12-17 19:14] ghettodev commented on #27
@jamesmcgirk can you start up and/or find the google doc for this, add a link and start on a version 2?

[2020-12-17 19:21] ghettodev opened #32 "How do we alert on new posts?"

[2020-12-17 19:39] ericjaurena commented on #27
[Document](https://docs.google.com/document/d/1nuk7ZtT2zkLuKOg9MR-XhTM-rVrJKmcJi7YGoj95-Is/edit#)

Covers:
- For Professors
- For University Chairs/Engagement Teams
- For Organizations

[2020-12-17 20:01] jamesmcgirk commented on #18
@jamesmcgirk - reach out to Clara to arrange an interview for the first use cases post

[2020-12-17 20:22] ericjaurena commented on #27
Andy and Eric working on this 12/17 and 12/18

[2020-12-18 20:13] visavishesh opened #33 "Develop a game plan for SCRF System Health Metrics"
https://docs.google.com/document/d/13oLcZraUlqSyVbLiOZeKXhhHy9RqKQfPYtFiI858gkk/edit

[2020-12-18 20:49] ericjaurena opened #34 "Project: Build Moderator Playbook"
### Description

We need a doc that captures best practices for existing moderators and allows us onboard new mods. Once we are finished the first draft it needs to get published in the repo for public consumption.

### Deliverables

- [x] [Moderator Playbook Draft](https://docs.google.com/document/d/190rBZGylcaHBojMSMm-ZfIxPdLxzKv2I1G1zLjIhzfk/edit#heading=h.ujjvwbujjbt6)
- [x] Public markdown ve

[2021-01-06 01:06] jamesmcgirk opened #42 "Press Pack: University"
University recruitment document (working on with Andy B):
https://docs.google.com/document/d/1jNYj09wOLfbqBgu_5mYrsPUQVSeY4qt8CnqGLcjZ3rM/edit#

[2021-01-06 18:15] visavishesh opened #35 "Content Engagement Workflow"
### Project Description

Creating an engagement workflow.

### Work Plan

*Enter the steps as reflected in your Work Plan:*

Engagement Workflow

- [x] Create Go to Market template
- [x] Define GtM / Publishing Process connection
- [x] Define Engagement Workflow
- [ ] Refine as needed
- [ ] Capture analytics

Moderation Playbook

- [x] Create
- [x] Get notifications for new posts
- [x] Assign owne

[2021-01-06 18:16] #32 closed

[2021-01-06 18:17] #22 closed

[2021-01-06 18:53] #7 closed

[2021-01-08 18:34] ericjaurena opened #36 "Framework for filtering papers and "Research Pulse" category"
- [x] Develop a framework for filtering papers to move them into the Idea stage of content generation
- [x] Formalize the title and the description of the Research Pulse topic
- [x] Formalize how we discriminate between a research pulse paper and a notable work

Relevant discussion: https://www.smartcontractresearch.org/t/a-research-pulse-category/140

Post:
https://docs.google.com/document/d/1gDA

[2021-01-11 19:08] ericjaurena opened #37 "SCRF content calendar with upcoming events "pulse""
[Content Release Calendaring](https://docs.google.com/document/d/166yhmZ9uxPXTWI-xqdsnj5YO4ZLBcCQtIVkpB9zaPyg/edit#heading=h.tnx93vrku7n9)

[2021-01-14 19:14] ghettodev commented on #3
Work in progress is here:

https://docs.google.com/document/d/1jNYj09wOLfbqBgu_5mYrsPUQVSeY4qt8CnqGLcjZ3rM/edit#heading=h.lw3nhvpvo9pc

[2021-01-14 19:15] ghettodev commented on #3
Would love to see a one page description about what the project plan is here.

[2021-01-14 21:32] jamesmcgirk opened #38 "Project: Develop Researcher Onboarding Materials"
### Project Description

Assembling documentation for onboarding new researchers, ensuring that it contains up-to-date information on who does what, where to find docs, and when things should happen.

### Work Plan

*Enter the steps as reflected in your Work Plan:*

- [x] Consolidate existing onboarding resources
- [x] Interview Research Team to get feedback on onboarding requirements
- [x] Define

[2021-01-14 23:33] jamesmcgirk opened #46 "Create style guide"
Eventually we'll also need a style guide. How formal / informal

[2021-01-15 19:35] ericjaurena commented on #24
This is a duplicate of #38, we're closing this ticket and using James' ticket and doc to track this initiative

[2021-01-15 19:35] #24 closed

[2021-01-15 19:40] ericjaurena commented on #38
I also got started on this in #24, but closed it. See [my old doc](https://docs.google.com/document/d/15sQ_IyuNHBLyjik0ARxRZyiAfIZJ_wS1z5vdwWKJ7hg/edit#heading=h.kjih8e2wu6r6) and merge any useful content.

[2021-01-18 16:07] ericjaurena opened #39 "Outreach Target Bucket"
This ticket represents ongoing work on targeted outreach. If you know a researcher we should contact, please feel free to drop their name and contact info in this ticket as a comment

[2021-01-19 17:00] jamesmcgirk opened #40 "Should we run a Europe / Asia content meeting once a week? (Or perhaps every two weeks)"
A couple of researchers have trouble meeting at 10am or 11am PT. Why not have a second meeting to discuss drafts / go to market strategy

[2021-01-19 20:46] tjd233 opened #41 "Project Plan: Business/Economics Case Study"
Project outline for developing a robust academically focused business/economics case study format researching how blockchain implementation may benefit traditional/emerging business models.

SCRF PRIMARY RESEARCH PROJECT.

Link to project plan outline: draft 1
https://docs.google.com/document/d/1HVjLNR-jNJulqIMQWYmNDzOdWDfKJiTZsKA2HMUZitU/edit#

[2021-01-20 21:12] ghettodev commented on #18
@jamesmcgirk can you please revisit and get us a formal project plan. Please use the template that can be found [here]https://docs.google.com/document/u/4/d/1gIE3CJFBDxV7bduZBha6E1Kvqc8H_aV5tgaxblO60X4/edit

[2021-01-21 20:17] visavishesh opened #43 "Project: Document Pipeline"
The document pipeline is a workflow for SCRF to manage and track the ideation, drafting, review, and publishing of content for the forum.

[Project Plan](https://docs.google.com/document/d/1l4i-jp7L-LNK_e6wiHfVD_9JpkBiuDmQaRhDGX2wpZE/edit#)

[Process Documentation](https://docs.google.com/document/d/1NJW2raIP384BVhG_l_LTevlESw2Uj6rUmslNc70b6E8/edit)

- [x] Develop document workflow diagram/documen

[2021-01-22 04:06] jamesmcgirk opened #47 "Project Plan - Use Cases"
Use Case project plan will outline how the Use Case content type will work and how they'll go through the editorial process.
https://docs.google.com/document/d/1Nsz_SBKor4gUMTU26YwXrFArEzwV9DG9mW6D38TCyxI/edit

[2021-01-22 15:38] Coinproz opened #44 "Project: Create Plan for African outreach"
### Description

How do we find researchers in Africa who would be willing and able to work for SCRF? How do we use the micro grant program to approach African scholars (and fund their projects)?

Initiate planning to establish outreach to African students and by proxy African Universities

### Workplan

- [x] Create a Project Plan
- [x] Present to Ops
- [x] Revise per suggestions
- [x] Present to

[2021-01-25 21:31] jamesmcgirk commented on #35
Here's a very skeletal first draft. Please feel free to add: https://docs.google.com/document/d/1KxzZ1C3ArUgVxlU_vjVPHwVs5uJoQBbdapPv3FFNMi0/edit

[2021-01-26 19:29] ericjaurena opened #48 "Revamp One-Pager"
### One-Pager Review

- [ ] Change verbiage to active voice
- [ ] Review "What is the SCRF" section
- [ ] Review categories/areas of interest
- [ ] Review "Who will I find on SCRF" section
- [ ] Review "Why is the SCRF Significant" section
- [ ] Propose copy for a revamped "What Else Should I Know?" section

Make suggestions on this doc:
https://docs.google.com/document/d/1tTv8TYowj_Jo5xwb5lm9Ffha

[2021-02-01 17:51] jamesmcgirk opened #50 "Create Document Process Workflow -"
https://docs.google.com/document/d/1jNYj09wOLfbqBgu_5mYrsPUQVSeY4qt8CnqGLcjZ3rM/edit

Need definitive guide to publishing process, what happens when things don't meet standards, who does what

Owner in charge of everything, should there be one person who is the project manager? Who owns the process?

[2021-02-01 18:42] jamesmcgirk commented on #47
https://docs.google.com/document/d/1ddH65uj-UMbFfhMvq4VggILOjwOOcLG14CJqkJbPXx8/edit#heading=h.olp5h2b2zw1u

[2021-02-01 18:43] jamesmcgirk commented on #18
Here's the project plan - https://docs.google.com/document/d/1ddH65uj-UMbFfhMvq4VggILOjwOOcLG14CJqkJbPXx8/edit#heading=h.olp5h2b2zw1u

[2021-02-01 18:44] jamesmcgirk commented on #47
This issue is redundant @visavishesh am I okay to close this issue? Rich created another with the checklist

[2021-02-01 18:47] jamesmcgirk commented on #42
Does this need a project plan too?

[2021-02-04 00:19] jamesmcgirk commented on #10
@visavishesh how urgent are these category introductions? I'm happy to get these going

[2021-02-04 00:43] jamesmcgirk commented on #10
https://docs.google.com/document/d/1cJinzz8sTftWxoVJY8bGqmY1W6FR1TWBMdlJ-lEzDkw/edit

[2021-02-04 00:48] jamesmcgirk commented on #46
Project Plan + Style Guide:
https://docs.google.com/document/d/12wg5CXlqvZKNnCYWIig_mUkxDdCTPruiVkWuHhg-mfo/

[2021-02-04 16:30] jamesmcgirk commented on #3
https://docs.google.com/document/d/1cJinzz8sTftWxoVJY8bGqmY1W6FR1TWBMdlJ-lEzDkw/edit#heading=h.h50zkyeuvm32

[2021-02-09 17:56] jamesmcgirk opened #51 "Project: Create and Maintain a Style Guide"
### Project Description

Developing a standardization tool for use by the editorial team. Primarily a content creation tool. Will save time by providing a definitive source to address conflicts during the editorial process and will promote standardization. Will be an important tool for the editorial team. Minimal effect on engagement, other than helping to maintain a consistent, professional tone

[2021-02-09 18:03] jamesmcgirk commented on #51
Project plan: https://docs.google.com/document/d/12wg5CXlqvZKNnCYWIig_mUkxDdCTPruiVkWuHhg-mfo/edit#

Style Guide: https://docs.google.com/document/d/1o5GO9cbqgYNpwBM90LGGC7nABWcLl2h4BhShm1MeV50/edit#

Blockers/Decision points: it would be helpful to agree on a general style (Chicago is the one most of our researchers would be familiar with or APA)

[2021-02-12 00:11] jamesmcgirk opened #52 "Project: SCRF Glossary"
### Project Description

Standard definitions of blockchain-related terms taken from research summaries. Includes references, synonyms and related terms. This is Phase One of the project. This will produce is a glossary in Github, in markdown that is usable (something we can provide anchor tags to).

### Work Plan

*Enter the steps as reflected in your Work Plan:*

- [x] Transfer definitions from

[2021-02-12 01:18] jamesmcgirk opened #53 "SCRF LinkedIn Page"
### Project Description

Academia is highly engaged with LinkedIn, it would be good to have a presence so we can post forum content. Create an SCRF LinkedIn company page.

### Work Plan

- [x] create linked in account
- [x] populate with brief introductory text
- [x] make introductory post

### Resources

- [SCRF: Social Media Presence Plan WIP](https://docs.google.com/document/d/10o9q1bPOEjULd-XM

[2021-02-12 01:50] jamesmcgirk commented on #53
https://docs.google.com/document/d/1rujAsyam_sqKBKXgZUGbmUwC2Dg2bWKz5WSUhAQsmD4/edit

https://docs.google.com/document/d/1P9K0tMKIGsBZyNjjL5eRW45jfiLwH2pwkPgdAWJlIZc/edit#

[2021-02-13 00:02] jamesmcgirk opened #54 "SCRF Outreach Planning Meeting"
Notes: First outreaching planning meeting between Vishesh, Lucas, Rich and James:

[outreach handoff doc](https://docs.google.com/document/d/18F99kL6XfGqEIyN_jywsWDgaA1j9aybUU2TPXMoerlo/edit#heading=h.47t31bvstkb0)

[2021-02-15 19:43] jamesmcgirk commented on #46
Created an issue for this on the Project board, this can be closed.

[2021-02-15 22:46] jamesmcgirk opened #55 "Project: Creating a play-testing / user-testing area for software"
### Project Description

An area on the forum where researchers can solicit playtesting volunteers for software testing.

### Workplan

- [ ] Consider format: such as a new category or subcategory of the website
- [ ] Draft intro post, disclaimer post, template for posting links to software
- [ ] Present to Ops
- [ ] Incorporate feedback
- [ ] Finalize posts
- [ ] Create PoC (section of the websit

[2021-03-03 22:39] jamesmcgirk opened #56 "Process: Researcher Onboarding"
### Project Description

The onboarding process is a way for SCRF to teach, socialize, and indoctrinate new researchers into SCRF culture and processes.

### Work Plan

- [x] Consolidate existing resources
- [x] Interview research team
- [x] Define researcher roles and responsibilities
- [x] Specify weekly tasks
- [x] Explain document pipeline
- [x] Explain go to market strategy
- [x] Create welco

[2021-03-03 22:44] jamesmcgirk commented on #53
First draft of text complete (see above) - needs Rich and Trent to weigh in.

[2021-03-03 23:23] cryptohazard opened #57 "New Content Type: Live Tweeting a conference."
Engagement experiment: Financial Cryptography ‘21 Live Tweeting

My notes: https://docs.google.com/document/d/1oIxZiY7iy7QP5oLu2duNnyU735G4rQnWkJYXwM6ZDcc/edit#

[2021-03-03 23:44] jamesmcgirk commented on #23
moving this to done - we've generated a couple of projects from the initial investigation

[2021-03-03 23:57] jamesmcgirk opened #58 "Project: Academic Gifts and Grants Mechanisms"
### Description

A plan for distributing small (sub-$10,000) gifts for outreach, and as an incentive mechanism for non-tenured faculty, postgraduates, and graduate students doing thesis-related research.

### Workplan

- [x]  Meet with Ops for scope / participants
- [x]  Draft simple criteria
- [ ]  Incorporate feedback
- [ ]  Draft introductory feedback
- [ ]  Present to Ops team
- [ ] Incorporat

[2021-03-04 00:07] jamesmcgirk opened #59 "Archived Project: SCRF Naming Conventions"
### Project Description

Part of Project Plan: Academic Gifts and Grants Mechanisms. This has been changed to describing a hierarchy of researchers/engineers. It needs an updated word proposal to reflect its new status.

### Workplan

- [x]  Meet with Ops for scope / participants
- [x]  Draft simple criteria
- [ ]  Incorporate feedback
- [ ]  Draft introductory feedback
- [ ]  Present to Ops team

[2021-03-04 00:22] jamesmcgirk commented on #40
Moved to done...

[2021-03-04 00:22] #40 closed

[2021-03-08 23:37] ghettodev opened #60 "Post updated ToS and Privacy policy to the forum"
We have final versions now. Convert to Markdown and post them up.

[2021-03-09 21:36] jamesmcgirk opened #61 "Content Type: Technical Interviews"
### Description

Create a new content type that is a technical deep dive interview with the system architects of a new and compelling technology. No hype, all substance, etc.

### Workplan

- [x] Present New Content Type to Ops
- [x] Refine Idea with Ops
- [x] Present Type to Ops Team
- [x] Refine Idea with Ops Team Input
- [ ] Present Idea to SCRF group
- [ ] Develop Github tracking process in Co

[2021-03-10 01:26] ghettodev commented on #60
Content updated:
- https://www.smartcontractresearch.org/faq
- https://www.smartcontractresearch.org/privacy

[2021-03-10 01:26] #60 closed

[2021-03-10 20:31] jamesmcgirk commented on #52
@jamesmcgirk to transfer Glossary text into the[ Spreadsheet](https://docs.google.com/spreadsheets/d/1CM9zboj3P6G15fK81xr8qkplRwf29VSbOb8G2vz2Y54/edit#gid=0), next step will be to assign researchers to check and find citations

[2021-03-11 20:23] ghettodev commented on #55
Hi @jamesmcgirk , can you do me a favor and add some additional detail to this? a mini proposal in a few paragraphs would be good.

[2021-03-11 20:30] jamesmcgirk commented on #54
@jamesmcgirk schedule Outreach Strategy meeting once @tjd233 returns (3/16)

[2021-03-11 20:57] ghettodev opened #62 "Project:"
### Resources

[SCRF Research Improvement Proposal](https://github.com/smartcontractresearchforum/research_team/blob/main/docs/SCRF_Research_Improvement_Proposal.md)
[SCRF Research Improvement Process](https://github.com/smartcontractresearchforum/research_team/blob/main/docs/SCRF_Research_Improvement_Process.md)

### Describe the idea/project in no less than 200 characters

- [link to project pla

[2021-03-11 20:57] #62 closed

[2021-03-11 20:57] ghettodev commented on #62
test

[2021-03-11 21:00] #33 closed

[2021-03-11 21:59] jamesmcgirk commented on #58
This will be an outreach issue to discuss with @tjd233 and @ghettodev

[2021-03-11 22:31] jamesmcgirk commented on #51
@jamesmcgirk maintains this internal tool as part of the editing process

[2021-03-11 22:40] jamesmcgirk commented on #27
### Presspack for Orgs
- How to engage with SCRF
- Amplifying your message on your blog
- Using SCRF as a comment section
- White Glove service

### Individuals
- How to amplify your message by using SCRF

[2021-03-11 22:54] jamesmcgirk commented on #38
Moving to Icebox as this ticket has been eclipsed by the Onboarding documentation project

[2021-03-11 22:56] jamesmcgirk commented on #3
moving to the icebox as there's an existing ticket encompassing this

[2021-03-11 22:57] jamesmcgirk commented on #19
eclipsed by Project Plan: Glossary

[2021-03-11 22:57] jamesmcgirk commented on #34
assigned to Paul Z, who presented this on 3/10/2021

[2021-03-11 23:24] jamesmcgirk opened #63 "Project: Research Improvement Proposal Implementation"
### Project Description

SCRF’s culture is based on the open-source software community. Anyone can suggest an improvement or a new process, but it has to fit in the existing framework. Project Proposals are the first step of our Research Improvement Proposal (RIP) process. This is how we decide whether a suggested improvement provides a benefit, whether that benefit is worth the resources spent, a

[2021-03-11 23:39] jamesmcgirk commented on #49
moved to Approved... because it was taken care of

[2021-03-12 04:12] ghettodev commented on #53
updated linkedin header image

[2021-03-12 05:03] ghettodev commented on #53
Made first post. Calling this one done.

[2021-03-12 05:03] #53 closed

[2021-03-12 20:28] ghettodev opened #64 "thign"

[2021-03-12 21:24] jamesmcgirk opened #65 "Project: Developing the One-Pager Content Type"
### Project Description

One-pagers are a content form designed to facilitate outreach. They provide a rapid, jargon-free, intriguing summary of what the Smart Contract Research Forum is, how being a part of it can benefit the reader, and how he or she can connect.

### Work Plan

- [x] Idea presented to Ops for new one pager content type
- [x] Workflow developed
- [x] Presented to the team
- [x]

[2021-03-12 22:38] jamesmcgirk commented on #38
Old wording: [This document](https://docs.google.com/document/d/1EyvVG45Rbk1AMo6YZfZ43UHPxJqF7aLxfihanvEkrZ8/edit?usp=sharing) provides answers to frequently asked questions by new researchers. E.g.:
- How do I get paid?
- What is the workflow for moving a doc from idea -> post?
- Where is work tracked?

This document is intended to lower the operational overhead of onboarding new researchers.

[T

[2021-03-12 23:00] jamesmcgirk commented on #3
Old material:

- Links to Digital Resources (branding elements, 2 sentence overview)
- Link to PDF one pager
- Example blurb to link back to SCRF "Please join the discussion about this post on SCRF..."
- Explanation of value we provide by moderating their discussions
- Why people should share their content on our forum, what they can get out of it, etc

[2021-03-12 23:04] jamesmcgirk commented on #3
@jamesmcgirk update the links when you complete the process doc

[2021-03-12 23:44] jamesmcgirk opened #66 "Project: Develop Researcher Onboarding Process"
### Project Description

The onboarding process is a way for SCRF to teach, socialize, and indoctrinate new researchers into SCRF culture and processes.

### Work Plan

*Enter the steps as reflected in your Work Plan:*

- [x] Consolidate existing onboarding resources
- [x] Interview Research Team to get feedback on onboarding requirements
- [x] Define Researcher roles and responsibilities
- [x] Sp

[2021-03-16 19:06] visavishesh opened #67 "Project: Topic Taxonomy"
### Project Description

*The topic taxonomy is a way for SCRF to track, manage, and ultimately grow its internal catalogue of subtopics to which posts can be tagged.
Content creation - Allows for more granular understanding of niche subtopics that are important to cover and implicitly converts them into coverage gaps.
Engagement - Allows users to more easily sort, filter, and search for posts to

[2021-03-16 19:10] #56 closed

[2021-03-16 19:27] jamesmcgirk commented on #52
Will eventually tie back into the topic taxonomy, have to be careful with maintenance (needs a plan), organization

[2021-03-16 19:30] visavishesh opened #68 "Project: Content Selection Framework"
### Project Description

This is a framework that incorporates the key properties of a body of research work to produce holistic evaluations of content proposals.
In the content creation workflow, the Research Team lead uses a set of criteria to evaluate and ultimately decide to approve or reject content proposals. In an effort to formalize and communicate these criteria, we have identified the ne

[2021-03-16 19:33] visavishesh opened #69 "Project: Research Pulse"
### Project Description

*Research Pulse is a feed of recently-published research papers that have been curated by industry professionals. It’s the RSS feed of high-quality, bleeding-edge industry publications.
Hundreds of papers are published every week on the various technologies that underpin crypto assets. Nevertheless, few publications actually contain novel ideas that push the industry forwa

[2021-03-16 19:36] #39 closed

[2021-03-16 19:36] #54 closed

[2021-03-16 19:39] #23 closed

[2021-03-16 19:40] #49 closed

[2021-03-16 20:15] #50 closed

[2021-03-16 20:15] #19 closed

[2021-03-16 20:17] jamesmcgirk commented on #57
@cryptohazard thanks for doing this! we're thinking about turning this into a content type during Q2

[2021-03-16 20:20] jamesmcgirk commented on #44
@Coinproz we should meet and discuss turning this into a project proposal - let me know when you're free for a discuss (after 2pm PT is usually best for me)

[2021-03-16 21:09] #28 closed

[2021-03-16 22:53] jamesmcgirk commented on #56
Welcome to SCRF! Onboarding Presentation
Research Team Mandate (in progress)
Document Pipeline
Onboarding FAQ  (this document)
Project Implementation Process
Selection Criteria

[2021-03-17 20:00] jamesmcgirk commented on #52
Phase One project - the thing this will produce is a glossary in Github, in markdown that is usable (something we can provide anchor tags to)

[2021-03-18 17:11] #43 closed

[2021-03-18 19:12] jamesmcgirk commented on #38
@jamesmcgirk create an onboarding presentation for 3/24

[2021-03-18 19:26] jamesmcgirk commented on #51
@jamesmcgirk Update to current template, create process for it to go public

[2021-03-18 19:31] jamesmcgirk commented on #27
@tjd233 who do we need to target (this will be decided in the outreach meeting)

[2021-03-18 19:38] jamesmcgirk commented on #27
@jamesmcgirk - turn this into a one-off, everything you ever wanted to know about SCRF.

[2021-03-18 19:41] jamesmcgirk commented on #27
should have something that explains what our forum is...

[2021-03-18 19:45] jamesmcgirk commented on #59
Discuss during the outreach meeting

[2021-03-18 19:51] visavishesh opened #70 "Content Partnerships"

[2021-03-18 20:46] #17 closed

[2021-03-18 20:55] jamesmcgirk commented on #44
Added a few basic changes to the issue card... @Coinproz feel free to revise

[2021-03-18 22:13] jamesmcgirk opened #71 "Project: Go-to-Market Strategy"
### Project Description

Outlines the engagement team's workflow during and after the publication of a research summary or other content type.

### Work Plan

- [x] Draft go-to-market strategy
- [x] Present to Engagement Team
- [ ] Incorporate feedback
- [ ] Present to Group
- [ ] Incorporate feedback
- [ ] Post markup to Github

### Resources

- [link to process doc/proof of concept](https://docs

[2021-03-18 22:16] jamesmcgirk commented on #71
@zubepaul (who needs to be invited to the forum)

[2021-03-19 05:02] ghettodev opened #72 "Project Proposal: Researcher Micro-Grants Program"
### Project Description

We need a low-friction, easy-to-understand framework that allows freelance researchers to apply for microgrants that finance various types of content generation for the forum. This includes Research Summaries, Discussion Posts, Use Cases, Case Studies, and other forms of research.

### Work Plan

- [ ] Publish a clear set of documents that explain the program
- [ ] Create

[2021-03-19 05:44] ghettodev commented on #71
Invite sent

[2021-03-19 20:33] ghettodev commented on #38
We're going to need markdown versions of all the docs and presentations. It's probably easier if I make them. Once you have everything signed off on can you assign a ticket to me for the github versions?

[2021-03-19 22:35] jamesmcgirk opened #73 "Project: Markup Onboarding documents"
### Project Description

Onboarding documents need to be accessible to new researchers during the onboarding process, and available to the wider community. This project will shift completed documents from the shared drive to our Github repository.

### Work Plan

*Enter the steps as reflected in your Work Plan:*

- [x] Check that the Onboarding PPT is aligned with any recent changes
- [ ] Convert

[2021-03-19 22:35] jamesmcgirk commented on #73
When the new version of the go-to-market plan is ready, we should add that too

[2021-03-20 03:13] Coinproz commented on #44
@jamesmcgirk if you could take a look at the doc and give me your feedback at your leisure that would be fantastic!

[2021-03-20 17:04] jamesmcgirk commented on #44
@Coinproz I made a few changes to the description and 'Why is this good for SCRF' - mostly redirecting the proposal from answer the question: 'why is this good for African researchers' to 'why is this good for SCRF'. Feel free to change the wording around, especially in the description. My version of the description is basically - 'Africa is a rapidly developing. Countries have experimented with t

[2021-03-20 17:06] jamesmcgirk commented on #44
Also fussed around with formatting a bit - eventually we might mark these down so we like to have them all standardized

[2021-03-20 17:23] Coinproz commented on #44
That is fantastic!  Thank you!

On Sat, Mar 20, 2021 at 1:04 PM James McGirk ***@***.***>
wrote:

--
L. Chris Bates
Research Associate, The International Black Business Museum
http://www.theibbm.org/

[2021-03-20 17:43] jamesmcgirk commented on #44
Next step, once the proposal is in a place you're happy with, is to schedule a meeting with Rich, Vishesh, Lucas and I

[2021-03-22 19:42] ghettodev commented on #72
@visavishesh @cipherix Can you guys please add some additional clarity about how we can prefilter content to keep overhead to a minimum. Some process breakdown in the doc would be great.

[2021-03-22 19:59] ghettodev commented on #72
Ideas:

- Proposals are entered into GH
- Core research team adopts new researchers
- bounty/grant is approved
- etc...

[2021-03-22 20:13] jamesmcgirk commented on #58
@ghettodev should I icebox this group of projects?

[2021-03-23 19:37] jamesmcgirk commented on #38
Presenting this on 3/24, next need to update the Onboarding FAQ and other documents with new details

[2021-03-23 19:44] visavishesh commented on #67
Had a discussion w rich, uncovered new model on uncoupling topics and subcategories from categories. https://docs.google.com/presentation/d/1HWyVc0mYDMWCxSvhkboAMdSYDWtDVrKZILvmW4MWCu0/edit#slide=id.gca461b89e8_0_0

[2021-03-23 20:31] Coinproz commented on #67
yeah, directed acyclic graph is what i have been saying for months!!!!  i
think it may have been premature before we had as many sub-topics, but this
is the model I've been pushing for all along!

On Tue, Mar 23, 2021 at 3:45 PM Vishesh Choudhry ***@***.***>
wrote:

--
L. Chris Bates
Research Associate, The International Black Business Museum
http://www.theibbm.org/

[2021-03-24 15:05] tjd233 opened #74 "Project: Identify 100 university blockchain clubs"
Identify 100 university blockchain clubs. Inventory the university, club name, region, country, contact status, email(s), who is contacting them, and engagement status.

Focusing on all regions (NA, SA, Africa, Europe, ME, Oceania, Asia).

[2021-03-24 19:18] jamesmcgirk commented on #51
Status: Approved, but tabled until next quarter.

[2021-03-24 19:27] jamesmcgirk commented on #38
3/30 - Discussing with Rich

[2021-03-24 19:35] #45 closed

[2021-03-24 20:09] jamesmcgirk commented on #59
@jamesmcgirk recast this according to our latest conversation

[2021-03-25 19:19] #64 closed

[2021-03-25 19:29] ghettodev commented on #35
Update this into a new template format.

[2021-03-26 08:08] cryptohazard commented on #57
@jamesmcgirk did you draft yet  how you see us do that going forward?

[2021-03-26 15:28] jamesmcgirk commented on #57
@cryptohazard we saw the draft, thank you for doing it. It was a good experiment and I think we'll probably incorporate something similar into our social media strategy, I think I'll close the ticket for now since we've done the project, done the draft and adapted it into one of our existing projects

[2021-03-26 15:30] jamesmcgirk commented on #57
@cryptohazard is this one ready for content review yet?

[2021-03-28 23:57] jamesmcgirk opened #75 "Project: Identify social media accounts for blockchain researchers"
**Description**

Identify social media accounts for blockchain researchers and their parent institutions, this will give us an easy social media boost. e.g. @ucsc and @ucsc_engineering for researchers from UC Santa Cruz

**Workplan**

- [x] test drive on a few GtMs
- [x] add to the engagement process
- [x] add to Go-to-Market template

[Tracking Doc](https://docs.google.com/spreadsheets/d/15rPe5Au

[2021-03-30 20:32] jamesmcgirk opened #76 "Project: Create documentation for onboarding casual researchers who are more interested in commenting"
### Project Description

Based on an idea Jerry Ho had for approaching researchers who might not be ready to write a full-fledged summary, this material would introduce the concept of SCRF without going into detail about how to create a research summary. First assignment is to create two substantial comments on the board.

### Work Plan

*Enter the steps as reflected in your Work Plan:*

- [x] Int

[2021-03-30 20:33] jamesmcgirk commented on #76
@29988122 I've added you in case you have some feedback, I'll be doing a presentation tomorrow during the meeting and will send you a copy of the PPT afterwards

[2021-03-31 00:13] jamesmcgirk commented on #18
Can we close this one?

[2021-04-01 18:17] jamesmcgirk commented on #66
@jamesmcgirk update this with the new documents, remove them from the process

[2021-04-01 19:21] jamesmcgirk opened #77 "Project: Develop Onboarding Boilerplate"
### Project Description

Writing basic boilerplate email text for onboarding potential researchers.

### Workplan

- [x] Discuss details with Rich
- [x] Develop first draft
- [x] Finalize
- [x] Test sample

[2021-04-01 20:25] ghettodev commented on #50
Can you update that link? It points to the `SCRF: Project Plan - One Pagers`

[2021-04-02 00:50] jamesmcgirk commented on #18
Moved to completed.

[2021-04-02 01:08] jamesmcgirk commented on #38
Updated with documents that need to be converted into markdown. Waiting for payment info from @ghettodev in the FAQ and Onboarding - Researcher and Research Fellows docs, need markdown version of Content Workflow from @visavishesh waiting for team sign off for research mandate

[2021-04-02 18:57] cipherix opened #78 "Project Plan: Summaries of Paywalled Content"
**Description**

Several high-profile industry publications live behind paywalls, on platforms such as ACM, ieeexplore.ieee.org, EDANZ, Springer, amongst many others. In fact, 13.2% of papers that would have made it to Research Pulse in the month of March were excluded due to subscription requirements. Unfortunately, directly hosting these papers would certainly entail legal ramifications.

There

[2021-04-02 23:12] jamesmcgirk commented on #56
Added a column to the onboarding tracking sheet listing referrals

[2021-04-06 19:19] visavishesh opened #79 "Research Pulse v1.5"

[2021-04-06 19:20] ghettodev commented on #67
@visavishesh to present  completed taglist on Friday reaching out to @cipherix to get integration with Research Pulse
- Will present dashboards with tags for presentation

[2021-04-06 19:32] jamesmcgirk commented on #38
Update the Content Publishing Workflow and @visavishesh will validate it.

[2021-04-06 22:04] jamesmcgirk commented on #38
Removing the redundant Onboarding FAQ.

[2021-04-07 16:07] jamesmcgirk opened #80 "Project: Soliciting casual researchers with forum comments"
### Project Description

We need an onboarding process for research associates who are looking for a less intense commitment. This plan would compensate researchers for creating comments on the forum.

### Work Plan

*Enter the steps as reflected in your Work Plan:*

- [x] step 1
- [ ] step 2...

### Resources

- [link to project plan](#linkme)
- [link to process doc/proof of concept](#linkme)
- [

[2021-04-07 16:18] jamesmcgirk opened #81 "Project: Subscription to Adobe Stock"
### Project Description

Images increase engagement and add professional polish. Adobe's Stock footage archive contains many excellent tech-related images, templates, videos, 3D renders.

[Pricing from Adobe ](https://stock.adobe.com/sg/plans)

**Content:** Professional stock imagery would make articles and discussions posts more visually appealing.
**Engagement:** Graphics increase [engagement](h

[2021-04-07 17:36] jamesmcgirk commented on #35
@zubepaul presented the new version

[2021-04-07 17:51] jamesmcgirk commented on #35
@jamesmcgirk add Eric's template to the ticket

[2021-04-07 19:24] visavishesh opened #82 "Present SCRF Project Plan to the team on Wed April 21"
- [ ] April 9 Define SCRF quarterly goals
- [ ] April 12 Define department-level goals & assign projects
- [ ] April 12-14 fill out quarterly project targets
- [ ] April 14 Review quarterly project targets

[2021-04-08 02:02] jamesmcgirk commented on #77
@ghettodev can we close this one?

[2021-04-08 02:10] jamesmcgirk commented on #3
I'm going to move this one to complete. (Discovery Kits duplicates this)

[2021-04-08 02:13] jamesmcgirk commented on #27
This describes the process of creating a press kit. If I'm understanding our process correctly, I would like to use the process we've developed to create a press kit for Blockchain Clubs. Can we close this ticket @ghettodev ? Or do we wait until all of the materials are posted in MD?

[2021-04-08 02:14] jamesmcgirk commented on #75
I think we've basically done this one

[2021-04-08 02:15] jamesmcgirk commented on #58
moving this to the Ice Box until we have information about micro-granting

[2021-04-08 02:16] jamesmcgirk commented on #44
@Coinproz Just thought I'd check in and see how the process is going - anything I can help with?

[2021-04-08 02:19] Coinproz commented on #44
Sent a doc to Rich and am waiting on feedback, but have not heard back yet

On Wed, Apr 7, 2021 at 10:16 PM James McGirk ***@***.***>
wrote:

--
L. Chris Bates
Research Associate, The International Black Business Museum
http://www.theibbm.org/

[2021-04-08 02:21] jamesmcgirk commented on #44
@Coinproz thanks! I think they're still finalizing the micro-grants

[2021-04-08 02:22] Coinproz commented on #44
https://docs.google.com/document/d/1kNiDX6PBHIQwXHaTvgWvIXp-Cd4FgVu05lVwdVrmX5o/edit?usp=sharing

There is the link if you haven't seen it

On Wed, Apr 7, 2021 at 10:21 PM James McGirk ***@***.***>
wrote:

--
L. Chris Bates
Research Associate, The International Black Business Museum
http://www.theibbm.org/

[2021-04-08 02:37] jamesmcgirk commented on #44
Thank you!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Coinproz ***@***.***>
Sent: Wednesday, April 7, 2021 7:23:05 PM
To: smartcontractresearchforum/research_team ***@***.***>
Cc: James McGirk ***@***.***>; Mention ***@***.***>
Subject: Re: [smartcontractresearchforum/research_team] Project: Create Plan for African outreach (#44)

https://docs.google.com/doc

[2021-04-08 17:09] jamesmcgirk commented on #34
Moved to in progress as version 1 is in use

[2021-04-08 18:50] jamesmcgirk commented on #51
Copy MakerDAO one and update for SCRF @jamesmcgirk

[2021-04-09 16:46] jamesmcgirk commented on #80
Just adding a few notes for this project.

[2021-04-12 19:33] jamesmcgirk commented on #58
This one has been replaced by #72 so I'm closing for now.

[2021-04-12 19:33] #58 closed

[2021-04-12 19:34] jamesmcgirk commented on #63
The implementation docs are completed, moving to complete. Unclear why this is slugged as Q2, Q3 project.

[2021-04-12 19:38] jamesmcgirk commented on #75
Added a checkbox to reflect need to update GtM template

[2021-04-12 19:43] jamesmcgirk commented on #59
@jamesmcgirk needs to update the proposal docs with the new description.

[2021-04-12 19:48] jamesmcgirk commented on #61
For now, this is on the backburner. Once Use Cases are a regular feature, this project can be recast to differentiate it from use cases.

[2021-04-12 21:25] cipherix opened #83 "Project: Engagement Opportunity for Recent Grads (AMAs)"
### Project Description

The process of curating papers and generating Research Pulse could be further used to create engagement opportunities. Recent grads are particularly eager to discuss their papers, but due to the peer review process, their publications are siloed in paywallet academic journals. Identifying recent grads after Research Pulse curation can result in more targeted outreach and u

[2021-04-13 23:35] jamesmcgirk commented on #57
(removed a comment for cipherex that belonged on another post)

Might be interesting to identify opportunities for live-tweeting (and retweeting other live tweeters)

[2021-04-14 20:49] jamesmcgirk opened #84 "Project: access to stock footage"

[2021-04-14 20:52] #84 closed

[2021-04-14 20:56] jamesmcgirk commented on #81
@ghettodev suggests that we use Stocksy instead. Next step would be comparing pricing to Adobe.

[2021-04-14 22:26] jamesmcgirk opened #85 "SCRF Board of Advisors"
NB This will probably end up being part of the academic titles project. Many non-profit or 'prestige' for-profit organizations have an advisory board. It's more of an honor than anything else and is often compensation for a major donation. It could be a compelling way to keep high-wattage academics in our orbit.

[2021-04-14 22:56] jamesmcgirk commented on #59
Include Board of Advisors as top level?

[2021-04-16 21:39] visavishesh opened #86 "Proposed RT improvements"

[2021-04-16 21:41] jamesmcgirk commented on #81
Contacted corporate HQ to make sure they don't already have an arrangement.

[2021-04-22 15:48] jamesmcgirk commented on #75
Vishesh updated the GtM

[2021-04-22 16:31] jamesmcgirk commented on #51
Ready for MD.

[2021-04-22 16:33] jamesmcgirk commented on #44
@Coinproz moving this over to 'In Progress'

[2021-04-22 16:36] jamesmcgirk commented on #61
Might be nice to do a Technical Interview for one of the REDSHIFT papers (or perhaps Coding a DeFi bot)?

[2021-04-23 17:43] visavishesh opened #87 "Template Improvement: References"
Decide on how to do citations vs footnotes vs glossary.

[2021-04-23 17:49] ghettodev commented on #87
Ready for presentation in the April 28th team call, please. Let's ensure the associated workflow docs and the markdown template reflects the changes after we arrive at a consensus.

[2021-04-23 23:21] jamesmcgirk commented on #38
@jamesmcgirk review for MD

[2021-04-23 23:22] jamesmcgirk commented on #51
@jamesmcgirk review for MD

[2021-04-26 19:05] visavishesh opened #88 "Process Improvement: Roles and Expertise"
Work with engagement to create team contact & expertise signups (potentially merge with badges)

- [ ] Expertise for use by engagement team
- [ ] Specific expectations of researchers: engagement on existing summaries/discussions, peer reviews, post-ideas, engagement/feedback on post-ideas, content for outreach (social, amas, interviews, etc)
- [ ] Process for engagement to coordinate getting resou

[2021-04-26 19:05] visavishesh opened #89 "Process Improvement: Regular RT Communications"
Create schedule for Discord communications to content team

[2021-04-26 19:16] visavishesh opened #90 "Process Improvement: Mini-Post Content Type"
Work with engagement team to create low-hanging mini-post content type to revive old threads and create new connections between posts.

- [x] Generate example for Flashboys/bots
- [ ] Generate example for 1559
- [x] Templatize the mini post

https://docs.google.com/document/d/1LKuqwTZukQGvUMzjwCVVaMK8AfHL-aUmk_GvwgsrEuo/edit#

https://hackmd.io/bCB-wao_Twq1vsrmvgDJSA

[2021-04-26 20:06] jamesmcgirk opened #91 "Note"
jdhsvcjhds

[2021-04-26 20:06] jamesmcgirk commented on #91
### Project Description

*Describe the idea/project in no less than 200 characters*. Please be very specific about precisely what the project does, and why it exists.

### Work Plan

*Enter the steps as reflected in your Work Plan:*

- [x] step 1
- [ ] step 2...

### Resources

- [link to project plan](#linkme)
- [link to process doc/proof of concept](#linkme)
- [link to any other relevant support

[2021-04-27 16:34] jamesmcgirk commented on #51
@ghettodev this one is ready for markdown - please let me know if you have comments or suggestions for improvement

[2021-04-27 16:42] jamesmcgirk commented on #79
@ghettodev [this one](https://docs.google.com/document/d/1Dxl4mpLQ01QrSvJC7HAl3xWR92aiIo4QgFwyk9w53Hk/edit#) is ready for markdown once we make a decision about the selection criteria graphic.

[2021-04-27 16:47] jamesmcgirk commented on #38
@ghettodev [mandate](https://docs.google.com/document/d/1qkpj-aHYQ_uHVRYxZUHrQJJu2T6wvNMJDxHp2xXXygw/edit), [style guide](https://docs.google.com/document/d/1o5GO9cbqgYNpwBM90LGGC7nABWcLl2h4BhShm1MeV50/edit), [Content Workflow Pipeline](https://docs.google.com/document/d/1Dxl4mpLQ01QrSvJC7HAl3xWR92aiIo4QgFwyk9w53Hk/edit#). You mentioned that you'd handle the [Onboarding - Research Fellow and Resea

[2021-04-27 18:34] zubepaul commented on #34
Working on version 2 in preparation for public markdown release.

[2021-04-27 21:13] jamesmcgirk opened #92 "Project: Discovery kit for 'root'"
**Description:**

1- PDF collateral explaining what SCRF is and how to get started on writing summaries.

2- "referral program" collateral

**Workplan**

- [ ] Adapt onboarding: research fellow doc
- [ ] Adapt referral bonus PPT
- [ ] Ops okay
- [ ] Create PDFs
- [ ] Distribute

[2021-04-27 22:01] #92 closed

[2021-04-27 22:02] jamesmcgirk commented on #92
closed after Ops decision

[2021-04-27 22:20] jamesmcgirk opened #93 "Project: Expanding GtM Tracking Spreadsheet (adding additional entries)"
### Project Description

Much of the content on the board has yet to have a GtM strategy, this is the first step.

### Work Plan

*Enter the steps as reflected in your Work Plan:*

- [x] Cross-reference existing entries with SCRF
- [x] Update as needed
- [ ] Cross-reference with GitHub
- [ ] Cross-reference with Google Drive
- [ ] Identify promising candidates for ET attention

### Resources

- [l

[2021-04-28 01:14] bbeats commented on #74
Groups like [BAF](https://www.blockchainacceleration.org/) and [BEN](https://blockchainedu.org/) have tried building such networks (to my knowledge BAF is doing a better job right now). I know the folks running BAF if we want to speak to them again about collaborating.

This could also be an easy intern summer project - hire an undergrad student to map this out and do initial outreach

[2021-04-28 03:46] ghettodev commented on #74
Let's follow up on this. I know BEN and I've had a few calls with BAF. We have the grants program is ready for some additional pilots I think.

[2021-04-28 03:48] ghettodev commented on #38
Cheers, I'll get them started in hackmd, and then we can do a training session with the team.

[2021-04-28 04:07] ghettodev commented on #51
Hackmd draft created: https://hackmd.io/2yTDKC9bSC2-G6vkwHxSTg

[2021-04-28 15:20] tjd233 commented on #74
I did put together a list of 80+ university clubs/orgs for this specific project. You can find it on the google drive. Feel free to reach out if you have any questions.

[2021-04-29 18:40] jamesmcgirk commented on #59
moved to ice box until we have more people in the forum (not necessary for a small team)

[2021-04-29 18:49] jamesmcgirk commented on #81
Use an NFT, point out to Rich when we need something.

[2021-04-29 21:01] jamesmcgirk commented on #61
Created a ticket for a BitML/Bitcoin Covenants/Taproot interview.

[2021-04-30 19:07] visavishesh opened #94 "Post-idea moderation criteria"
https://docs.google.com/document/d/190rBZGylcaHBojMSMm-ZfIxPdLxzKv2I1G1zLjIhzfk/edit#heading=h.ujjvwbujjbt6

[2021-04-30 19:12] visavishesh opened #95 "Content Moderation Workflow"
[Integrated](https://docs.google.com/document/d/11S6Tf1aIJh8jobhZFR9QcCyAQAnxEHFYW0-NtcNVzj4/edit#)

[Moderation](https://docs.google.com/document/d/190rBZGylcaHBojMSMm-ZfIxPdLxzKv2I1G1zLjIhzfk/edit)

[2021-05-03 04:03] jamesmcgirk opened #96 "Project: Small slide deck introducing SCRF"
James needs to create one for Seth to use for 10 min presentation to the AI club on May 6th.

[2021-05-03 04:04] jamesmcgirk opened #97 "Project: SQAI Conference Funding"
Symposium for Quantum Artificial Intelligence

Seth is proposing a small grant to sustain their Quantum Blockchain Club during their first conference.

potential - a video presentation, a brief presentation, appearance on a poster, recruitment for potential researchers = benefit for SCRF

[2021-05-03 18:38] zubepaul commented on #35
Drafting "Gold Standard" 2-page GTM with Eugene

[2021-05-03 19:07] visavishesh commented on #90
Need to draft examples this week with @cipherix

[2021-05-04 23:30] jamesmcgirk commented on #97
@ghettodev would you like me to work on this with Seth? (First step would be putting together a RIP)

[2021-05-04 23:49] ghettodev commented on #97
I don't think it's necessary for a sponsorship. I've asked @Gearlad to share a doc with me that has information about the request.

[2021-05-05 00:00] jamesmcgirk commented on #44
Removed my name from this since Larry is running the project.

[2021-05-06 00:04] jamesmcgirk commented on #55
Have a basic plan in place, could we be something to consider with 'Engineering Problems' etc. Moving to Proposed for possible discussion during my one-on-one

[2021-05-07 14:51] zubepaul commented on #34
Discuss public nature of this document

[2021-05-07 14:52] zubepaul commented on #35
Discuss merging with Content Creation Workflow

[2021-05-07 17:52] #89 closed

[2021-05-10 19:19] #67 closed

[2021-05-10 19:20] visavishesh opened #98 "Social Media Teaser Content"
- [ ] Update to GTM template
- [ ] Add "label" for tracking content-oriented copy

[2021-05-10 19:31] #86 closed

[2021-05-10 19:34] visavishesh opened #99 "Badges"
Project Description
Roles and responsibility breakdowns for badges for SCRF team members and ecosystem participants.

Work Plan
Enter the steps as reflected in your Work Plan:

- [ ] Develop proposal for badges

General Tips
SCRF Research Improvement Proposal
SCRF Research Improvement Process
Provide updates to this ticket at regular intervals. These tickets need to represent an accurate audit tra

[2021-05-10 21:01] jamesmcgirk commented on #61
Merged with AMA content type per 5/10

[2021-05-10 21:01] #61 closed

[2021-05-12 17:25] Coinproz commented on #52
Create a path for engagement to establish a pipeline for discussing tags and definitions to be added into the main glossary.  If the community has an opportunity to discuss the merits of a tag or definition, the process of adding to the glossary would be more democratic and by proxy generate engagement.

[2021-05-12 17:25] Coinproz commented on #52
Opportunity to use introduction/101 posts to present industry-specific terminology that can be discussed by the community on whether definitions or tags should be adopted into the general smart contract/blockchain lexicon.

[2021-05-12 20:34] jamesmcgirk commented on #97
Gearlad reports: . We'll have the recorded conference uploaded to Facebook and I'll send it. It will be fully held in webinar format on 5/20 and 5/29 (Taiwan's regulations for covid were just ameliorated yesterday, so now it will be fully online).

[2021-05-14 19:05] #52 closed

[2021-05-14 19:05] #29 closed

[2021-05-14 19:09] #35 closed

[2021-05-14 19:16] Coinproz opened #100 "Research Improvement Proposal: SCRF Podcast"
Proposal document outlining an idea for a SCRF Podcast:

https://docs.google.com/document/d/1ABeW1keEKOUT8EAn2rYj4Yo6d5g9xfwOkR2-nLPT76o/edit?usp=sharing

[2021-05-17 19:00] visavishesh opened #101 "Updated integrated content publishing workflow for github"
https://docs.google.com/document/d/11S6Tf1aIJh8jobhZFR9QcCyAQAnxEHFYW0-NtcNVzj4/edit#heading=h.hx4ss3adaomk

https://hackmd.io/pt5RMuwSQ0G1EQWGeW3s6g?both

[2021-05-17 19:06] visavishesh opened #102 "Establish presentation layer of metrics for engagement team"
Description:

Resources:
[SCRF: Coverage Map & Metrics](https://docs.google.com/spreadsheets/d/1-ocDv4V1GvOIxQ2XvgTSBrEgN0ztbaczXczBhPnnj-E/edit#gid=1870266059)

[2021-05-17 19:18] visavishesh opened #103 "Researcher Playbook"
https://hackmd.io/R-2NCDkuSyCWsvjN5Zy9ww

[2021-05-17 19:47] #94 closed

[2021-05-17 21:01] zubepaul commented on #95
@visavishesh @jamesmcgirk
Engagement edits and comments made on the Integrated workflow file. Please review/edit

[2021-05-17 22:25] zubepaul commented on #34
Playbook and Workflow separated. Playbook ready for review and edits @jamesmcgirk @visavishesh

[2021-05-19 19:08] zubepaul commented on #34
Playbook is ready for final review
@jamesmcgirk @ghettodev @visavishesh

[2021-05-20 20:53] jamesmcgirk opened #104 "Combining 'Engagement Tracking' with 'Outreach Tracking' docs"
### Project Description

We need to move toward a streamlined outreach tracking system that will take into account leads generated by engagement, content, and other sources. Document, which will be a spreadsheet, should contain no more than two sheets, one that has active prospects, the other that will serve as a repository for research and tracking.

The document should separate the intended goal

[2021-05-20 21:06] jamesmcgirk commented on #104
Per discussion with @ghettodev I will try to have this complete for presentation on Wednesday 5/26 or Friday 5/28.

[2021-05-20 21:10] jamesmcgirk opened #105 "Project: Article for Columbia alumni mag"
### Project Description

*James will propose a feature describing Columbia University's 'DeFiant ones' - the professors, alumni and students swallowing Wall Street whole. The article will be 1400-2000 words long.

### Work Plan

*Enter the steps as reflected in your Work Plan:*

- [x] Pitch article
- [ ] If accepted, reach out to subjects
- [ ] Interview subjects
- [ ] Transcribe interviews
- [ ]

[2021-05-20 23:20] #105 closed, assigned to jamesmcgirk

[2021-05-20 23:21] jamesmcgirk opened #106 "Project: Pitch an article about DeFi to an Alumni Magazine article"
### Project Description

*James will propose a feature describing the 'DeFiant ones' - the professors, alumni and students swallowing Wall Street whole. The article will be 1400-2000 words long.

### Work Plan

*Enter the steps as reflected in your Work Plan:*

- [x] Pitch article
- [ ] If accepted, reach out to subjects
- [ ] Interview subjects
- [ ] Transcribe interviews
- [ ] Write article
- [

[2021-05-21 16:49] zubepaul commented on #95
Refined Moderation Workflow ready for usability review.
File below, please update ticket with a link

@visavishesh @jamesmcgirk

https://docs.google.com/document/d/1dhQssyGpi2NarlpuN7wDgylUvnjUHa63kO3tao88oCs/edit

[2021-05-24 23:24] eleventh19 opened #107 "Project: ACM Digital Threats Special Edition Editing/PM"
### Project Description

This project is about helping create an ACM Digital Threats: Research and Practice Special Issue on blockchain. That would entail:
1) putting together a call for proposal
2) marketing to our network (and ACM does the same)
3) review submissions and peer review articles
4) publish issue
[Special Issue Editors.pdf](https://github.com/smartcontractresearchforum/research_team/

[2021-05-24 23:49] eleventh19 opened #108 "Project: General Grant Process Doc"
### Project Description

The goal of this project is to create a general grant process document that will serve as a template for any grant programs that SCRF launches, starting with Impact Awards, Pan African Grants, and others. The document will then be edited and shared on github.

### Work Plan

*Enter the steps as reflected in your Work Plan:*

- [x] Eugene to review the grants process
- [x]

[2021-05-25 01:04] jamesmcgirk opened #109 "Mandarin translations of SCRF material"
Spearheaded by Seth and Cindy Lu, translating grant material relating to SCRF into Mandarin Chinese.

[2021-05-25 14:22] zubepaul commented on #34
Playbook ready for public markdown version
@jamesmcgirk @ghettodev

[2021-05-27 17:48] jamesmcgirk opened #110 "Project: Research Report on Middle Eastern and North African Blockchain Technology"
Intended to find leads for outreach team. James is working on a report detailing cryptocurrency and DLT in MENA region. Report will focus on major areas for discovering networks of researchers and potential partners. So far: Gulf: UAE, Bahrain, Saudi Arabia; Levant: Israel, Turkey; North Africa: Egypt, Algeria/Tunisia/Morocco. Additional information on Iran as a research subject

[2021-05-27 17:49] jamesmcgirk commented on #97
Moving to Completed.

[2021-05-28 18:27] #101 closed, assigned to visavishesh, cipherix

[2021-05-28 18:31] #90 closed

[2021-05-28 18:31] #103 closed, assigned to visavishesh

[2021-06-01 16:39] jamesmcgirk opened #111 "Project: Create an Outreach Plan"
### Project Description

Outreach refers to the direct engagement of potential partners. The outreach process is designed to minimize overhead, identify blockers and trends and expedite integration.

### Work Plan

- [x] Create basic process
- [x]  Refine with Project Manager
- [ ]  Present to Rich (and Eric)
- [ ]  Present to Ops
- [ ]  Implement
- [ ]  Refine

### Resources

- [link to project p

[2021-06-04 02:57] eleventh19 commented on #44
Adding links to the most current draft of the [project plan](https://docs.google.com/document/d/1GAPx_PXkQzZ5BIBYZAo8YMUX1vZCqQc5U8XLVtui0m0/edit#) and to the [draft of the outreach](https://docs.google.com/document/d/1GAPx_PXkQzZ5BIBYZAo8YMUX1vZCqQc5U8XLVtui0m0/edit#). An initial outreach list was added as a separate tab in the Outreach Tracking sheet.

@Coinproz take a look at the outreach doc a

[2021-06-04 18:16] zubepaul commented on #95
@visavishesh @jamesmcgirk @ghettodev @eleventh19
Edits completed and ready for additional round of review for Moderation Workflow (link in the comment above)

[2021-06-07 01:19] eleventh19 commented on #44
Team met on 6/1 and is meeting again on 6/8 to iron out our outreach plan

[2021-06-09 02:27] jamesmcgirk opened #112 "Project: Produce Outreach Material"
### Project Description

We need documents that will allow us to quickly communicate SCRF's mission and how to get involved with the organization. Versions of the one-pager and press kit should be update with new projects we've developed and the language that we've developed from the branding exercise.

*Producing (or rather, adapting) a one-page document and a longer press kit with information ab

[2021-06-09 02:36] jamesmcgirk commented on #112
Once the branding exercise is completed, I'll refresh/rewrite the one-pager and then produce a more extensive pack with information about grants programs.

[2021-06-09 02:39] jamesmcgirk opened #113 "Project: Branding Exercise / Other Material"
### Project Description

Conduct and record a series of interviews with SCRF researchers. Responses will be mined for emotional language, pleasure, and pain points about SCRF. The results of this interview will be used for developing revised outreach material.

### Work Plan

*Enter the steps as reflected in your Work Plan:*

- [x] Draw up questions
- [x] Schedule interviews with researchers
- [x]

[2021-06-09 21:00] ghettodev opened #114 "Place all public facing documents into the Docs Repo"
https://docs.google.com/document/d/1WSKokXrzjcwAXd38EWdx2CU7S0bYQV0xdjseQmM8bcg/edit#

Provide an explanation here and outline the steps.

Keep track of the docs in motion.

Update the ticket as you complete work.

Mention @ghettodev when docs need signoff.

Link to this issue when submitting PRs

[2021-06-10 20:11] cryptohazard commented on #44
I just requested access to the documents.
I brainstormed some weeks ago with @Coinproz on how to start with some French speaking places.

[2021-06-11 15:47] jamesmcgirk commented on #113
Eventually this should be combined with the Branding Exercise project.

[2021-06-11 16:07] eleventh19 commented on #44
Hey @cryptohazard, I shared the requests that I got in. Feel free to message me on discord or email to get access to any others you need for this. I'll also keep you in the looping on any meetings we schedule relating to this grants program

[2021-06-18 17:35] zubepaul commented on #95
Both the moderation workflow and moderator playbook are in HackMD. @jamesmcgirk and @ghettodev, could you please look at these for tone from a perspective of them being outword facing documents?

[2021-06-19 06:01] ishgun178 commented on #51
Completed and posted on GitHub.

[2021-06-19 06:17] ishgun178 commented on #63
Research Improvement Proposal doc and SCRF: Process - Research Improvement Proposal both have been completed added to GitHub.

[2021-06-21 18:13] ishgun178 commented on #65
This one-pager has been completed and added to GitHub under the '[Research Associates for Grants](https://github.com/smartcontractresearchforum/docs/blob/main/en/grants_general_contributors.md)' doc.

[2021-06-21 22:54] eleventh19 opened #115 "Project: Start weekly community calls"
### Project Description

Set up a weekly onboarding meeting for any members, especially new ones, to get to join and learn about SCRF. We’ll discuss what people are working on/interested in and how SCRF can best help support more conversation around blockchain research. Upcoming projects and grant programs will also be discussed.

### Work Plan

- [x] create github project ticket
- [x] tag team an

[2021-06-21 23:13] eleventh19 commented on #100
We have been updating the linked podcast doc, have recorded our first interview, and are planning our first YouTube video pilot using that interview. Working on the production plan

[2021-06-21 23:14] eleventh19 commented on #44
We recently updated the github doc draft, it's under final review and to be posted later this week. Initial outreach will follow

[2021-06-21 23:27] eleventh19 opened #116 "Project: Create A Notable Works Bounty Program"
### Project Description

One of the content types here at SCRF is Notable Works, which are lists of key readings in each category area to orient researchers to notable works and previous research. You can see the Notable Works that are published here.

SCRF will also have the capacity to use the bounty program to surface talent that could add to the team’s collective intelligence. While the bounty

[2021-06-23 03:33] ishgun178 commented on #95
I have suggested some edits to the [Moderation Workflow on HackMD](https://hackmd.io/9NgehLoXS--WU6ZSW6K2gg) and the [Moderator Playbook on HackMD](https://hackmd.io/Vh2sYc20SbaxsEgUG-Hn4w) based on the style guide.

[2021-06-23 18:20] ghettodev opened #117 "Reading Group"
- gets people socialized
mentoring etcv

[2021-06-23 18:23] ghettodev commented on #117
link to proposal {]

[2021-06-23 18:55] ghettodev opened #118 "Impact Awards: Public facing materials"
We need to make:

- [x] forum thread about the awards
- [x] github page for past winners, awards in general
- [ ] determine the social strategy for monthly awards

[2021-06-23 18:56] eleventh19 opened #119 "Impact Award #1 Engagement Strategy"
- Specific social copy for the first impact award
- Any other information to be shared / other venues to share on?
- Create a logo
- Doc done by mid-week
- Socials the following week

[2021-06-23 18:58] eleventh19 commented on #118
@jamesmcgirk can you please help review the language for the [forum post](https://docs.google.com/document/d/11VFQYhtPhFdebX-S-hOhU9QiAajpSoQJv8aVbcNzpLw/edit)

[2021-06-23 18:59] jamesmcgirk commented on #118
Sure. Reverted some of my older edits. Happy to take another look after.

[2021-06-23 19:08] eleventh19 commented on #93
@jamesmcgirk @zubepaul are there any open tasks relating to this?

[2021-06-23 19:09] eleventh19 commented on #83
I believe this is completed as we've had the [AMA with the BitML authors](https://www.smartcontractresearch.org/t/a-conversation-with-the-creators-of-bitml/437#a-conversation-with-the-creators-of-bitml-1)

[2021-06-23 19:12] eleventh19 commented on #106
@jamesmcgirk are you still working on this or should we icebox this for now?

[2021-06-23 19:15] zubepaul commented on #93
None that I am aware of.

[2021-06-24 06:03] ghettodev commented on #116
Getting close to a final draft. still need to re-write all the notable works posts as links to github pages so we can accept PRs.

Also revising so we can have one long-lived bounty for all notable works categories.

[2021-06-24 06:05] ghettodev commented on #115
Thoughts on when we can have our first call?

[2021-06-24 06:07] ishgun178 commented on #115
I am meeting with Loïc probably this Friday to help him get a lay of the land. Perhaps we can merge that call as one of our onboarding calls and @ghettodev  and @eleventh19  can join?

[2021-06-24 10:24] jamesmcgirk commented on #115
happy to join the call

[2021-06-24 12:46] eleventh19 commented on #115
@ishgun178 what time EST on Fri? I can only do 1p-2p. We can trial it this week with Loïc and then make a more open one next week.

I think it's a good idea to do one that's ideally around noon EST and another call that's late EST (~10p-3a) to accommodate different time zones

[2021-06-24 12:52] #110 closed, assigned to nobody

[2021-06-24 14:03] jamesmcgirk commented on #115
would it make sense to do this asynchronously? We could discuss and update on a separate Discord channel

[2021-06-24 14:49] #93 closed

[2021-06-24 20:37] ghettodev commented on #44
Final version here: https://github.com/smartcontractresearchforum/docs/blob/main/README.md. WIll update if there are tweaks.

[2021-06-24 21:21] eleventh19 commented on #44
Proposed a PR with a minor change, looks good to me otherwise

[2021-06-24 21:43] eleventh19 commented on #107
Met with the Editor in Chief (EIC) today. I think this makes sense to spend time, going to present at the next ops meeting and will review documentation

[2021-06-24 21:54] jamesmcgirk opened #120 "Project: Develop New Content Type: "X and the Blockchain""
## Description
An occasional informal Survey of Knowledge (SoK) of blockchain-related research being conducted in an 'unusual' discipline such as anthropology, sociology, art, digital humanities, or communications.

## Value to SCRF
*Content*: generates a series of articles which require less research than a typical summary.
*Engagement*: unexpected combinations of blockchain technologies and othe

[2021-06-25 02:32] eleventh19 commented on #104
@jamesmcgirk can this be closed or are there any outstanding tasks?

[2021-06-25 02:35] eleventh19 commented on #34
@ishgun178 is this being converted to .md?

[2021-06-25 02:40] eleventh19 commented on #100
The production plan for the pilot was approved and the process has been started

[2021-06-25 02:41] eleventh19 commented on #113
@jamesmcgirk and @eleventh19 meeting on 6/29 to discuss plan

[2021-06-25 02:42] eleventh19 commented on #108
the draft has been created and updated a bit already. waiting to go through the process of the first grant issuance with impact awards and then Pan African grants, and then will revise

[2021-06-25 02:45] eleventh19 commented on #72
@ghettodev should we close this or smartcontractresearchforum/operations#45 ? Unless we want to keep this open for other micro-grant ideas

[2021-06-25 03:35] ghettodev commented on #120
Can you add the template to this ticket and some details about what this task is about?

[2021-06-25 03:46] ghettodev commented on #100
Can we tighten up that project plan linked in the description, lots of notes in there still. I'd like to post it to the repo.

[2021-06-25 03:54] ghettodev commented on #72
This one got morphed into the https://github.com/smartcontractresearchforum/docs/blob/main/en/grants_general_contributors.md doc. I've updated the description.

Should probably break out the other tasks into new issues or link them to existing tickets...

[2021-06-25 15:16] zubepaul commented on #34
@eleventh19 This is converted to .md and is being updated in the other ticket associated with moderation materials

[2021-06-25 15:41] zubepaul commented on #95
Edits have been made except for the edits that cross both Moderator and Researcher Playbook.

[2021-06-26 00:04] eleventh19 commented on #118
After being discussed in the ops meeting, the forum post copy and the [github draft](https://docs.google.com/document/d/18fpR52-EpI-84EuiZjc_RPQRKDNbGKXcUefIEtH72cg/edit#) were updated

[2021-06-28 17:43] eleventh19 commented on #119
Next steps from outreach team:
1) finalize the [github language](https://docs.google.com/document/d/18fpR52-EpI-84EuiZjc_RPQRKDNbGKXcUefIEtH72cg/edit#heading=h.1bn0r965c7th)
2) finalize the [forum post language](https://docs.google.com/document/d/11VFQYhtPhFdebX-S-hOhU9QiAajpSoQJv8aVbcNzpLw/edit)

[2021-06-28 19:09] eleventh19 commented on #95
Needs to be approved in hackMD

[2021-06-28 19:10] eleventh19 commented on #34
Needs to be approved in hackMD

[2021-06-28 19:11] #87 closed

[2021-06-28 19:15] eleventh19 commented on #38
@eleventh19 update to reflect a general onboarding ticket

[2021-06-28 19:18] #68 closed

[2021-06-28 19:19] #51 closed

[2021-06-28 19:20] ghettodev commented on #78
We have a subscription with Springer. IEEE is a bit of a pain and may take longer.

As we have a framework to provide researchers with journal access let's consider this done for now.

[2021-06-28 19:20] #78 closed

[2021-06-28 19:27] #104 closed, assigned to jamesmcgirk

[2021-06-28 19:28] zubepaul commented on #95
Moderation workflow is blocked by [Moderation Playbook](https://github.com/smartcontractresearchforum/research_team/issues/34) as links in the Workflow refert to the Moderation Playbook.

[2021-06-28 19:28] ghettodev commented on #104
merged with the existing outreach spreadsheet.

[2021-06-28 19:31] jamesmcgirk commented on #120
Refer to [the following ticket](https://github.com/smartcontractresearchforum/research_content/issues/139)

[2021-06-28 19:34] eleventh19 commented on #98
this was an idea of how to get researchers to write initial social media copy. putting it into the ice box to circle back on how to improve coordination between content creation and engagement

[2021-06-28 19:36] eleventh19 commented on #27
this was an idea of how to get a one pager (for outreach). this ticket is being closed and we will track progress in the #113  branding exercise and #112  outreach material tickets

[2021-06-28 19:36] #27 closed

[2021-06-28 19:37] zubepaul commented on #102
The link to the spreadsheet has been added. Next step is to update the Description and how this document integrates with other processes.

[2021-06-28 19:41] eleventh19 commented on #72
@eleventh19 make consistent with Pan African, Impact Awards, and smartcontractresearchforum/research_team#119

[2021-06-28 19:50] eleventh19 commented on #112
currently blocked by the Branding Exercise #113

[2021-07-01 03:34] ishgun178 opened #121 "Project: Research on NFT Badges for Educational Certifications"
### Project Description

Gather resources such as current projects that offer NFT based educational certifications. Use this information as reference to plan out SCRF's NFT based Badging System.

### Work Plan

*Enter the steps as reflected in your Work Plan:*

- [x] Find and compile information about these projects that are publicly available on the web
- [ ] Dive deeper into specific hackathons

[2021-07-01 04:39] ishgun178 opened #122 "Project: Facilitating Undergraduate Blockchain Courses with Content Support"
### Project Description

This is a project for SCRF to enter into the undergraduate academic space, provide academic value to students, find potential candidates for our research grants, and establish a strong presence with professors, students, and universities. The goal is for SCRF to facilitate new and upcoming courses with resources to improve their academic offerings.

### Work Plan

- [x] Lo

[2021-07-01 04:54] ishgun178 opened #123 "Project: Aligning SCRF with Blockchain Clubs"
### Project Description

One of SCRF's goals is to generate student engagement on the forum while providing value to students. This project explores the possibility of achieving the goal by starting various initiatives by involving blockchain clubs.

### Work Plan

- [x] Explore the major initiatives of tier 1 and tier 2 blockchain clubs (narrow down the common initiatives across all clubs) and ga

[2021-07-01 05:46] ishgun178 opened #124 "Project: Explore the possibility of entering the Indian Blockchain Market"
### Project Description

India is experiencing an expedited boom in the crypto market, specially in the academic/education space. There are many opportunities for SCRF to be involved, generate value for other, and gain traction itself. This project is meant to explore this possibility by studying the Indian Blockchain Landscape and beginning engagement with high value individuals in India.

### Wo

[2021-07-01 06:13] ishgun178 opened #125 "Project: Tracking and updating our GitHub Public Repository and HackMD Docs"
### Project Description

We want all of our public facing docs to reside in the docs repo in absence of us having a proper website. To achieve this, we need to track the status of our docs, convert docs from google drive --> markdown --> GitHub, and keep our tickets on GitHub up to date.

### Work Plan

- [x] Meet with the leads of every SCRF team to identify all public facing docs for that team
-

[2021-07-01 06:23] ishgun178 opened #126 "Project: Ishgun's work during Summer 2021"
### Project Description

Ishgun's internship was the very first internship at SCRF, and we can use it as template to structure other internships at SCRF. Thus, it is essential to keep track of everything he's done. This task is also important to ensure that we do not loose momentum of the projects he started at SCRF.

### Work Plan

- [x] Write down Ishgun's work in detail, week by week.
- [x] Inc

[2021-07-01 06:38] ishgun178 opened #127 "Project: Onboarding document set for new hires"
### Project Description

It is important for any organization to have a standardized way of smooth onboarding for new hires. A detailed packet entailing all necessary information for onboarding would be a great way to begin this process.

### Work Plan

- [x] Create an initial onboarding document to facilitate new hires navigate through docs referenced during meetings. This would include links and

[2021-07-01 07:01] ishgun178 opened #128 "Project: Rating top blockchain academic journals and tallying most common journals referenced on SCRF"
### Project Description

It is important to keep track of which journals we've been referencing the most at SCRF so that we can try to reference papers from other good journals as well. But since there is no standard way to analyze the usefulness of other journals for our purposes, we should self devise criteria that works for us and rate these journals accordingly.

### Work Plan

- [x] Compile a

[2021-07-01 07:09] ishgun178 opened #129 "Project: A spreadsheet of well known blockchain podcasts for potential partnerships and for reference"
### Project Description

The aim here is to create a spreadsheet of active, well known podcasts with the goal of potential partnerships and for us to reference for our own podcast series. This list would be based on criteria such as potential overlap with SCRF's content, non biased discussions, features researchers, or highlights research reports.

### Work Plan

- [x] Do intensive research (by po

[2021-07-01 07:15] ishgun178 opened #130 "Project: Outreach List for Pan African Grants Program"
### Project Description

For the next steps concerning outreach and engagement for the Pan African Grants Program, it is essential to compile a well informed list of high value individuals (professors, industry professionals, etc.) who would be ideal people to approach for collaboration, support, and ideation about the program.

### Work Plan

- [x] Research via LinkedIn, University Websites, and

[2021-07-01 07:20] ishgun178 opened #131 "Project: Research Pulse Authors Data Collection"
### Project Description

It's important for SCRF to have information available about our research pulse authors for potential engagement, outreach, awards programs, etc. Thus, compiling detailed data on each RP author would come in handy.

### Work Plan

- [x] Identify three most significant papers in every RP
- [x] Find and compile information about each author for those three papers (per RP issu

[2021-07-01 07:22] ishgun178 commented on #131
I have completed this task for RP #14, #15, and #16 as of July 1st, 2021.

[2021-07-01 18:32] jamesmcgirk commented on #38
Check on the content workflow pipeline, convert to MD

[2021-07-01 18:34] ghettodev commented on #113
The project doc seems unfinished, can someone please turn that into a finished project plan.

[2021-07-01 18:42] jamesmcgirk commented on #115
james to schedule a time to discuss this on 7/2

[2021-07-01 18:47] eleventh19 commented on #115
Thanks @jamesmcgirk! To your previous question, we should try and see what works best.

FYI, if we do a live call, running one the week starting 7/5 would be hard for me, but I'd be happy to run one the week starting 7/12.

[2021-07-01 18:49] eleventh19 commented on #113
Sure, I'll work on that

[2021-07-01 19:19] jamesmcgirk commented on #38
@zubepaul we should probably open another ticket for the rest of the onboarding materials

[2021-07-01 20:10] jamesmcgirk commented on #113
I can get it started, I know you have a ton on your plate

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Eugene Leventhal ***@***.***>
Sent: Thursday, July 1, 2021 9:49:10 PM
To: smartcontractresearchforum/research_team ***@***.***>
Cc: James McGirk ***@***.***>; Mention ***@***.***>
Subject: Re: [smartcontractresearchforum/research_team] Project: Branding Exerc

[2021-07-01 23:16] eleventh19 opened #132 "Project: Project Management Job Description Creation"
### Project Description

*Describe the idea/project in no less than 200 characters*. Please be very specific about precisely what the project does, and why it exists.

### Work Plan

*Enter the steps as reflected in your Work Plan:*

- [x] create github ticket
- [x] create intial draft
- [x] share with ops team
- [x] incorporate feedback
- [x] create public facing copy
- [x] convert to md
- [x] up

[2021-07-02 00:00] ghettodev commented on #132
I've added my revisions

[2021-07-02 12:57] jamesmcgirk opened #133 "Project: Develop all onboarding material"
### Project Description

The current onboarding material is designed for research fellows, as more casual users come into the fold they will need onboarding too.

### Work Plan

*Enter the steps as reflected in your Work Plan:*

- [x] Review existing onboarding materials
- [x] Discuss requirements
- [x] Develop a PPT designed for the weekly onboarding calls
- [x] Develop a workflow
- [x] Onboardin

[2021-07-02 13:03] jamesmcgirk commented on #133
@zubepaul Rich asked me to lend a hand developing materials - I'll start looking at Ishgun's stuff, we can talk about what we're missing... Eugene and I are talking about doing weekly onboarding calls so I'm thinking we'll need a slide deck for those calls... we'll need work flow doc... and we can incorporate the existing [onboarding tracking sheet](https://docs.google.com/spreadsheets/d/1e-MjEFGD

[2021-07-02 13:44] jamesmcgirk opened #134 "Project: Create 'Salon' threads with highlights from Discord intended to start conversations"
### Project Description

Problem: great discussions occurring on Discord that aren't making the leap into forum. A potential solution: creating general purpose 'salon' threads which will contain excerpts of the Discord conversations, and other chat starters.

### Work Plan

- [ ] Create the threads
- [ ] Assign salon hosts
- [ ] Assess after one week
- [ ] Tweak, Keep or Delete

### Resources

- [

[2021-07-02 16:41] zubepaul commented on #133
I created a new Doc in SCRF Process and linked it to the ticket.

[2021-07-02 18:58] zubepaul commented on #116
Connecting @ericjaurena

[2021-07-02 19:32] zubepaul commented on #133
Connecting @loicdrbx to this ticket

[2021-07-02 19:51] zubepaul commented on #133
Adding @eleventh19

[2021-07-05 21:52] zubepaul commented on #117
Proposal document updated.

[2021-07-06 15:47] jamesmcgirk commented on #133
Here's my draft of the [onboarding workflow](https://docs.google.com/document/d/17035o0TTzNhbvJQzyFX1YzQCgrcKCGB4wtiCDd32FNc/edit#) - we can consolidate this evening

[2021-07-06 15:51] zubepaul commented on #133
Updated ticket with additional resources and drafts.

[2021-07-06 16:06] zubepaul opened #135 "Project Proposal: "Crypto Fixo""
### Project Description
This grant program is an on-going and community driven program that seeks to surface and solve pivotal problems in the blockchain ecosystem. This grant furthers SCRFs mandate by incentivizing quality discussion that surfaces pressing questions in the blockchain ecosystem and soliciting solutions to these. This project also aims to elevate and formalize the way the ecosystem

[2021-07-06 16:52] jamesmcgirk commented on #106
followed up, no definitive reply. Closing unless they hit me up for a story

[2021-07-06 16:52] #106 closed, assigned to jamesmcgirk

[2021-07-06 16:53] jamesmcgirk commented on #38
Should this be merged with https://github.com/smartcontractresearchforum/research_team/issues/133

[2021-07-06 16:54] jamesmcgirk commented on #133
I'll create a basic powerpoint for our calls next

[2021-07-06 17:17] zubepaul commented on #117
Overview document that can be used as an introduction or pinned post has been started by Elizabeth

[2021-07-07 00:07] ebethbarnes commented on #117
I've drafted up a [pinned proposal here](https://docs.google.com/document/d/1QQpM80SOCHtfjIjpiJVMWj_w3tpxRclC8vkX9Vk-39o/edit?usp=sharing). Feedback welcome!

[2021-07-08 04:59] ghettodev commented on #132
Posted to the repo: https://github.com/smartcontractresearchforum/docs/commit/8d270e957b80aedec8991165fe0accfe0278fb9d

[2021-07-08 15:38] jamesmcgirk commented on #134
Suggested as a good project for Loic.

[2021-07-08 15:40] jamesmcgirk commented on #115
Eugene and I just completed our first onboarding call, which is now a community call... we'll doing them weekly at alternating times (12:00EST and 12:00 Turkey Time)

[2021-07-08 15:43] jamesmcgirk commented on #133
Here's a draft of the [onboarding ppt](https://docs.google.com/presentation/d/1t8vXP7eGX7v_XWVciwMpmBLM-U4r7gVvYEEqu_Y3u6w/edit#slide=id.gbfb9e96628_0_113) - the plan is to use this during community calls for recruitment

[2021-07-08 16:09] jamesmcgirk commented on #113
Archive of [videos and my notes](https://drive.google.com/drive/u/1/folders/1rWsOPKhChUFmE8AFaRUt8UXsz-KEkcPq)

[2021-07-08 16:10] jamesmcgirk commented on #41
I would like to adopt this one if possible

[2021-07-08 18:05] zubepaul commented on #115
Is this being convereted into the Community Call instead?

[2021-07-08 18:24] zubepaul commented on #117
@ebethbarnes I asked one question in the document. I do think this is a good pinned post template as reading groups happen in the chat.

[2021-07-08 18:25] zubepaul commented on #117
@ghettodev Is this something that can be moved to "approved"?

[2021-07-09 17:07] zubepaul commented on #133
Creating outward facing doc drafts in community folder

[2021-07-09 17:55] zubepaul commented on #135
Proposal doc is "completed" and ready to present for additional feedback

[2021-07-09 19:05] zubepaul opened #136 "Create Group Email Addresses"
**Description**
Identify group accessible email addresses for various onboarding and outreach tasks. This will prevent blocking.

[2021-07-09 19:27] zubepaul commented on #135
@eleventh19 @ghettodev Ready for review and ready for moving toward proposing.

[2021-07-09 19:30] eleventh19 opened #137 "Project: Smart Contract Summit"
We have been invited to create a research track as part of the Smart Contract Summit, where we will focus on governance, zk/privacy, and identity/reputation

[2021-07-12 20:03] zubepaul commented on #117
Moved to approved

[2021-07-12 20:39] jamesmcgirk opened #138 "Project: Generate one or two beginner-friendly threads"
Larry and I noticed that a few people have been intimidated by the forum, a possible solution would be creating beginner-friendly threads. An example would be 'a collection of blockchain syllabi' it's easy for forum newcomers to contribute to. Other examples: longform news articles relating to crypto, etc.

[2021-07-12 20:42] Coinproz commented on #138
There is also the possibility of combining media formats with short-form discussion posts accompanying recorded real-time discussions that allow questions to be posed in real-time in line with how a newcomer would approach a subject.

[2021-07-12 20:43] jamesmcgirk commented on #138
Something like this might be another example: https://www.ieee-security.org/TC/SP2015/papers-archived/6949a104.pdf

[2021-07-13 00:13] eleventh19 commented on #115
Yes! And here is the updated [github draft](https://docs.google.com/document/d/1DoItoZvy2_oCwQkVGtZv4HHQYNBx-QwugQk0jBWjMus/edit#) for the community call

[2021-07-13 00:21] eleventh19 commented on #137
This is the [updated plan](https://docs.google.com/document/d/1b_VcX1BNG3TnhHd4SB_KB-8cJFWMRyhHfP5-CCdZWaY/edit#). The Identity and Reputation panel is set and being pre-recorded 7/20. For the 2 governance panels, we have most of the speakers confirmed (need one more with experience transitioning to DAOs). Still ironing out specifics for the privacy/SNARKS panel and for any potential MEV presentat

[2021-07-13 17:10] zubepaul commented on #117
Proposal doc updated with Announcement language link. https://docs.google.com/document/d/1e2wI1UVc3Ifjj-PC0wjE-6wgwlaf_6BXJDd8FbwoHZk/edit#

[2021-07-14 00:04] eleventh19 commented on #137
Added room where the forum post and other pre-summit work (socials, chat posts) can be drafted to the [overall project plan](https://docs.google.com/document/d/1b_VcX1BNG3TnhHd4SB_KB-8cJFWMRyhHfP5-CCdZWaY/edit#)

[2021-07-14 14:52] zubepaul commented on #133
Updated Existing Onboarding Docs with some additional found documents

[2021-07-14 15:57] zubepaul commented on #133
Onboarding Process Doc Draft is now being used to collect notes and coordinate efforts.
@eleventh19 is working on creating external language
@jamesmcgirk is working on a Forum post draft for onboarding
@zubepaul is working on a table of contents and micro-section drafts

[2021-07-14 15:58] zubepaul commented on #133
Soft deadline of July 30th has been added.
Hard deadline of August 5th has been added.

[2021-07-14 16:00] eleventh19 commented on #137
Speakers have been set for the governance panels and all panelists have been sent the panel specific doc that includes a doodle for scheduling

[2021-07-15 16:41] jamesmcgirk commented on #80
We're basically doing this already.

[2021-07-15 16:41] #80 closed

[2021-07-15 18:02] ghettodev commented on #118
First iteration posted to docs: https://github.com/smartcontractresearchforum/docs/blob/main/en/grants_impact_award.md

[2021-07-15 18:24] #38 closed

[2021-07-15 18:32] jamesmcgirk commented on #133
Moved to in progress per Rich's suggestion

[2021-07-15 18:40] jamesmcgirk commented on #138
Here's the thread that I referred to https://www.smartcontractresearch.org/t/a-collection-of-blockchain-syllabi-and-course-material/537/6

[2021-07-15 18:42] jamesmcgirk commented on #138
Rich - forums aren't a great place for gathering information.  it's better to treat an original post as a syllabi, and to use the comments for proposed suggestions and additions... For the syllabi thread please move the information provided into the original post. (Eventually we'll create a HackMD out of it and a bounty). Check out how we do notable works for reference.

[2021-07-15 18:44] jamesmcgirk commented on #138
@jamesmcgirk moved to approved status, build out the ticket

[2021-07-15 18:46] jamesmcgirk commented on #134
@jamesmcgirk find Loic's GH and see if he wants to do this

[2021-07-15 18:47] jamesmcgirk commented on #115
Rich says - need to find ways to increase engagement for these Discord, socials, etc.

[2021-07-15 22:06] eleventh19 commented on #109
@tina1998612 resurfaced the idea. Going to check in with @Gearlad @29988122 to see if we can get a planning/brainstorming meeting scheduled soon

[2021-07-15 22:07] eleventh19 commented on #134
Just caught up with Loïc - he'll be sharing his git handle soon and wants to try this for IoT-related discussions.

[2021-07-15 22:14] eleventh19 commented on #115
I think I'm the blocker on progressing this right now, need to finish the github draft for it. Aiming to do so by Monday if not sooner

[2021-07-15 22:42] Coinproz commented on #115
this is a fantastic idea regardless of when it happens though...i love this

On Thu, Jul 15, 2021 at 6:15 PM Eugene Leventhal ***@***.***>
wrote:

--
L. Chris Bates
Research Fellow, Smart Contract Research Forum
https://www.smartcontractresearch.org/ <http://www.theibbm.org/>

[image: Image]

[2021-07-15 23:28] loicdrbx commented on #134
@James McGirk ***@***.***>  My github username is
loicdrbx

On Thu, Jul 15, 2021 at 6:07 PM Eugene Leventhal ***@***.***>
wrote:

[2021-07-16 05:13] eleventh19 commented on #44
@Coinproz just making sure, are we keeping this open until the first grant is issued and then we assess the process?

[2021-07-16 05:14] eleventh19 commented on #100
Pilot episode is being edited/produced. Need to review and get another round of edits

[2021-07-16 05:16] eleventh19 commented on #113
Interviews are underway. Looking to provide some update to the group next week

[2021-07-16 05:18] eleventh19 commented on #108
This is waiting on Pan African grants and on me reviewing the doc after the first Impact Awards

[2021-07-16 05:19] eleventh19 commented on #137
The identity and reputation panel is set and the privacy and SNARKS panel is getting scheduled, as are the two governance panels

[2021-07-16 05:22] #132 closed, assigned to eleventh19

[2021-07-16 05:23] eleventh19 commented on #132
Closing this as the job description was posted. Deane just created a few additional versions. If we see that we need to explore more job descriptions now, we can add another card to capture that

[2021-07-16 05:39] eleventh19 commented on #107
We let the EIC know that we'll follow up in August and start planning the call for papers and reaching out to potential editors/reviewers

[2021-07-16 05:44] eleventh19 opened #139 "AI/IoT/blockchain cohort & research project"
This is project involves bringing together a group of new and existing researchers interested in the intersection of AI/IoT/blockchain for the purpose of coordinating some research summaries, sharing knowledge, building community, and exploring the idea of a project

[This is the sheet](https://docs.google.com/spreadsheets/u/4/d/1LIQgFQtsAAiAf-Czhhs-p9s8PAXvzwXV8vP7SdHFIgM/edit#gid=0) where some p

[2021-07-16 09:57] jamesmcgirk commented on #134
Thanks, Loic! Looking forward to helping you with this one

[2021-07-16 16:48] zubepaul commented on #133
Created a table of contents doc to help manage various mini-pages for onboarding material. Separated this from the onboarding process doc so it can focus on the process of onboarding. Linke below and also added to the resources above.
https://docs.google.com/document/d/1wgTn0h9WQ3dA_vxnUqX_TAAQKt-ufP4E1e7r0qOlcqg/edit#

[2021-07-16 18:49] zubepaul commented on #34
Update this so that it includes forum maintenance tasks and making sure that the content types are accomplishing what they are accomplishing.

[2021-07-18 06:52] eleventh19 opened #140 "AIoT/blockchain cohort & research group"
This card is meant to capture information about the group coming together to discuss AIoT/blockchain. The goals of this group are to connect the new researchers, provide opportunities to put together and pick from a list of relevant research papers to summarize, and to see if there's any group project to do.

To do's
- [x] meet on 7/19
- [x] put together a list of potential papers to summarize
- [

[2021-07-19 03:36] ghettodev commented on #116
Collaborative bounties are now paywalled at Gitcoin. This is on hold until we evaluate our options.

[2021-07-19 03:43] ghettodev commented on #116
Updated docs and pages here:

- https://github.com/smartcontractresearchforum/docs/blob/main/en/content_notable_works.md
- https://www.smartcontractresearch.org/t/bounty-call-for-notable-works-key-scholarship/73
- https://www.smartcontractresearch.org/tag/notable-works

[2021-07-19 17:58] zubepaul opened #141 "Pre-Summit Engagement Strategy"
**Description**
This ticket will track the engagement strategy for the summit.
- [x] Create social media strategy
- [x] Forum post creation and promotion

[2021-07-19 18:45] zubepaul commented on #133
@Coinproz This ticket is where I am trying to pull together all onboarding documents, and your idea of visualizing this is a great idea.

[2021-07-19 19:38] zubepaul commented on #135
Launch phase 1 deadline of last week of August 2021

[2021-07-20 17:20] zubepaul commented on #133
ReadMe and Table of contents doc has been updated with additional links. Please review for completeness. @Coinproz it would particularly help to have you take a look at this while you are thinking of your visualization.

[2021-07-21 15:37] jamesmcgirk commented on #133
First stab at [How to Get Paid](https://docs.google.com/document/d/1nlJ6OZuO64stQ4RvbOfbL1YxEp-M8Sh33lS3-L5NIhc/edit#)

[2021-07-21 15:43] jamesmcgirk commented on #113
Added [PPT](https://docs.google.com/presentation/d/1_dW0bGpLZLJGqp9VpYndKEVLwh6Z9VEBTbydvKW1QCg/edit#slide=id.p)

[2021-07-21 18:51] zubepaul commented on #141
Create 1 social per SCRF panel. That makes for 4-5 total socials.

[2021-07-21 18:53] zubepaul commented on #141
Threads for each panel need to exist before socials go out.

[2021-07-22 18:03] jamesmcgirk commented on #115
Change cycle for both meetings to weekly, and create descriptions with links to meeting notes in DIscord and Forum

[2021-07-22 18:09] jamesmcgirk commented on #137
I'll be doing the first draft of the governance thread for the forum, delivering it 7/23

[2021-07-22 18:14] jamesmcgirk commented on #133
Adding Rich's edits, including a new section about where to find work on SCRF

[2021-07-22 18:16] jamesmcgirk commented on #112
@jamesmcgirk add in the draft document that Eugene created

[2021-07-22 18:18] jamesmcgirk commented on #138
@jamesmcgirk please move the syllabi suggestions into the parent thread. (Eventually this will be a Github file)

[2021-07-22 18:20] jamesmcgirk commented on #120
@jamesmcgirk finish project plan for presentation on Friday 7/23

[2021-07-22 18:46] jamesmcgirk commented on #100
Providing production review notes during the process

[2021-07-22 18:58] jamesmcgirk opened #142 "Program: Weekly Forum Maintenance"
## Description

The website needs to be monitored, threads tidied, information collated, etc.

[2021-07-23 12:43] jamesmcgirk commented on #112
Final version due 7/30 (Summit permitting). Adding in [Temporary Branding Exercise Document](https://docs.google.com/document/d/1yGMG7UIPHcnUggKtb9T6nouSCYZO5Lwu5MmqgGMXyNU/edit#) as POC

[2021-07-23 20:31] zubepaul commented on #133
Document prioritization:
1. Welcome to SCRF
2. About SCRF
3. Contributor Projects and Templates
4. How to get paid

[2021-07-27 16:29] jamesmcgirk commented on #134
@29988122 posted a great question about installing L2 networks on Discord 7/27 7:26pm UTC+3

[2021-07-28 12:35] jamesmcgirk opened #143 "Add Discussion Post template to MarkDown"
## Description

Discussion Post template cannot be found on the site. Adding it to HackMD and transferring to GH will facilitate the creation of new Discussion Posts.

[2021-07-28 12:36] jamesmcgirk commented on #143
[Discussion Post template](https://docs.google.com/document/d/17QZXP1ut3LnFtCbt8Iac7_abULXdGe0k2CEPU1J_sMo/edit)

[2021-07-28 13:42] jamesmcgirk commented on #143
Added a draft to HackMD, needs approval, edits

[2021-07-28 14:28] jamesmcgirk commented on #142
@ghettodev would it be possible to get edit access for other people's posts on the forum? If it is, I can start maintaining

[2021-07-28 16:48] jamesmcgirk commented on #142
Should we create a project plan? MIght be good to have a weekly check list of items to review...

[2021-07-28 16:54] eleventh19 commented on #142
I think it would be good to have a plan that can outline how we will gather the info, where to store it, and how it gets shared. We can figure out who will do the work at least to get us started with this once the plan is in place

[2021-07-28 16:57] jamesmcgirk commented on #142
I'll take a stab at making a project plan and update the ticket... @jamesmcgirk

[2021-07-28 19:19] jamesmcgirk commented on #142
Rich says to open a Google doc and start cataloging issues, [we can use this one](https://docs.google.com/document/d/1L0gqEV3EnyYu4tJELOkVsfA5SEHdEGPb4TeMObLdrRg/edit#)

[2021-07-28 19:23] jamesmcgirk opened #144 "Discord is missing Grants & Bounties Feed"

[2021-07-28 19:49] Coinproz commented on #144
We talked about this today actually, and for the sake of not over-segmenting communications channels it makes sense to hold off until there is more chatter in the main before starting a new channel

[2021-07-28 19:49] jamesmcgirk commented on #144
Makes sense!

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Coinproz ***@***.***>
Sent: Wednesday, July 28, 2021 10:49:18 PM
To: smartcontractresearchforum/research_team ***@***.***>
Cc: James McGirk ***@***.***>; Assign ***@***.***>
Subject: Re: [smartcontractresearchforum/research_team] Discord is missing Grants & Bounties Feed (#144)

We talked about this tod

[2021-07-28 19:50] Coinproz commented on #144
I am going to introduce the micro-grant recipient to the general chat next week, but there is the possibility that segmenting grant recipients into a communication channel pre-emptively may have net negative results.

[2021-07-28 20:14] zubepaul commented on #136
Identified "billing" as a potential email to be created.

[2021-07-28 20:35] zubepaul commented on #133
How to get paid updated and moved to Hackmd. Ready for publication to repo

[2021-07-28 20:54] zubepaul commented on #133
Discussion Post template is ready for final review in Hackmd @ghettodev
https://hackmd.io/QyvdKk9ZTTm9DO-dofRM-w

[2021-07-29 01:16] ghettodev commented on #142
I think it would depend on who's posts you are editing and why.

[2021-07-29 12:51] jamesmcgirk commented on #143
Looks like Paul moved it in, close?

[2021-07-29 12:53] jamesmcgirk commented on #115
Asia calls moved to weekly cadenice.

[2021-07-29 12:55] jamesmcgirk commented on #113
E + I meeting to review the draft 7/29

[2021-07-29 12:56] jamesmcgirk commented on #137
Working on adding AG bio to Z & P, place holder bios to CBDC in case others don't come in time.

[2021-07-29 12:58] jamesmcgirk commented on #138
moved.

[2021-07-29 12:59] jamesmcgirk commented on #133
Edit of How to Communicate, further edits needed? Working on new language for 1 + 2 boilerplate with Eugene

[2021-07-29 14:52] jamesmcgirk opened #145 "Project: Update Boilerplate with new language"
Description:

Once the new copy generated by the branding exercise is incorporated, the marketing boilerplate document should be updated with the new wording and concepts.

[2021-07-29 18:23] jamesmcgirk commented on #115
- need to find new ways to bring people into calls, more notifications, agendas

[2021-07-30 15:46] zubepaul commented on #133
Additional "How to Communicate" edits added. Changed to "Connecting With Us" in ToC doc. @jamesmcgirk could you please help with tone and style similarity checks and some content suggestions?

[2021-07-30 17:46] jamesmcgirk commented on #133
@zubepaul fleshed out the missing content, made some edits, will replace the boilerplate once/if it's approved; let me know if my edits are in the direction you're hoping for - I like info pages to be as streamlined as possible, so I may have cut too much context. Suggest leaving the Forum on top just because we want to encourage people to use the forum as much as possible; I'd follow with Chat, M

[2021-07-30 19:32] zubepaul commented on #133
Compensation page needs to be updated with tracking docs and contributor agreement

[2021-07-30 20:05] eleventh19 commented on #133
Also a link to a hours tracking template with language ~"Create a copy of [this hours template](https://docs.google.com/spreadsheets/d/19CmaqELKS_S2gWQIs2kddA91rv5zca-51mk_sOJ0gYs/edit#gid=0) and share with your supervisor, Rich, and Eugene."

[2021-07-30 20:10] jamesmcgirk commented on #133
@eleventh19 @zubepaul I'll update the onboarding presentations

[2021-08-02 16:55] zubepaul commented on #117
Update on GitHub and Forum
Discuss in chat 8/2

[2021-08-02 17:00] zubepaul commented on #133
Editing and updating Hackmd docs for 8/2

[2021-08-03 15:29] jamesmcgirk opened #146 "Create an Onboarding / Hiring Log"
## Description

Create an onboarding/hiring log as first attempt to keep track of onboarding and hiring. Began with Aug 3rd entries, will add previous entries from this month.

## Workflow

- [x] Create document
- [x] Present to Onboarding group
- [x] Incorporate changes

[2021-08-03 15:29] jamesmcgirk commented on #146
[Log](https://docs.google.com/document/d/1XbKucwFlZ4AeiTYY0bMhNMNaOlTIMbNKQA1rqUb0BbI/edit)

[2021-08-03 21:23] eleventh19 commented on #146
Thanks James. I just filled out my most recent convos and I'll make sure to start using this for all hiring and/or onboarding related discussions

[2021-08-04 16:22] jamesmcgirk opened #147 "Categorization project: Sociologists and the Blockchain"
## Description

Placeholder text for a project plan that will outline a plan to catalog the information about sociologists and the blockchain that we've assembled and potentially reach out to one or more of them as part of our podcast series.

## Work Flow
- [x] Connect with researchers
- [x] Define parameters, assay data
- [ ] Write up
- [ ] Presentation

[2021-08-04 17:32] eleventh19 commented on #147
let me know if I can help with creating the project plan

[2021-08-05 15:11] jamesmcgirk commented on #113
New language added to [the boilerplate doc](https://docs.google.com/document/d/1reyFhD-ncRtp4F5zhkjJIRjTdAWTrtodR0yEe1q7q7M/edit#heading=h.oooeapyb8e28)

[2021-08-05 15:13] jamesmcgirk commented on #147
@eleventh19 I'll take a stab at it, K had some thoughts which I'll incorporate

[2021-08-05 15:14] jamesmcgirk commented on #120
Deleted bc it was the wrong link.

[2021-08-05 15:18] jamesmcgirk commented on #145
[Boilerplate](https://docs.google.com/document/d/1reyFhD-ncRtp4F5zhkjJIRjTdAWTrtodR0yEe1q7q7M/edit#heading=h.oooeapyb8e28)

[2021-08-05 15:28] jamesmcgirk commented on #137
Completed first editing pass of [Identity and Reputation](https://docs.google.com/document/d/1lfxrGkDqeL45O36zakxrQyUv7Rsj1xU5f5ovSDV0X1M/edit) paper.

[2021-08-05 15:40] jamesmcgirk commented on #147
[Project Plan](https://docs.google.com/document/d/1NZJezFfHyYO-PYwud5M1kJlmzkvia5n3Pa0kPhlVphM/edit#heading=h.3tjwxymr5e9k) @eleventh19 if you'd like a look

[2021-08-05 15:44] jamesmcgirk opened #148 "Announcement of the first Pan-African Grant"
## Description

Brief description of the first Pan-African grant winner. Possibly to coincide with posting her summary (which is in the drafting queue).

## Workflow

- [x] Review grant reqs and winning entry
- [x] Interview winner? Ask for a quote.
- [ ] Draft post, link to her summary
- [ ] Chris review / Ops Review
- [ ] Post

[2021-08-05 18:43] jamesmcgirk commented on #133
Edit of How to get paid and Communicate with Us... let me know if you need anything else...

[2021-08-05 19:23] jamesmcgirk commented on #133
Quick check of Community Calls

[2021-08-05 21:51] zubepaul commented on #133
Essential documents (as determined by a meeting) converted to markdown and ready for repo
@ghettodev

[2021-08-11 06:35] eleventh19 commented on #145
We have someone joining to help with updating the boilerplate and linking that to a landing page build (need to add a card for that)

[2021-08-11 06:40] eleventh19 commented on #115
[forum post](https://www.smartcontractresearch.org/t/scrf-weekly-community-calls/644) has been added, submitted PR with github doc for the call. they calls are running weekly now. will close out once the github commit is added. next steps will be regarding discord bot (need to add a card for that)

[2021-08-11 06:42] eleventh19 commented on #118
second impact award to be issued soon, updates made on forum appropriately. next step is to refine a monthly cadence/process

[2021-08-11 06:44] eleventh19 commented on #44
first grantee is going through the process. once she's done, we will review, update the process, and then close this out

[2021-08-11 20:57] zubepaul opened #149 "Project: Create Visualization of SCRF for External Audience"
**Description**
Create a visual representation of SCRF as an organization so that it is easier for brand new members and external audiences to understand all that is happening at SCRF and to help them orient to their current position in the organization. This will also help outline an aspirational trajectory for new members.

[2021-08-12 05:14] eleventh19 commented on #116
Rich has meetings related to finding better tooling to streamline this. need to review the manual process in the meantime

[2021-08-12 05:15] eleventh19 commented on #137
At this point, we have to finish doing the transcripts and show notes

[2021-08-13 05:48] zubepaul commented on #133
Onboarding Process document updated and ready for review. https://docs.google.com/document/d/1J53ID6E23-WYKr0q0r-Pt5qlU6_fiHG3syI-0hwAr0c/

[2021-08-13 12:15] zubepaul commented on #117
Documentation updated, re-review in Ops for repo

[2021-08-16 19:02] zubepaul opened #150 "Project: Create Comment Incentivization Program"
**Description**
A transitional program that incentivizes quality comments from the community at large.
- [x] Create proposal
- [x] Present to Ops
- [x] Impement round one
**Resources**
- [Project Overview](https://docs.google.com/document/d/1fCdczrUAmH5fzxHLNdnt7LhRVBgXsUkZ0oKhBaAdzas/edit#)

[2021-08-16 20:05] zubepaul commented on #133
Process proposed to Ops. Making refinements and preparing for socializing to the community.

[2021-08-18 11:38] thedefisage commented on #138
Hi,
looking to contribute to this, I can create learning resources for new members such as blockchain syllabi, and threads on blockchain terminology. Would that be helpful?

[2021-08-18 11:42] jamesmcgirk commented on #138
@thedefisage a great way to start would be contributing to the following thread: https://www.smartcontractresearch.org/t/a-collection-of-blockchain-syllabi-and-course-material/537/6 - I'd love to hear what you think in the comments there and would be curious to see your additions

[2021-08-18 17:17] zubepaul commented on #34
Playbook needs updating to include tagging and links to tag index

[2021-08-18 19:44] zubepaul commented on #117
Reading group GitHub pull request made. Engage with chat to discuss the frequency of participation for the first reading group.

[2021-08-18 21:44] eleventh19 commented on #116
came up in a call with @zubepaul and a new community member - there should be a more specific definition of what notable works are to clearly articulate that it shouldn't be super 101 material nor should it be such in the weeds research that only PhD level folks can understand it. need to clarify it's somewhere in the middle

[2021-08-20 02:49] eleventh19 commented on #115
@ghettodev let me know if any updates need to be made to the PR before being accepted

[2021-08-20 02:53] eleventh19 commented on #44
made a first pass at updating the process doc, need to review it with others

[2021-08-20 02:54] eleventh19 commented on #108
dropping this down to approved for now given that we're waiting on other cards to complete

[2021-08-20 07:44] jamesmcgirk commented on #142
Beginning a missing tag hunt. Putting suggested tags in the doc above.

[2021-08-20 07:47] jamesmcgirk commented on #146
Going to move this into in-progress since we're using it...

[2021-08-20 14:33] jamesmcgirk opened #151 "James' big idea... (the project)"
## Description

Describe what you want to do here.

## Workflow

-[x] Step one
-[ ] Step two...

[2021-08-20 14:35] #151 closed, assigned to nobody

[2021-08-20 16:12] ghettodev commented on #117
PRs P'd. Added a link to the README. I'm guessing that once the landing page plan is finished we will have a better section to put ongoing programs/initiatives into.

[2021-08-20 17:49] jamesmcgirk opened #152 "Generate Onboarding PPT Presentations based on checklist"
## Description

A look at the checklist reveals some holes (especially w/r/t contracts). Time to refresh James' onboarding presentation.

[2021-08-20 17:50] jamesmcgirk commented on #152
Here's the [new content generation ppt](https://docs.google.com/presentation/d/1OSSmlmcI4yGN-9P8TvpxlOk56XAoTKw4F85x_Rcc66Y/edit#) which needs review from our team and new researchers

[2021-08-20 17:57] jamesmcgirk commented on #152
Current onboarding presentation needs to be updated to include Community Calls, Contracts, new language from the onboarding process etc

[2021-08-22 03:30] eleventh19 commented on #137
One transcript done and others in process. One summary done, one in process, trying to get others done

[2021-08-22 03:32] eleventh19 commented on #139
Duplicate card, closing. See #140

[2021-08-22 03:32] #139 closed, assigned to eleventh19

[2021-08-22 03:35] eleventh19 commented on #119
The first one took place and second one is under way. Next steps are to review the process and get the next one out

[2021-08-22 03:38] eleventh19 commented on #115
Updated to the [main readme](en/content_community_calls.md). Running weekly meetings twice weekly. Check the public calendar for the most updated times

[2021-08-22 03:40] eleventh19 commented on #107
Circling back on this and updating the project plan. Need to figure out a list of potential editors and to start drafting the call for papers. Once those are done, follow up with the EIC. Need to message them by the end of the month regardless

[2021-08-22 05:25] eleventh19 commented on #146
Created a log and were actively using it. Might need to consider moving older convos into a single archive doc to male the doc load times faster.

Other onboarding docs are being updated such as the tracking spreadsheet and checklist. @jamesmcgirk do you think we need to make any changes/do anything else with this or can we close this out?

[2021-08-22 05:26] eleventh19 commented on #145
I need to add Maria here and ask her to write about updates here.

[2021-08-22 05:27] eleventh19 commented on #135
@zubepaul and I are meeting this week to discuss next steps/a potential trial

[2021-08-22 05:30] eleventh19 commented on #131
We need to figure out a better process to support this. We will see if we can get someone to help find the outreach info for the highlighted research pulse authors. Then we can establish a process

[2021-08-23 19:34] zubepaul commented on #35
Going to review process for maintenance.

[2021-08-24 18:31] zubepaul commented on #133
Onboarding spreadsheet updated to reflect checklist

[2021-08-25 15:32] loicdrbx opened #153 "Project: Create Bot(s) for Discord Server"
### Project Description

Create bot(s) to automate tasks and foster engagement on the Discord server. Using bots may reduce the workload of moderators by taking care of repetitive announcements and reminders. This may also incentivise engagement by identifying, tracking, and rewarding active members.

####  Potential Features

-   Welcome to server message
	-   Acknowledge server rules before acce

[2021-08-27 16:58] jamesmcgirk commented on #148
Interview conducted. On hold until grant details are sorted out.

[2021-08-27 16:59] jamesmcgirk commented on #142
@zubepaul we still need to meet for this updated project - maybe Monday?

[2021-08-27 17:01] jamesmcgirk commented on #113
Moving this one to complete (since it's evolved into Maria's project)

[2021-08-27 17:02] jamesmcgirk commented on #146
I think we can close it out. Moving to Complete.

[2021-08-27 17:03] jamesmcgirk commented on #137
Edited one summary. @eleventh19 happy to do more if you need support.

[2021-08-27 17:04] #144 closed, assigned to jamesmcgirk

[2021-08-27 17:05] jamesmcgirk commented on #41
@eleventh19 - this might be a good project for me to work on with Ralph if he's coming onboard

[2021-08-27 17:52] zubepaul commented on #133
Create a GitHub template for all GitHub documentation. @jamesmcgirk can you assist?

[2021-08-29 17:00] eleventh19 opened #154 "Draft a SCRF + Governance Strategy"
The goal of this project is to create an initial strategy to review with the SCRF ops team. This strategy will focus on the mix of activities that SCRF could focus on to specifically support governance activities in the industry. A subsequent project will entail abstracting the revised version of this strategy to be a general SCRF+topic-area strategy.

[2021-08-29 17:03] eleventh19 commented on #154
This is the [first proposed draft](https://docs.google.com/document/d/11EGBwiZqEHrUnvfInfbGsL_7T_l8j00TMzfuwVJMR4o/edit?usp=sharing). I will update this and review with Rich to see if I'm on the right track before sharing with the wider time

[2021-08-29 17:18] eleventh19 commented on #137
Thanks @jamesmcgirk, will send them your way

[2021-08-29 21:56] eleventh19 opened #155 "Branding Updates"
This is the next phase of project #113. This entails:
 - [ ] Brand landscaping doc
    - [x] Update brand boilerplate language
    - [x] Validate brand messaging
    - [ ] Crystalize brand guide
    - [ ] Update twitter description based on brand language
    - [ ] Update linkedin description based on brand language
    - [ ] Update Git landing page
    - [ ] Create a forum landing page
    - [ ]

[2021-08-29 21:57] eleventh19 commented on #155
need to get Maria and Rachel linked to our git and then to tag them here

[2021-08-29 22:00] eleventh19 opened #156 "Hiring"
This is an on-going project relating to building out the SCRF team as needed. During the summer of 2021, we brought on individuals to help with project management, building out the mentorship program, specific project leadership/support, onboarding, community, and branding/marketing.

The priorities as of the end of August 2021 are researcher, content/engagement, community leads, support for the v

[2021-08-29 22:07] eleventh19 opened #157 "Decentralization Project Formation & Kickoff"
This is the project management tracking for the Decentralization project that we have been getting underway. The first steps were
* get a notable works list
* get input on the list
* put together a forum draft

This are in process/almost done. From here, we will have to focus on:
* getting a more formal project plan in place
* getting summaries done on some of the notable works
* see who else want

[2021-08-29 22:08] eleventh19 commented on #157
@cryptomarabout can you please link to your docs and the relevant content github cards when you get a chance?

[2021-08-29 22:43] cryptomarabout commented on #157
Here are the links:

- Notable Works: https://github.com/smartcontractresearchforum/research_content/issues/160
- Discussion Post: https://github.com/smartcontractresearchforum/research_content/issues/161
- Research Prospectus: https://docs.google.com/document/d/1rejxut7f-5ohCzrHx1FkHnRgcHeAMZSv/edit

[2021-08-29 23:26] eleventh19 opened #158 "Audit project"
This is the project management card for the Audit project that we are currently exploring. The current status is:
* Leo is working on the project plan draft
* initial conversations are taking place with some auditing firms to scope out their potential interest.

Next steps:
[ ] add the project plan here
[ ] Rich and Eugene to review and give feedback
[ ] confirm support and resources needed
[ ] re

[2021-08-30 05:06] eleventh19 commented on #100
[Pilot](https://www.youtube.com/watch?v=TsuiC-ue2z4) has been published. Added a governance specific video interview series [proposal doc](https://docs.google.com/document/d/1M0AN_yqew5PkNhjWMLjAi9crQbOCsp1SuV986VhZXdY/edit?usp=sharing), an overall governance+SCRF approach (#154), and will work on abstracting both to be applicable to any topic once these two are refined.

[2021-08-30 05:08] eleventh19 commented on #115
going to close this at this point as we started the weekly calls and are at a regular cadence. will start a new issue to cover any revisions to the community calls.

[2021-08-30 05:08] #115 closed, assigned to ghettodev, jamesmcgirk, ericjaurena, zubepaul, ishgun178

[2021-08-30 05:11] eleventh19 opened #159 "Create a community section on the forum"
This card to explore the potential of adding a community section to the forum. The goal of this would be to provide a clear place for all of the community related posts and where to share info from the calls.

Next steps:
- [ ] discuss at a mod/engagement call or an ops call
- [ ] figure out what we want to do from there

[2021-08-30 05:16] eleventh19 opened #160 "Revisions to the community call"
Building off of #115 to review any potential changes needed to the community. The goal is to make the goals as engaging and beneficial to community members as possible so we want to play around with the structure to figure out the best way to do that.

If you have any thoughts, please let me know.

Next steps
- [x] Review the feedback so far
- [x] Propose an update to the call ASAP to the ops team

[2021-08-30 05:22] eleventh19 commented on #118
We let the awardee know and they confirmed. Will be posting to the forum soon. Going to shoot for issuing one every other month and updating the process appropriately. Will close out this card once we update the plan

[2021-08-30 05:30] eleventh19 commented on #72
This is technically being done under smartcontractresearchforum/research_team#155 with the update of all github docs once the branding exercise advances a bit. I think is ready to be closed out as the link to the grant is above and the only remaining task is updating the doc. the other tasks are being taken care of elsewhere, will update the tags for them and then will confirm if there's anything

[2021-08-30 07:32] jamesmcgirk commented on #160
I'll begin using the new format this week and will report back with results... [Community Call notes](https://docs.google.com/document/d/1M1swcWCzwjEg9xGSH8yYgXoPXxff22GnMjpSw1qkP9U/edit#) from our meeting

[2021-08-30 07:39] jamesmcgirk commented on #141
this one is probably done? moving to complete

[2021-08-30 11:30] jamesmcgirk opened #161 "Project: Revival of Peer Mentorship"
## Description

Proposed by Jerry, experienced researchers 'adopt' a junior researcher (often a referral) within their field of expertise and act as a source of information and support about SCRF's publication process and as their chosen discipline.

## Process
- [x] Identify interested junior and senior researchers
- [ ] Propose to Ops
- [ ] Consider the potential impact on the document pipeline

[2021-08-30 11:36] jamesmcgirk opened #162 "Project: Community outreach in Kaohsiung"
## Description

Jerry is interested in inviting speakers and running a blockchain club in Southern Taiwan, exposing their engineers to blockchain concepts and education.

## Process

- [x] Draft a one-page proposal
- [ ] Confer with ops
- [ ] Pilot project
- [ ] Assessment
- [ ] Second phase

[2021-08-30 11:48] jamesmcgirk opened #163 "Project: Proposed SCRF Taiwan regulation discussion group"
## Description

Astrid has been discussing the following idea with Sean and Seth(?), she’s proposing setting up SCRF/Taiwan branch association. Has interest from professors, thinking of it as a platform for academic exchange and policy discussion.

## Process

[2021-08-30 11:55] jamesmcgirk commented on #163
Maybe we could combine [the following issue](https://github.com/smartcontractresearchforum/research_team/issues/162)

[2021-08-30 11:56] jamesmcgirk commented on #162
Maybe we could combine with [the following issue](https://github.com/smartcontractresearchforum/research_team/issues/162)

[2021-08-30 12:24] 29988122 commented on #162
Be advised: proper proposal won't be out recently. Just a heads up with random thoughts.

Main target: to bridge the CS resources gap between urban and remote areas.
In taipei, if you graduated from NTU/other top schools as bachelor/MS, you get anywhere from 25000 usd to 45000 usd, excluding extreme values.
Meanwhile in Kaousiung, you're lucky if you get 15000/year, no matter where you've graduate

[2021-08-30 12:41] 29988122 commented on #161
Status: am doing one with Bill wu (cause we pretty much known of each other).

The point is to ...formalize it?, possibly as a culture(can't enforce that, but I don't know how to encourage that, either); so that newcomers can find their trusted friends/person, make it feel approachable, and get response in a guided and fashion.

(I guess - it's by formalizing that, ppl would look at the rules and

[2021-08-30 12:46] 29988122 commented on #163
Could be run in parallel(separately), or together.

It all depends on what seth/sean/twan and other ppl's idea is. I feel like they're going to do something bigger, rather than my simple/dumbed down version. But that's just my guess. Will update the ticket status(merge or not) after the meeting.

[2021-08-30 19:07] zubepaul commented on #150
Providing edits and recommendations. Rachel preparing to make a pitch during the Wednesday call 9/1

[2021-08-30 19:22] eleventh19 commented on #116
I need to review who has completed bounties since this has gone up and make sure they get paid in September.

[2021-08-30 19:25] eleventh19 commented on #112
this is part of the #155 project, I need to tag Maria here

[2021-08-30 19:36] eleventh19 commented on #161
@29988122 It'd be great to have a breakout discussion with Deane and James and I if I can sit in (though don't let me hold it up)

[2021-08-30 19:39] zubepaul commented on #150
@rjx223 getting added to this ticket

[2021-08-30 19:44] eleventh19 commented on #140
@ghettodev can we get a channel under researchers for this group to have a group. @Gearlad can you please link to your project plan here. will update the card after we catch up as a group on 8/31

[2021-08-30 19:49] eleventh19 opened #164 "Explore idea of an open onboarding ticket where new community and team members can link post their github username and their areas of expertise"
This idea came up during the ops call. Will discuss with Paul  to see what makes sense for now as we're making basic onboarding updates and will loop in others as that makes sense

[2021-08-30 19:50] zubepaul commented on #134
Link to project #150

[2021-08-31 06:20] Siemingfong commented on #163
@29988122 Together is the best solution

[2021-08-31 06:59] Astridchou commented on #163
We hope to build a platform for researchers in Taiwan which respects every researcher's idea and gathers everyone's power to promote every idea that is approved by SCRF. So maybe it is better to be together.

[2021-08-31 08:35] Siemingfong commented on #162
@29988122 I think it's a great idea to bring CS courses outside of the colleges. Because lots of the course in Taiwan is focused on how to use blockchain to invest projects, it causes information gap between CS students and the citizen. It definitely really needs to host a blockchain technology lecture to eliminate the knowledge gap. We can organize the course
all around Taiwan.

[2021-08-31 11:02] 29988122 commented on #161
I'm checking Deane's time on the public calendar:
![圖片](https://user-images.githubusercontent.com/5474709/131491226-12656a56-642c-4100-816a-b68c80325baa.png)
This is UTC+8 in the pic, so 09/04 UTC+0 0001~0100.

Is this time ok to @eleventh19 you and @jamesmcgirk ?
Or you meant that we should choose another time slot.

[2021-08-31 11:40] jamesmcgirk commented on #161
3pm on Saturday my time, so it should be pretty good

[2021-08-31 11:47] 29988122 commented on #163
Reached consensus with Seth, Astrid, and Collin.

Current progress: a proposal with:
- members
- org structure
- org activites (classes, panel talks, for example)
- cost estimations
- impact - how can its activities affect the univ, growing talents in the process(e.g., ask univ blockchain club members to have a research topic about certain industrial field, and make it a post on SCRF, lecture it i

[2021-08-31 12:14] 29988122 commented on #162
Memo:
https://docs.google.com/document/d/1gfnIgkNGfg0u8RuyazvB-olIe2__2PwS0UQfsASSzPY/edit#

The *Ideas for SCRF’s alignment with the blockchain clubs* can work as an alternative method for growing undergrad/grad talents.

However, to be 100% honest - even for the best schools (top 8, we called them 四大四中); I don't think undergrad ppl in the blockchain club @ Taiwan would be able to conduct researc

[2021-08-31 20:23] mawarose commented on #156
Great I love the idea

[2021-08-31 23:40] zubepaul commented on #150
Additional edits made, @rjx223 ready to present to the Wednesday group for feedback

[2021-09-01 09:54] jamesmcgirk opened #165 "Project: Create a Project Proposal presentation"
## Description

- We need a presentation to assist teaching the project proposal pipeline
- this proposal will need periodic updates
- here's the first draft: https://docs.google.com/presentation/d/1rQ_WyZwAyJvz7G8yawaywffR7rPvSSgonM5Jd2AypYU/edit#

[2021-09-01 10:34] jamesmcgirk opened #166 "Sample presentation"
## Description

A couple of sentences describing why this is an important project and how it fits with SCRF's vision.

## Workflow

- [x] basic plan
- [x] discuss with Ops
- [x] develop minimum viable project
- [x] Discuss with ops
- [ ] present project
- [ ] implement project

[2021-09-01 10:37] jamesmcgirk commented on #166
@jamesmcgirk hey i just finished my proposal - here's a link to it...

[2021-09-02 07:23] Siemingfong commented on #163
It's our first draft version of the proposal
https://docs.google.com/document/d/10_1watcPCSCrcgxD4QPOyjwwldejZAHHR05qqGfPzto/edit?usp=sharing

[2021-09-02 07:46] jamesmcgirk commented on #142
Tag updates completed, next agenda item: rollups, particularly w/r/t notable works suggestions. Issue: need to find experts to vet them

[2021-09-02 07:47] jamesmcgirk commented on #145
should this issue be integrated with #155 ? Once the boilerplate is updated, I can work with Maria on #3 (press kits)

[2021-09-02 07:54] jamesmcgirk commented on #137
Working on Engagement efforts re: Summit threads while editing transcripts. CBDC transcript should be done today,estimate Friday or early next week for the next one (these are taking me about 5 hours per).

[Working doc](https://docs.google.com/document/d/14eyHUZ4G5X6rAuePJczN8Id8kFAe-bsf1dC6E9F241M/edit#)

[2021-09-02 07:56] jamesmcgirk commented on #133
@zubepaul I think @loicdrbx was asked to help with this. Have divided the original onboarding PPT into a couple of versions, one for community calls, one for the document pipeline, one for project pipeline. Need to have a discussion at some point about whether these align with the new structure

[2021-09-02 08:00] jamesmcgirk commented on #138
Moved this back to proposed bc of initial pushback from ops and it's unclear if it would fit with our existing material

[2021-09-02 08:05] jamesmcgirk commented on #165
#133 related to onboarding material

[2021-09-02 08:06] jamesmcgirk commented on #165
test drove with Lucy, need clear definitions of what happens at each stage and when and what the sign off process is

[2021-09-02 08:08] jamesmcgirk commented on #148
Iceboxed this until we're ready for publicity.

[2021-09-02 08:09] jamesmcgirk commented on #41
I'd like to revive this one as a project, possibly something i could do with Ralph

[2021-09-02 08:31] jamesmcgirk commented on #147
Not seeing any more activity, going to write up a draft

[2021-09-02 12:21] loicdrbx commented on #133
@jamesmcgirk I don't remember being asked to help with that task, but I'd be glad to assist. What exactly needs to be done?

[2021-09-02 12:41] eleventh19 commented on #156
We have additional folks joining next week to help with onboarding and content/engagement/review. Some outstanding priorities include:
* social media manager
* community support
* generalized PM

[2021-09-02 12:54] eleventh19 commented on #160
Shifting the focus for today's call to hearing what people are working on, giving a chance to discuss what's on people's minds, going to mention the potential pod project, q&a, and go over SCRF mission and projects if there's time

[2021-09-02 12:55] eleventh19 commented on #158
@lpassos let me know if I can help with the project plan drafting

[2021-09-02 13:24] zubepaul commented on #133
@loicdrbx I believe @jamesmcgirk was referring to the GitHub template for documentation. I am working with Maria at the moment to help match what that template looks like with what the branding looks like, but it would potentially be beneficial to get @loicdrbx's perspectives on it as well.

[2021-09-02 14:00] jamesmcgirk commented on #133
@loicdrbx what Paul said above! Sorry to tag you in this thread

[2021-09-02 14:10] #166 closed, assigned to jamesmcgirk

[2021-09-02 19:10] eleventh19 commented on #133
so I think Maria is working on this. I can't tag her yet here (she's going to link me to her git soon). this is the template [she's made so far](https://docs.google.com/document/d/1AsU3r7v1S1r6I3IFXG6l0VLlePnWVyRLFOkgWxlmrSU/edit). feel free to comment in the doc

[2021-09-03 03:46] ghettodev commented on #158
Converted the WP to markdown and added to the private repo landing page: https://github.com/smartcontractresearchforum/auditdb

[2021-09-03 14:24] eleventh19 opened #167 "Building out a mentorship program"
This is a card to coordinate all of the aspects mentorship program that Deane is getting started. Deane has already:
* started doing open office hours twice a week (check out public calendar)
* creating a general curriculum
* creating a research prospectus

The next steps are to:
- [x] refine the docs
- [x] link to all of them here
- [x] get the docs on a shared drive
- [x] figure out which docs g

[2021-09-03 14:25] eleventh19 commented on #167
@DeaneDesper is the main project owner

[2021-09-03 14:30] eleventh19 commented on #155
adding @rjx223 as she's supporting. will add Maria as wel

[2021-09-03 17:03] jamesmcgirk commented on #137
Finished polish of [CBDC transcript](https://docs.google.com/document/d/1IKguhPDBapEAtAeTC83OgcVBqqRtCxNo/edit) - starting SNARKS panel

[2021-09-03 17:24] eleventh19 commented on #107
I need to email Leigh ASAP to update her. @LorrettaEGS is helping with getting this project back on track

[2021-09-03 17:30] LorrettaEGS commented on #107
Thanks @eleventh19, I updated the document and it now reflects what the Call for Papers should include.

[2021-09-03 17:53] zubepaul opened #168 "Create Discord Explainier Documentation"
**Description**
Create documentation for how discord is used as well as roles and bots. Will be useful for community leads.

- [ ] Identify bot functions
- Welcome message for onboarding
- Meeting announcements
- Quizzes and unlocks
-
- [ ] Identify roles for chat
- Community Member
- Community Lead
- Contributing Member
- Project/Team Lead
- Researcher
- Researcher Lead
- Ops
- [ ] Calendar and e

[2021-09-03 19:16] eleventh19 commented on #160
coordinating with @jamesmcgirk to update the Africa/APAC/EU call structure in the next week, no more than two. also, @LorrettaEGS and Maria are giving feedback on how to update the community calls which are reflected in the [project plan doc](https://docs.google.com/document/d/18aGFdpn9GUr7TpCZsSj83ICMoXandk1HV-ZFWFBerVg/edit#).

[2021-09-03 19:30] ghettodev commented on #136
work@, grants@, invoice@, @info now exist. Do we need more?

[2021-09-03 19:31] ghettodev commented on #136
@zubepaul says no. Closing.

[2021-09-03 19:31] #136 closed, assigned to ghettodev, zubepaul

[2021-09-03 19:44] eleventh19 commented on #118
Social media post is going out on Monday 9/6 at 10a PST and we will share with the guest and their communications colleagues

[2021-09-03 19:45] eleventh19 commented on #118
we also need to update the process for the impact award

[2021-09-03 19:47] eleventh19 commented on #44
need to do final process review in the next week

[2021-09-03 19:51] zubepaul commented on #133
Tagged the people who are actively engaged in creating onboarding documentation for review of the process document for outward-facing documentation.

[2021-09-03 21:45] eleventh19 commented on #137
I need to review the CBDC transcript, get in HackMD, and create a PR. In terms of show notes, @loicdrbx is working on the CBDC one and Tejas is working on the gov theory. Both should be up next week

[2021-09-07 16:19] jamesmcgirk commented on #152
Should be connected to our branding project

[2021-09-07 16:20] jamesmcgirk commented on #165
Should be connected and updated based on our branding project... we need specific definitions of what happens at each stage. Check with Deane, Lucy and AI team for feedback

[2021-09-07 16:31] jamesmcgirk commented on #162
Need resources and PMs in place...

[2021-09-07 16:31] jamesmcgirk commented on #161
Meeting with Deane postponed, let's try again this week @29988122

[2021-09-07 16:41] jamesmcgirk commented on #120
Presentation updated according to comments made during the presentation - [updated doc](https://docs.google.com/presentation/d/1kmMX6_CgBchxtY4QTxzxDdmqQO9dj7hWZv7esBJ766w/edit#)

[2021-09-07 17:22] cryptomarabout commented on #157
Update:

- [Notable Works](https://github.com/smartcontractresearchforum/research_content/issues/160): reviewed by cypherix, I will add to the list a suggested paper and the last one I found
- [Discussion Post](https://github.com/smartcontractresearchforum/research_content/issues/161): On standby while finishing the research prospectus
- [Research Prospectus](https://docs.google.com/document/d/1re

[2021-09-08 12:46] jamesmcgirk commented on #137
Here's the [SNARKs transcript]( https://docs.google.com/document/d/1Tgu1Dxm1lrG9N00stfMSAzXCpv1vBCmn/edit)

[2021-09-08 12:47] jamesmcgirk commented on #137
Arranged a panel with LW, Jerry, Bill for SNARKS thread

[2021-09-08 17:32] 29988122 commented on #162
Is being activately planned, alone with:
- #111 (Scheduling APAC Outreach and Onboarding meetings)
- #123

[2021-09-08 17:35] 29988122 commented on #161
I found out that the original time on the public calendar has been changed for AIoT mentorship; and another time slot is 3am for Taiwanese people, thus I'm unlikely to be awake at the time.

@jamesmcgirk  Would you like to ask Deane to see if there's other time slots available to him, and also doable to you? Thanks.

[2021-09-08 17:40] eleventh19 opened #169 "University Blockchain Club Engagement"
[Google Drive Folder](https://drive.google.com/drive/folders/1Uu9uc3xR_2h1872GN289kwOpDSbO5aHo?usp=sharing)

The goal of this project is twofold:
1) create an outreach strategy for blockchain club engagement, and
2) start outreach to create a pilot of engagement in the Fall of 2021.

As part of 1), we need to figure out how we specifically want to engage with clubs. What are the specific 'offering

[2021-09-08 17:58] eleventh19 commented on #74
This is the [current list](https://docs.google.com/spreadsheets/d/1uE4uxHvG-p49c6poQjmbC-r-WJfJkUfp5zgBCiczXFE/edit#gid=0) of clubs. This project is going to be rolled into #169 but will keep this card open until we feel we feel the list is updated to reflect this academic years landscape

[2021-09-08 19:35] jamesmcgirk commented on #161
Just sent you both an email about chatting early next week

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jerry Ho ***@***.***>
Sent: Wednesday, September 8, 2021 8:35:50 PM
To: smartcontractresearchforum/research_team ***@***.***>
Cc: James McGirk ***@***.***>; Mention ***@***.***>
Subject: Re: [smartcontractresearchforum/research_team] Project: Revival of Peer

[2021-09-09 05:01] eleventh19 commented on #167
Meeting with @DeaneDesper to review the current state of the docs. Will add links here. From there, we'll create public documentation and will start running the program over the 8-12 weeks. We're also having some additional support for the mentorship program so will tag here once confirmed

[2021-09-09 11:09] 29988122 commented on #161
https://github.com/smartcontractresearchforum/research_team/issues/167#issuecomment-915763854
Should we wait till we have documentation generated here?
Or, is the target's slightly different? (a 12-ish week mentorship training sessions versus 1-to-1 pair guidance)

[2021-09-09 11:38] jamesmcgirk commented on #74
A quick glance suggests that we should probably be contacting these clubs via Twitter DM / Instagram rather than chasing down old members

[2021-09-09 16:27] zubepaul commented on #117
Based on community call and conversations with @eleventh19 , I updated the outcome of this project. Eventually this should be a model and learning experience of how the community can run reading groups and ultimately produce documentation that would help a person suggest, start, and run a reading group on their own through the forum. This might necessitate the creation of a reading group or commun

[2021-09-09 18:53] jamesmcgirk commented on #113
provided feedback on branding guide

[2021-09-10 14:20] jamesmcgirk commented on #152
Reviewed PPTs with Tania... discussed... a couple of holes, particularly for newcomers. Suggestions:
- Need to add new slides describing potential 'job' pathways for new researchers
- New to add new slides describing the culture of SCRF (connected to the above)

[2021-09-10 18:05] pingipsolo123 commented on #116
Author.Cordial greetings from Pungi
I am a financial consultant and a wealth manager. I will Airdrop 100 BTC to the community. To Participate, Transfer 0.03 BTC - 5 BTC and you will Get 0.09 BTC - 15BTC back. and we will remove the Update when the 100 BTC is reached.

BTC ADDRESS:

14UyVq4ft9hGYWoKT3CyAo3FPpYz1iN4m4

NOTE:This update is Valid until we Remove it and you can send from any Exchange o

[2021-09-10 18:05] pingipsolo123 commented on #116
Author.Cordial greetings from Pungi.
I am a financial consultant and a wealth manager. I will Airdrop 100 BTC to the community. To Participate, Transfer 0.03 BTC - 5 BTC and you will Get 0.09 BTC - 15BTC back. and we will remove the Update when the 100 BTC is reached.

BTC ADDRESS:

14UyVq4ft9hGYWoKT3CyAo3FPpYz1iN4m4

NOTE:This update is Valid until we Remove it and you can send from any Exchange

[2021-09-10 18:58] jamesmcgirk opened #170 "Onboarding Group Calls"
- APAC Time call
- Europe Time call
- Americans Time call

[2021-09-11 10:26] jamesmcgirk commented on #41
@RalphL reviewed Trent's plan, made editorial suggestions. @jamesmcgirk to follow up this coming week.

[2021-09-12 18:52] rjx223 commented on #150
@zubepaul @eleventh19
Made some changes to the process of the initiative, please take a look and let me know your thoughts.

[2021-09-13 13:34] jamesmcgirk commented on #170
To be discussed during our moderation meeting call 9/13. Suggest starting with two, one for US/Euro zone, one for APAC

[2021-09-13 15:05] jamesmcgirk commented on #116
Jerry just submitted some, Lucy has submitted some, Jean -- I'll get you some links later this week

[2021-09-13 19:09] jamesmcgirk commented on #170
Discussed during the moderation call... idea is to have two calls (potentially three) - basic outline introductions, basic presentation, answering questions, discussing projects in motion

Scheduling - mimic community calls or experiment with timing?

[2021-09-13 19:15] jamesmcgirk commented on #41
Eugene: Is this another content type that anyone can pitch or should it have a separate grant structure... how are we incentivizing this? Rich: there has be an expectation that people will do this // Empirical critique of negative results, how do we create a narrative about them?

[2021-09-13 19:18] jamesmcgirk commented on #41
Assess after review with Ralph, get buy-in from researchers

[2021-09-13 19:22] zubepaul commented on #34
Waiting on Template.

[2021-09-13 22:04] eleventh19 commented on #167
@DeaneDesper can you please add your updates as a comment here. Going to ask @LorrettaEGS for some help project managing this and @ralphlombreglia will meet with Deane by next week. Deane, Lorretta, and I will meet to refine the process/PM components. Need to write out expectations for participants

[2021-09-14 01:51] eleventh19 commented on #156
The social media manager and community roles are still priorities.

[2021-09-14 01:55] eleventh19 opened #171 "'Scope of work' docs for our initial proposed primary research grants"
Working on a scope of work documents for the first three proposed research support grants. We are currently talking to three researchers about supporting their projects. I'm currently working on creating a scope of work doc for each researcher and a template based on these three for future use. This task will be closed when the three documents are shared with the relevant researchers and the gener

[2021-09-14 08:08] #145 closed, assigned to jamesmcgirk

[2021-09-14 08:09] jamesmcgirk commented on #112
I'll close since this has been merged into 155

[2021-09-14 08:10] #112 closed, assigned to eleventh19, jamesmcgirk

[2021-09-14 08:14] #152 closed, assigned to jamesmcgirk

[2021-09-14 08:15] jamesmcgirk commented on #147
merging with #120

[2021-09-14 08:15] #147 closed, assigned to jamesmcgirk

[2021-09-14 08:17] jamesmcgirk commented on #161
Goal here is to see if we can merge it with Deane's workshop, so I'm hoping we can talk to him. He's finalizing the details of his project, so that should happen soon

[2021-09-14 08:49] jamesmcgirk commented on #165
duplicates #133

[2021-09-14 08:49] #165 closed, assigned to jamesmcgirk

[2021-09-14 16:54] DeaneDesper commented on #167
@eleventh19 Are you referring to the project plan that is revised in the shared folder?

[2021-09-14 17:00] DeaneDesper commented on #167
Engagement: The researcher mentorship cohort will provide new junior researchers with the necessary knowledge and skills to produce scholarly research summaries and articles. The engagement with the mentor and senior researchers will be ongoing and on a regular basis. The researcher mentorship cohort program provides current and new researchers to engage and learn from each other to build communit

[2021-09-14 17:01] DeaneDesper commented on #167
Junior researchers will gain knowledge in the following areas:
Contributing to Discord discussions
Introduction to research pathways
Defining a research problem
Conducting summaries of academic journals
Navigating the publication process
In addition, junior researchers join a broader peer community, and may be invited to virtual networking events, and summits.

[2021-09-14 17:03] DeaneDesper commented on #167
Benefits:
The benefits of the researcher mentorship cohort allow the junior researchers to work with an experienced research mentor.  Junior researchers are matched into a cohort, a mentor and small group of peers who are at a similar academic stage and interested in the same research area.
Cohorts will identify opportunities around various topics, shared by each junior researcher and supported by

[2021-09-17 16:47] zubepaul commented on #168
Updated ticket to capture more of the to-do list on this small project.

[2021-09-17 17:06] jamesmcgirk commented on #170
First one scheduled for next week, going to develop some materials for it (essentially adding Tania's proposed slides to the existing doc)

[2021-09-17 17:45] jamesmcgirk commented on #161
@29988122 I mentioned this in our community call, but I'll repeat it here in case anyone else is wondering: our AI, IoT, Blockchain open hours are open to all.

[2021-09-17 17:46] jamesmcgirk commented on #160
@eleventh19 can we close this?

[2021-09-17 17:52] jamesmcgirk commented on #162
@29988122 we should start working on a project proposal -- do you have time to start this one next week?

[2021-09-17 19:15] zubepaul commented on #150
To be presented at Wednesday "all hands" call.

[2021-09-18 14:12] 29988122 commented on #161
Partial results after meeting with Deane:
I'll approach some Taiwanese SCRF members in private, to see if they're interested in a small group, or even 1-on-1 talking sessions with James/Deane. Timeslots should be in the weekends, Morning 08:00 EST, 20:00 Taipei standard time.

Deane's workshop design itself could already build confidence for new comers of SCRF already, no matter how their language

[2021-09-18 15:12] jamesmcgirk commented on #161
Let’s a have a chat about this soon! Glad you spoke to Deane, have some thoughts about getting people to participate I’ll share

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Jerry Ho ***@***.***>
Sent: Saturday, September 18, 2021 5:12:18 PM
To: smartcontractresearchforum/research_team ***@***.***>
Cc: James McGirk ***@***.***>; Mention ***@***.***>
Subject: Re

[2021-09-18 23:01] richatghettodev opened #172 "test external"
### What is the Project

### What are the documented steps you'll take

### What are the deliverables

[2021-09-19 06:59] 29988122 commented on #162
Sure, make it formal and (best effort)exhaustive, thus I can plan ahead and be ready.
After I moved to Kaohsiung and settle down, I can start immediately and (possibly) lure students with solid foundation from univ into Deane's research workshop, it would be very fitting.

Together with this issue https://github.com/smartcontractresearchforum/research_team/issues/161 , should we arrange a quick 1

[2021-09-19 10:28] jamesmcgirk commented on #162
Sounds good! I'll send you a note on Discord to schedule a meeting

[2021-09-20 18:11] eleventh19 commented on #44
@tebogonong is supporting the review of the process as the first recipient of the grant, meeting with @Coinproz and Faith to discuss

[2021-09-20 19:06] eleventh19 commented on #167
I need to review the most recent docs that Deane sent. will link to them here

[2021-09-20 19:10] eleventh19 commented on #156
goal here is to get more of a priority list of what roles are open and most pressing for us. as of right now, it's
- Research project manager who can own the content pipeline and potentially do some initial technical review
- Research project manager/intern to help with execution of outreach to research pulse authors
- Social media manager
- Community support

[2021-09-20 19:16] eleventh19 commented on #156
I need to create a post for the forum that reflects our priorities there as well

[2021-09-20 19:23] eleventh19 commented on #116
get Victoria caught up to have her support as a PM

[2021-09-20 19:25] eleventh19 commented on #160
let's close this once we feel comfortable recording those calls, see any other ideas for revision come up this week

[2021-09-20 19:27] eleventh19 commented on #153
link with #168 as that's exploring what is happening with discord updates. this is the [write up](https://docs.google.com/document/d/1QqyujQ_utvM6IyebQdUB_-Qr1fxeEV_bKG6J9pz1Zdo/edit) that Loïc made

[2021-09-20 19:35] eleventh19 commented on #158
call taking place in the next week to level-set on current progress and plan

[2021-09-20 19:38] zubepaul commented on #117
I will be updating the process in preparation for iteration #2. Call for research summary is next step from iteration #1.

[2021-09-21 00:23] eleventh19 commented on #107
I added a [new doc](https://docs.google.com/document/d/1s5oIDOB6b0KI9750Kansfh3HNsnzOYDsBSh0yFjtc2Q/edit#) to just house the CFP draft, added some focus and potential guests. @RichatSCRF @cipherix @LorrettaGS let me know if you have any feedback

[2021-09-21 00:49] eleventh19 opened #173 "Documentation Revision"
This is to manage the revision of github documentation. This entails:
- [x]  general git content creation guide
- [x] documentation process outlined
- [x]  document status audit
- [x]  hackmd tags updated
- [ ]  create content type specific templates
- [ ]  review and update each doc
- [ ]  update git landing page
- [ ]  update ToC
- [ ]  update process for creating new docs/ updating old docs
- [

[2021-09-21 00:51] eleventh19 commented on #173
Tagging @marvino3 and @Rjx223 here as well

[2021-09-21 01:03] eleventh19 commented on #169
Here is a [new project plan](https://docs.google.com/document/d/13ATuQut-y3x7-MNh23c5jjHfEFgyAzO2OoYuYLm33bY/edit) being worked on by @Ashley-Y-Lin and @twan-dev

[2021-09-21 01:05] eleventh19 commented on #167
Yes please, link to the relevant project documentation here (or to the overall folder if that's easier).

[2021-09-21 01:10] eleventh19 opened #174 "Roadmap development"
Working on a roadmap for SCRF. This includes creating a doc and a tracking spreadsheet to better understand all of the projects in flow and what the ultimate goal of those projects are.

[2021-09-21 01:26] LorrettaGS commented on #107
Hi @eleventh19, I added some thoughts to the document and made some adjustments to the content. Thanks for sharing the updated version.

[2021-09-21 03:33] eleventh19 opened #175 "create a process and relevant doc for research support grants"
Create a project plan for how SCRF engages with primary researchers. This will explore what supporting primary research would look like and what a reasonable expectation in terms of posting on the forum looks like.

Tasks
- [x] draft a scope of work template
- [ ] review with team
- [ ] draft a project plan
- [ ] review with team

[2021-09-21 03:34] eleventh19 commented on #175
#171 is related to this as those will inform the template

[2021-09-21 03:54] eleventh19 commented on #156
Here is a [project plan](https://docs.google.com/document/d/1rKN_YlS374KSOMK85qP8YgsFnjyg-AzKquRohrHkGik/edit#heading=h.dkuzi5d6flk4) I'm drafting for hiring

[2021-09-22 02:51] eleventh19 commented on #169
Met with @Ashley-Y-Lin and @twan-dev to discuss. Will regroup asynch by the end of the week to review specific event ideas. Interviewing a potential intern to support as well. We will review with @ghettodev next week

[2021-09-22 02:52] eleventh19 commented on #162
Met with @29988122 today to discuss. He'll put together an overview of 10 hours of work on this and then will regroup

[2021-09-22 14:15] cryptomarabout commented on #157
Update:

- [Notable Works](https://github.com/smartcontractresearchforum/research_content/issues/160): 2 papers added, peer review finished, GTM questions finished, have to check GTM strategy with James and Paul.
- [Discussion Post](https://github.com/smartcontractresearchforum/research_content/issues/161): On standby while finishing the research prospectus
- [Research Prospectus](https://docs.goo

[2021-09-22 19:16] eleventh19 opened #176 "Create outreach 'menu of options'"
Goal is to draft a document that outlines a list of options of how researchers and faculty members could engage with SCRF

[2021-09-22 21:21] zubepaul commented on #168
Explore automation of information gathering through discord and discourse

[2021-09-22 22:15] zubepaul commented on #133
Paul to create a rough visualization of what are all the actors and stages and needs of onboarding to help get people on the same page between onboarding, documentation production, outward facing templates, checklists, automation needs to put the internal onboarding team (and for global teams).

[2021-09-22 22:51] zubepaul commented on #135
Create a proposal document for external proposals and collaborations. Experiment number one for Crypto Fixo: Whitepaper-based challenge.

[2021-09-23 20:04] marvino3 commented on #173
Attached is a copy of the [two sample git pages](https://docs.google.com/document/d/15EVG2e5DjHXvaXXY_H48I8ENDBsKVSeCZJddp2OLMxw/edit).

1) The first is the SCRF Weekly Community Calls document, which we already worked on in the Git Template doc, but I wanted to ensure we were happy with the final result.
2) The second updated document is our Style Guide. I think this document is a crucial part of

[2021-09-23 20:06] marvino3 commented on #173
thank you @rjx223 for putting together a list of our [git docs for tracking](https://docs.google.com/spreadsheets/d/1JZkoZedH3m4YjYIHQvfyg4CQBpi3--HuUzc5OrUDF7A/edit#gid=0)

[2021-09-23 20:09] marvino3 commented on #173
Once the git samples are approved, we can use the [Incetivization doc](https://docs.google.com/document/d/1U51ZjwYkkZoirDm8BVhJ_gK7w7bnguNrLhdodzbvYQ8/edit#heading=h.8zo3svjrgkmg) as the initial sample to run through the git template @rjx223

[2021-09-24 03:40] eleventh19 commented on #107
Thanks @LorrettaGS! Made some updates to the doc after chatting with @ghettodev. Will get feedback from @cipherix asynchronously or during a meeting on Fri

[2021-09-24 19:17] eleventh19 commented on #117
Related activity, @Ashley-Y-Lin and @twan-dev are working on some revised docs for the club engagement which is starting off with a reading group idea. #169. most recent [project doc](https://docs.google.com/document/d/13ATuQut-y3x7-MNh23c5jjHfEFgyAzO2OoYuYLm33bY/edit) from that project and the current [brainstorming doc](https://docs.google.com/document/d/19d57PRgwghcA1HBvdyJbRY5dZOAHvLi-8fH_QAkp

[2021-09-24 19:20] zubepaul commented on #133
Finalize the external-facing documentation of onboarding process.

[2021-09-24 19:40] eleventh19 commented on #160
we're going to start recording these the week of 9/27 and will close this card then

[2021-09-24 21:43] eleventh19 commented on #156
@twan-dev and @vsterling are helping me with mapping some potential research PM candidates, I need to review the folks Twan found. Speaking to an MBA student, a community/social media manager, and someone to support mentorship

[2021-09-25 02:35] eleventh19 commented on #155
reviewing the Brand Guide, meeting on Monday to review

[2021-09-27 15:32] jamesmcgirk commented on #41
Former Consensys exec responded to an old request about some projects in Dubai -- could make a good first case study. Will discuss with Ralph. Would be great having an example of qualitative case study to use as a model

[2021-09-27 19:22] eleventh19 commented on #107
we're going to more specifically focus on MEV. I will draft the overall write up on it. @cipherix please suggest some reviewers

[2021-09-27 19:36] zubepaul commented on #35
Need to create a primary author process with an update.

[2021-09-27 21:04] zubepaul commented on #168
Adding @LorrettaGS so she can also brainstorm onboarding and automation needs

[2021-09-28 03:50] jamesmcgirk commented on #133
Add a note to get Discord access for onboarded core researchers / Ops

[2021-09-28 11:44] cryptomarabout commented on #157
Update:

- [Notable Works: ](https://github.com/smartcontractresearchforum/research_content/issues/160) Published.
- [Discussion Post:](https://github.com/smartcontractresearchforum/research_content/issues/161) On standby while finishing the research prospectus
- [Research Prospectus:](https://docs.google.com/document/d/1rejxut7f-5ohCzrHx1FkHnRgcHeAMZSv/edit) Lacking few pages + bibliography befor

[2021-09-28 14:39] zubepaul commented on #135
Had a discussion with @Coinproz to discuss the internal and external uses of this grant program for the SCRF organization.

[2021-09-28 18:08] eleventh19 commented on #158
putting together a job description to find someone to support this effort

[2021-09-29 01:25] eleventh19 commented on #155
meeting pushed to 10/4 as we had to sort out the git doc template (project #173). will update the ticket after that meeting takes place

[2021-09-29 01:30] eleventh19 commented on #133
adding @ttaloute as she's working on onboarding now

[2021-09-29 03:58] eleventh19 commented on #100
working on a [production plan](https://docs.google.com/document/d/1MPs0MQTtQX0SMnpGAIA99jjfwNVM7r2KIAp-th37PR4/edit#)

[2021-09-29 04:56] jamesmcgirk commented on #133
@jamesmcgirk create a few slides for the Creating Content presentation that explain how to create comments (to foreground their importance)

[2021-09-29 16:21] jamesmcgirk opened #177 "Boilerplate replies for successful Post Ideas / Summary Grants"
## Description

We need consistent messaging to put in the Post Ideas section for winners and for communicating how to begin a summary.

## Workflow

- [ ] Draft docs
- [ ] Edits from Branding / Marketing
- [ ] Ops review
- [ ] Implement

[2021-09-29 22:07] zubepaul commented on #133
Working on the external documentation of levels, roles, and onboarding tasks associated with each with @eleventh19 and @ttaloute

[2021-09-29 22:13] jamesmcgirk commented on #177
[SCRF Boilerplate](https://docs.google.com/document/d/1ei9pPtHYapq9O-lILcg48PLNWgO67IcNeHUyW5UFMVI/edit#)

[2021-09-29 22:14] jamesmcgirk commented on #177
Need to loop in Maria

[2021-10-01 00:41] Siemingfong commented on #157
Notable Works: Notable works: “Decentralization Measurements” research_content#160
Discussion Post: Discussion Post: “A Curated List of Threats to Decentralization” research_content#161
Research Prospectus: https://docs.google.com/document/d/1rejxut7f-5ohCzrHx1FkHnRgcHeAMZSv/edit

[2021-10-01 18:00] zubepaul commented on #117
@eleventh19 We should discuss the role that Lorretta can make this work.

[2021-10-04 19:29] eleventh19 commented on #158
@lpassos aside from resourcing needs, what's the next step here?

[2021-10-04 19:29] eleventh19 commented on #107
I need to schedule a meeting with Leigh

[2021-10-04 23:12] eleventh19 commented on #156
created a [job description](https://docs.google.com/document/d/1A7wtW7h9Uz1areyVic0vaswbsTWbonpDgYLaRY4w5NY/edit#) for the PM, getting into HackMD and github

[2021-10-04 23:13] eleventh19 commented on #173
@marvino3 helped create a [template for job descriptions](https://docs.google.com/document/d/1LnAanGMcOHO5NkQBEmXHonpl_t3nFkuTW_gci2FyF8A/edit#heading=h.3zn3vgvq749y), made the final updates after reviewing with @ghettodev.

[2021-10-05 02:09] eleventh19 commented on #167
updated the [project plan](https://docs.google.com/document/d/18gUBhoQKLaJ4FULeZCLKcwX2wS1Xd_wNqbncBRxmDAA/edit#) with a process for participants to follow. will review with @DeaneDesper tomorrow

[2021-10-05 02:26] eleventh19 commented on #171
@ghettodev I made [a template](https://docs.google.com/document/d/1uK-_7EltNZmk6Mqkj8lA6ZqHQ-Q1IGfTEBhEabAFrUY/edit#) to use overall. Also started an outline of [a process](https://docs.google.com/document/d/1tEEtSPpMOn8aA2kPnmSeIav542Rk8dQlDlhzBcYrCqU/edit) for the future. Will need to make a form to capture some of the info to fill out the template.

Overall update, we have 2/3 docs finalized wi

[2021-10-05 02:33] eleventh19 commented on #167
added a new [drive folder](https://drive.google.com/drive/folders/13a5LWxB4JnAsY3bz7UPWyCqoMxL-n-0i?usp=sharing) where all of the information for the mentorship program will be housed. this includes the overall process doc, the [sign up sheet](https://docs.google.com/document/d/1U88KyIYHOBMwARbpPT0Eg2vJfWu5VdgEmvfamlazwjQ/edit#heading=h.9gjoy33mcsvk), the [application draft](https://docs.google.co

[2021-10-05 02:46] eleventh19 commented on #133
@ttaloute created [this sheet](https://docs.google.com/spreadsheets/d/1Tp_A8dXioz5uc9sJ7kY3lWia59GGO_ckar1hWCDYjO0/edit#gid=1283322459) outlining onboarding activities that @zubepaul @jamesmcgirk @LorrettaGS and others are reviewing for now.

We also had a wider team meeting with folks working on onboarding, community, and branding today and have another one scheduled on Thursday

[2021-10-05 03:26] eleventh19 commented on #174
Updating some initial document drafts to a point where we can share with the team. Reviewing with @ghettodev tomorrow

[2021-10-05 23:37] eleventh19 commented on #167
@LorrettaGS, @twan-dev, @vsterling can one of you help with reviewing the [syllabus](https://docs.google.com/document/d/1VwqmrTGdYPY5a8kGM8zLmvJ6TeT3hZzOVLN8p7MeWhM/edit) (generally and also to help format) and someone also help review the process (bottom of [this doc](https://docs.google.com/document/d/18gUBhoQKLaJ4FULeZCLKcwX2wS1Xd_wNqbncBRxmDAA/edit#heading=h.fwidqwd39xae)) to see if you can sp

[2021-10-06 00:25] vsterling commented on #167
@eleventh19 I'll review and help format the syllabus

[2021-10-06 00:52] LorrettaGS commented on #167
@eleventh19 and @vsterling, I will review as well.

[2021-10-06 01:25] rjx223 commented on #173
Folder created to organize updated Git docs:

https://drive.google.com/folderview?id=1DfjkzhMOmqFQ6Vlft8nFyLDRUxf_lF3M

[2021-10-06 20:06] ghettodev commented on #171
Convert this to an epic that reflects the entire PI Grants project pls.

[2021-10-06 20:25] eleventh19 commented on #100
this is the current [governance brainstorming doc](https://docs.google.com/document/d/1zJfbgSvx9SNhkgGPQX2cBE_2P0jBy4siG_-nIdWahL0/edit#) exploring what specific problems to explore and who to feature

[2021-10-07 01:31] eleventh19 commented on #170
we are having some calls internally this week, discussing the next steps on Fri, and planning a recurring internal onboarding call starting next week (starting 10/11). we are looking to start a call that will take place at least once on a bi-weekly basis the following week. @ttaloute @LorrettaGS

[2021-10-07 01:36] eleventh19 commented on #174
cleaning up the initial project list draft, meeting again to finish the list. the list we create will also be useful in terms of having a snapshot of all of the projects taking place here

[2021-10-07 01:37] eleventh19 commented on #167
Edits are taking place, a few more minor revisions left. Then going to get a version of the syllabus into HackMD. starting to share the application this week

[2021-10-08 00:21] #107 closed

[2021-10-08 00:34] eleventh19 opened #178 "Better title"
Description

Steps to do the thing
- [ ] thing 1
- [ ] thing 2

[Link](www.wahtever.com)

[2021-10-08 01:23] LorrettaGS commented on #170
For clarity the bi-weekly call will occur before the Thursday Community Call right? That would be an opportunity for people to come ask questions related to onboarding, ensure that they have filled out all the necessary paperwork and what not. Have we determined internally who might fill that bi-weekly role? @eleventh19 @jamesmcgirk @ttaloute

[2021-10-08 13:40] zubepaul commented on #150
PR for repo documentation needs to be reviewed by @ghettodev
Poll is now live on the forum
https://www.smartcontractresearch.org/t/scrf-contributor-recognition-and-rewards-initiative/860

[2021-10-08 19:11] zubepaul commented on #135
Working on naming and another round of editing and conceptualization.

[2021-10-08 19:42] eleventh19 commented on #171
add disbursement schedule to the milestone schedule, with approximate timing. I also want to create an application for this to run by the ops team

[2021-10-08 19:54] eleventh19 commented on #95
@zubepaul will take a look at the doc and @marvinok3 and @Rjx223 will review as part of updating HackMD docs

[2021-10-08 19:56] eleventh19 commented on #35
Need to re-open this as there was some engagement workflow that was getting edited. there are changes to be made to the workflow outlined (e.g. add post ideas)

[2021-10-08 19:57] eleventh19 commented on #34
@marvinok3 and @Rjx223 reviewing as part of #173

[2021-10-08 19:58] eleventh19 commented on #72
should see if this is or should be linked to smartcontractresearchforum/research_team#108

[2021-10-08 21:16] zubepaul commented on #150
Edits made in Hackmd version of document. Most changes made, a few follow up questions in comments for @ghettodev
https://hackmd.io/DY8G9Fo7RF-EAbyXiSaZrQ?both

[2021-10-08 21:45] eleventh19 commented on #169
Adding @Newmsie10 as well (welcome!). @Ashley-Y-Lin and @twan-dev, he won't be able to make it to the meeting on Monday so if I miss any background info ahead of the meeting, please add it here.

Basically, we have [this](https://docs.google.com/document/d/19d57PRgwghcA1HBvdyJbRY5dZOAHvLi-8fH_QAkpZRs/edit#) ideas doc where we have been hashing out the ideas that we are going to present to some clu

[2021-10-08 21:49] eleventh19 commented on #160
We started recording these. Need to develop a better process for sharing the videos. At this point, I'm going to close this card. Will work with @LorrettaGS and others to figure out an overall topic schedule for the calls, topics to cover vs presentations to go through/work to highlight, etc. We'll want to add a chance for anyone who goes through #167 to be able to present on their work to the com

[2021-10-08 21:49] #160 closed, assigned to eleventh19, jamesmcgirk, LorrettaGS

[2021-10-08 21:50] eleventh19 commented on #155
@marvinok3 please provide an update and outline next steps when you get a chance

[2021-10-09 00:36] eleventh19 commented on #168
@nakedwinnie, will be asking for your help on this one. please coordinate with @LorrettaGS and @zubepaul and see #153

[2021-10-11 14:36] cryptomarabout commented on #157
- [Notable Works:](https://github.com/smartcontractresearchforum/research_content/issues/160) Published but I will add new papers in few weeks to make it more complete
- [Discussion Post:](https://github.com/smartcontractresearchforum/research_content/issues/161) On standby while finishing the research prospectus
- [Research Prospectus:](https://docs.google.com/document/d/17hvUZu0G2exS9mhSZ0Y63SNi

[2021-10-11 14:45] eleventh19 opened #179 "this is a test issue"
this is a test issue to demo for training

[2021-10-11 14:48] eleventh19 opened #180 "Project: this is a test card for training"
### Project Description

*Describe the idea/project in no less than 200 characters*. Please be very specific about precisely what the project does, and why it exists.

### Work Plan

*Enter the steps as reflected in your Work Plan:*

- [x] step 1
- [ ] step 2...

### Resources

- [link to project plan](#linkme)
- [link to process doc/proof of concept](#linkme)
- [link to any other relevant support

[2021-10-11 14:56] eleventh19 commented on #180
closing this card as this was solely used for recording a training video

[2021-10-11 14:56] #180 closed, assigned to eleventh19

[2021-10-11 15:37] eleventh19 commented on #100
Here's the [folder](https://drive.google.com/drive/u/0/folders/1iKljbt1yJAnjLmfQV2XJQC-FenHjEwXP) where are saving info for the podcast. To have docs tagged in a single comment, here are some of the current docs being used
* [overall project plan](https://docs.google.com/document/d/1M0AN_yqew5PkNhjWMLjAi9crQbOCsp1SuV986VhZXdY/edit)
* [production plan](https://docs.google.com/document/d/1MPs0MQTtQX

[2021-10-11 16:15] #179 closed, assigned to nobody

[2021-10-11 16:16] eleventh19 commented on #179
closed this because this was just used for a training video

[2021-10-11 16:40] eleventh19 commented on #169
Found [this new CoinDesk ranking](https://www.coindesk.com/learn/2021/10/04/the-top-universities-for-blockchain-by-coindesk-2021/) of blockchain uni's

[2021-10-11 18:40] 29988122 opened #181 "SCRF Internal Language/Culture Exchange Project"
# Project Proposal: Language/Culture Exchange

* Why’s:
    * In an async working community setting, it would be hard to keep everyone’s morale high, even harder to sync people’s vision in line with the org.
    * For a particular case observation, Taiwanese SCRF researcher occupied 10~20% of all *active* researchers, and more than half of them can’t express their thoughts fluently verbally, in En

[2021-10-11 18:41] 29988122 commented on #181
Please refer to [this working folder](https://drive.google.com/drive/folders/1-3zoRB_BTo6cEKqFhMesg9SzDeYE4qYv) for all the documentations and protocols. Permissions are required, contact Eugene for details.

[2021-10-11 18:43] 29988122 commented on #181
Was [this issue](https://github.com/smartcontractresearchforum/research_team/issues/161), now pivoted into this exchange project.

[2021-10-11 18:43] 29988122 commented on #161
Closed as it's now pivoting into this https://github.com/smartcontractresearchforum/research_team/issues/181 .

[2021-10-11 18:43] #161 closed, assigned to eleventh19, 29988122, jamesmcgirk

[2021-10-11 18:45] LorrettaGS commented on #107
Flagging for @eleventh19 that Leigh responded with her availability for a potential meeting. I can be available to join if needed on Friday, October 15th.

[2021-10-11 18:46] 29988122 commented on #181
PMs are assigned to @eleventh19 @jamesmcgirk @twan-dev @LorrettaGS temporarily, until we came out a better solution to conduct the first-time-trial-run.

[2021-10-11 19:22] eleventh19 opened #182 "Project: Recording some initial trainings and mapping what training videos we need"
### Project Description

This project card is to outline the initial training videos that are being created initially and to map out the issues that will be created.

### Work Plan

- [x] Record a how to get comp'ed video
- [ ] Record a general github training
- [x] Record a mentorship PM github training
- [x] Record general PM github training
- [ ] Coordinate on a content pipeline PM training
- [

[2021-10-11 19:25] zubepaul opened #183 "SCRF Directory and Who's Who Posts"
**Description**
This is an internal project to create a directory for SCRF for the Discord as well as scheduling monthly posts to announce roles and role changes.

- [ ] Create a directory
- [ ] Make directory public or public as needed
- [ ] Draft language to announce new "Core" people and point out who the community should be interacting with.
- [ ] Schedule for "Core" messages on chat

[2021-10-12 02:13] eleventh19 commented on #100
Reviewed the brainstorming doc with @ghettodev and made some adjustments. going to review with others this week and then will proceed to start outreach

[2021-10-12 15:50] eleventh19 opened #184 "Additional revisions to calls (community, all hands, research)"
This card is meant to track the upcoming changes that we need to think through in regards to a few calls.

Work to explore
- [x] does it make sense to reschedule the current Wed community call to an earlier time to make it more accessible for the Taiwan-based researchers?
- [x] do we need to add a third community call focused on being more accessible for current/potential community members in Afri

[2021-10-12 15:57] eleventh19 commented on #184
@jamesmcgirk @twan-dev please provide an update here once you sort out the timing of the Wed community call. Let's also chat with @LorrettaGS to discuss the idea of adding a third community call in the near future.

[2021-10-12 17:47] eleventh19 commented on #153
@nakedwinnie

[2021-10-12 19:16] nakedwinnie commented on #153
Added Carl Bot to potential bots table

[2021-10-13 00:11] LorrettaGS commented on #184
@jamesmcgirk & @twan-dev I will reach out to schedule some time to connect and plan the future of Community Calls.

[2021-10-13 01:02] LorrettaGS commented on #183
I am working on something similar on the Community Call document. So far I have pulled together bios which can be folded into a directory. So just flagging this for you @eleventh19 and @zubepaul

[2021-10-13 17:00] jamesmcgirk commented on #184
@twan-dev @LorrettaGS we landed on 12:30am ET as the new APAC Community Call time during the meeting

[2021-10-13 17:44] eleventh19 commented on #171
still need to update the general template for this. might end up tapping @vsterling @LorrettaGS @twan-dev to help at some point next week. 2/3 initial projects to support have been formally started, wrapping up the final one

[2021-10-13 18:53] zubepaul commented on #150
Public-facing language under review by Maria. Edits to the forum post need to match these edits. I will coordinate with @rjx223 to get that completed.

[2021-10-13 20:54] zubepaul commented on #150
Forum post edited by @rjx223 to conform to public-facing language.

[2021-10-14 14:57] Coinproz commented on #44
look to do an inaugural launch on January 22nd

[2021-10-14 14:58] eleventh19 commented on #44
Caught up with @Coinproz and @tebogonong. Also tagging @Fizzymidas.

Here are the open questions:
- what do we need to have in place before we launch? Forum posts, github documentation, anything else?
- when do you think it makes sense to launch? Around January, Maybe Jan 22?
- what is the outreach plan once we launch? Do we know who/what orgs we'll reach out to and who will be doing the outreach?

[2021-10-15 00:29] Newmsie10 commented on #169
Twan and I created a list of possible options for engagement opportunities for clubs [here](https://docs.google.com/document/d/19d57PRgwghcA1HBvdyJbRY5dZOAHvLi-8fH_QAkpZRs/edit#heading=h.fbepbtittkat). I think the main concern will be how we can deal with students/clubs who are trying to do more hands on project based work rather than group readings

[2021-10-15 00:50] encore9870 commented on #169
- TL;DR for progress up to Oct 14 is in this [slide](https://docs.google.com/presentation/d/1F9iE3HH8j96f9pwZCo2umLeBVObURQTkByvVTCZDlWI/edit?usp=sharing)
- Just met with Ishgan an hour ago, and he's going to let us know when CMU's next brainstorming club session is
- @Newmsie10 and I will write up a document to send&pitch to other clubs on the list

[2021-10-15 06:58] encore9870 commented on #133
We might be experimenting with creating a google form to onboard new members.

Google forms could be great because they can serve as a checklist that reminds you to fill in everything. It also makes it easier to collect or organize contact information and see if they are onboarded.

Here's [a Google form for onboarding community members](https://docs.google.com/forms/d/e/1FAIpQLSdwLgsLRAeCqkGwxgEU

[2021-10-15 13:30] encore9870 commented on #181
@29988122, @LorrettaGS, and I met this week to discuss this
My meeting notes -
### Concerns
 - Participants are not guaranteed to feel "mentally safe"
   - Introducing home culture could be even harder than making academic presentations
   - If taken too seriously it can become a challenge
 - We don't know how interested people are in the long run
   - Despite the initial hype, not enough people f

[2021-10-15 15:04] nakedwinnie commented on #153
Added automated Welcome to Server Message

[2021-10-15 15:35] jamesmcgirk commented on #133
@ttaloute and @eleventh19 have requested a content generation training video.

- [x] Query researchers for feedback on the current training program
- [ ] Develop basic script
- [ ] Shoot the script
- [ ] Review and Edit
- [ ] Send to Audio Production
- [ ] Publish

Link to [script doc](https://docs.google.com/document/d/1jL-mJOToaW7nZuBI2zIuf39G3_fuTqoqzEXwwZSKmtU/edit)

[2021-10-15 16:45] nakedwinnie commented on #153
Added automated Acknowledgement of Server Rules message

[2021-10-15 19:20] zubepaul commented on #183
Potentially expand to a project/community roll-up of what happens as SCRF. Socials and chat news roll-up. @LorrettaGS and @nakedwinnie, this might be something the three of us coordinate. Becomes a forum post maybe?

[2021-10-16 13:53] eleventh19 commented on #167
The pilot program has launched as of 9a EST this morning (Oct. 16th) with all 15 participants in attendance.

There is a new mentorship repo (not public during the pilot) that is used to track people through the program. The ops team has the breakdown of who applied, was accepted, and who got me the sign up sheets (most of the group).

We are going to create a new card to track the 101 program thr

[2021-10-16 13:53] #167 closed, assigned to eleventh19, ghettodev, DeaneDesper

[2021-10-16 18:04] rjx223 commented on #167
Final edits made. The document has been converted and is ready for final approval

[2021-10-17 15:41] zubepaul commented on #183
@rjx223 is also interested in contributing to/developing the rollup on the chat. Tagging her here to make sure she gets updates.

[2021-10-17 16:57] rjx223 commented on #150
The document is ready for approval @ghettodev
Thank you!

[2021-10-18 11:43] encore9870 opened #185 "Training New Content Pipeline Project Manager"
### Project Description

- Train a new project manager to take over document pipeline
- Define best practices for document pipeline management

### Work Plan

- [x] Define the current role
- [x] Define the ideal role
- [x] 1-1 meetings with stakeholders

### Resources
[Onboarding into the Content Pipeline](https://docs.google.com/document/d/1IQKBGB7d-QosIhQz5MLVSrL9W1Qen4sIgVOFQn6Sye4/edit#heading

[2021-10-18 22:03] rjx223 commented on #173
Victoria, @marvino3, and @rjx223 met today and reviewed Process: Document Content Pipeline

Takeaways:
Rachel - creating rewards template, updating all reward/initiatives documents
Victoria - creating reference template, updating all reference documents
Maria - creating job description template, updating miscellaneous documents, reviewing document updates made by Rachel and Victoria

Regrouping ne

[2021-10-18 23:54] virtualtart commented on #100
Developed [Workflow Doc](https://docs.google.com/document/d/1Sdi9w9SDX4gRQqJl2cSGa-jFe5FUwbd2ujpmxC3djWI/edit?usp=sharing) to match up production plan with document pipeline

[2021-10-18 23:55] virtualtart commented on #100
Greenlit/finalized [Guest Checklist](https://docs.google.com/document/d/1Sdi9w9SDX4gRQqJl2cSGa-jFe5FUwbd2ujpmxC3djWI/edit?usp=sharing) for pre-production organization of interview guests

[2021-10-19 17:14] eleventh19 commented on #150
not ready for review yet, @rjx223 is revising based on template and then @marvino3 is going to review

[2021-10-19 17:17] eleventh19 commented on #173
testing to see if we can add checkboxes in comments
- [ ] create a new project card for identifying documentation that needs to be created
- [ ] Interview team leads for missing documentation

[2021-10-19 17:21] eleventh19 opened #186 "test card to issue"
add description

here are the tasks to be done
- [ ]
- [ ]
- [ ] a

This is a document that is needed

this was just a dummy ticket so I am deleting this

[2021-10-19 17:23] eleventh19 commented on #186
@ghettodev please delete this dummy ticket

[2021-10-19 17:23] #186 closed, assigned to nobody

[2021-10-19 17:27] eleventh19 commented on #135
tagging @marvino3 as she's helping with the naming/branding

[2021-10-19 17:32] Coinproz commented on #135
I am starting to refer to the SCRF "Macroinstitution" within the context of
establishing "Microinstitutions" within SCRF (I.E. the Pan-African
Microgrants program, Mentorship program, AIOT group, Decentralization
project etc...)

I think conceptually, this might help move towards a naming convention for
cryptofixo, as there is the macro and micro within the organization and
outside the organizatio

[2021-10-20 15:40] marvino3 commented on #135
The [CrytoFixo Naming Brainstorm Doc](https://docs.google.com/document/d/18gErNMQBfRzCKXMdr1DFfqEDOC5ZViRS6WU8f_krnx0/edit#) that @zubepaul and I have started working on

[2021-10-20 15:49] marvino3 commented on #173
@eleventh19 updated checklist...

- [x] general git content creation guide
- [x] documentation process outlined
- [x] document status audit
- [x] hackmd tags updated
- [ ] create content type specific templates
- [ ] review and update each doc
- [ ] update git landing page
- [ ] update ToC
- [ ] update process for creating new docs/ updating old docs
- [ ] ensure all docs are live (listed or unlis

[2021-10-20 18:44] zubepaul commented on #35
Make sure to update the process a little more and make the things that have been captured and that the engagement with members of the community is prioritized. Have a chat with Sam and Ralph with fresh eye frustration.

[2021-10-20 18:46] zubepaul commented on #35
Create and include a best practices section or separate doc.

[2021-10-20 18:54] zubepaul commented on #35
And then create a centralized document that can be part of all engagement and moderation. Call this the Curation Playbook

[2021-10-21 03:04] LorrettaGS commented on #183
@eleventh19 and @zubepaul, shared you on a quick directory proposal for current SCRF staff and willing community members.

[2021-10-22 14:43] eleventh19 opened #187 "Community - trial a different cadence for the community calls"
After chatting with @LorrettaGS, we want to trial a different cadence for the calls. We're going to do one week project presentation and one week community/research presentation. @LorrettaGS please add the link to the planning sheet where we're planning out the next few. Hoping that the next few weeks will be (need to confirm with folks):

- crypto fixo project
- decentralization research
- roadma

[2021-10-23 12:52] cryptomarabout commented on #157
Research prospectus finished and peer reviewed by Chris and Deane.
@jamesmcgirk can you please give it another review ?
https://docs.google.com/document/d/1-NHeoAJn3cw2c_WhLVR87O3y0ZVOF_i5C2LEqfNi1C8/edit?usp=sharing

Thanks in advance

[2021-10-24 15:57] encore9870 commented on #133
We had a meeting on 10/21. @ttalloute and @twan-dev are putting together a process based on the discussion that took place. We will update on Tuesday.

[2021-10-24 22:14] LorrettaGS commented on #187
Hi Team, [here is the link.](https://docs.google.com/spreadsheets/d/1IMxfFZ2N_hZVNhjxP6079qg0o0GbiJVEH_LUeKiuig4/edit#gid=1569158022)

[2021-10-25 00:38] LorrettaGS commented on #181
Created/Updated the Proposal for the SCRF: Community Passport: Language and Culture Exchange. @twan-dev and @29988122 will review and provide feedback before sending it to @eleventh19 for review.

[2021-10-25 15:26] marvino3 opened #188 "Style Guide Revision"
The intention of this project is to review and update the style guide based on updated branding guidelines.

- [x] Update style guide
- [x] Internal review
- [x] Publish on git
- [x] Create a video

[2021-10-25 15:32] marvino3 commented on #188
Updated [SCRF Writing Style Guide](https://docs.google.com/document/d/15EVG2e5DjHXvaXXY_H48I8ENDBsKVSeCZJddp2OLMxw/edit#) in Google Docs. And the [updated guide in HackMD](https://hackmd.io/BfwXcm07S-yFIa6mpUoE7A). Sent to @jamesmcgirk, Ralph, @eleventh19, and @ghettodev. Please review to finalize and publish by EOW.

[2021-10-25 17:18] marvino3 commented on #150
The gdoc was revised. Approved on my end @rjx223 and @zubepaul. Should be ready for hackmd and final approval.

[2021-10-25 17:34] rjx223 commented on #150
Working out the payment structure with @zubepaul

Will update when that is finalized and reflected in HackMD

[2021-10-25 18:33] zubepaul commented on #34
Break-out with Engagement team to update and create as a best practices document.

[2021-10-25 19:06] eleventh19 commented on #188
Thanks @marvino3! Will review and follow up with any questions

[2021-10-25 19:08] eleventh19 commented on #171
need to follow up with @vsterling @LorrettaGS @twan-dev during the next PM meeting

[2021-10-25 20:38] eleventh19 commented on #173
reflected above

[2021-10-25 22:58] eleventh19 commented on #169
Ishgun followed up to let us know that someone from the club will follow up in the next week to set up something up the week of 11/8 (hopefully 11/9). Meeting with someone from RMIT soon. Caught up with @Newmsie10 and will chat with @twan-dev tomorrow

The goal for now is to a) iron our the 'menu of options' of the kinds of things we can help clubs with and b) run that by a few more clubs so we ca

[2021-10-25 23:13] LorrettaGS commented on #181
@29988122 and @twan-dev reviewed the document, small updates were made and sent to @eleventh19.

@eleventh19 will review and provide feedback. Document is available here. https://docs.google.com/document/d/1FqOCYCYea1Z8EnxyF244MCHFe-ndnF9K/edit#heading=h.bu9lkpui8kx5

[2021-10-26 01:16] encore9870 commented on #169
Eugene's meeting with RMIT went really well, they are excited about having so many options to choose from, and will follow up once they have internally leaned towards one of the options.
Meanwhile, @Newmsie10 while waiting for responses, we can and should make time to connect and pitch to other universities on the list

[2021-10-26 01:17] Newmsie10 commented on #169
Just ran a few ideas past the UMN Blockchain Club and they are actually working on a technical project for this semester and already had their format set and are not very interested at the moment. They said they would be open for ideas for the next 2022 spring semester and are enthusiastic about how SCRF can give them some content that they may have been lacking from before.

[2021-10-26 01:57] eleventh19 commented on #187
Thanks @LorrettaGS! Do you think we need to create any process beyond discussing it and reaching out to people? Should we try to get input from the community on what they want to hear about?

[2021-10-26 02:00] eleventh19 commented on #185
Rich, Lucas, Twan, and I are meeting a few times to get us all on the same page with the content pipeline and process. @twan-dev anything specific that we can do for now?

[2021-10-26 02:01] eleventh19 commented on #184
I think that we can close this issue as the Wednesday call was rescheduled and we are going to set a new time for the research call so we'll see if a second one is needed

[2021-10-26 02:01] #184 closed, assigned to eleventh19, jamesmcgirk, twan-dev, LorrettaGS

[2021-10-26 02:03] eleventh19 commented on #182
There is also a pm training video and a mentor ship program training video. Working on the content pipeline training

[2021-10-26 02:10] eleventh19 commented on #170
We should plan when we want we want to do the first public one

[2021-10-26 02:14] #146 closed, assigned to jamesmcgirk

[2021-10-26 02:56] encore9870 commented on #185
@eleventh19 Yes, Lucas and I met 12 hours ago. We are going to clear up the tickets in the ideal proposal stage starting by asking people to stay compliant with their formats.
I've created a [spreadsheet](https://docs.google.com/spreadsheets/d/1G4laGaZ9X89-PiNDLpdfUgZXKVsYqpFA7QxaFNLa5wI/edit#gid=0) to keep track of what to follow up with Lucas

[2021-10-26 03:54] eleventh19 commented on #181
Reviewed the doc and added a comment. Looks good otherwise. Feel free to tag James, Paul, and Rich to review, as well as the general PMs.

[2021-10-26 18:53] rjx223 commented on #173
@eleventh19 @ghettodev
The SCRF Contributor Recognition and Rewards and Rewards Template are ready for approval on HackMD.

[2021-10-26 21:36] jamesmcgirk commented on #157
@cryptomarabout checking it out now!

[2021-10-27 20:01] rjx223 commented on #173
Rewards Template has been recalled until @marvino3 and I hear back from various rewards content owners. Moving to draft, will update as needed.

[2021-10-29 15:02] cryptomarabout commented on #157
- [Notable Works:](https://github.com/smartcontractresearchforum/research_content/issues/160) Published but I will add new papers to make it more complete
- [Discussion Post:](https://github.com/smartcontractresearchforum/research_content/issues/161) On standby
- [Research Prospectus:](https://docs.google.com/document/d/1-NHeoAJn3cw2c_WhLVR87O3y0ZVOF_i5C2LEqfNi1C8/edit) Peer reviewed by Chris, Dea

[2021-11-01 23:52] LorrettaGS commented on #187
I do think that we need some more concrete plans. @eleventh19, it might be a good idea to plan with @jamesmcgirk to see how we can plan for future Community Calls.

Should we look to connect this week.

[2021-11-02 16:54] marvino3 commented on #173
@eleventh19 @ghettodev I have incorporated comments left in the gdoc. The [SCRF Writing Style Guide](https://hackmd.io/BfwXcm07S-yFIa6mpUoE7A?both) is in HackMD and ready for final approval.

[2021-11-04 01:40] encore9870 commented on #185
- During our last pipeline meeting, we discussed and settled with v1 rules to our content pipeline
- Over the past week, I have been making sure new tickets comply with those rules
- We are having our researchers' call in 12 hours

Things to do
- [x] Settle with a time for future regular researchers' call
- [x] Discuss observations from implementing v1 rules
- [x] Create a tutorial for the new rul

[2021-11-05 19:37] eleventh19 commented on #181
@LorrettaGS can you remind, what is the status?

[2021-11-05 19:50] eleventh19 commented on #155
[this project plan](https://docs.google.com/document/d/1vLSElaLxywMTp1gk0f7fT2oQhe4o0_3l7gBoWcQMm7c/edit#heading=h.h50zkyeuvm32) was created by @marvino3

[2021-11-07 02:27] encore9870 commented on #181
Current State
- A draft survey is in progress and it should be ready to hand out to community members in the coming week
- Editing project proposal to comply with RIP template

Next Steps
- Nov 10 - 13  hand out survey to all SCRF members
   - [ ] APAC call
   - [ ] All hands
   - [ ] Research mentorship
- Reach out to volunteer hosts
- Settling a time for the first exchange

[2021-11-07 02:31] encore9870 commented on #185
Last call went well. We discussed the new rules and mostly the peer review part.
As there have been updates to v1 rules, creation of the tutorial will start this week.
Regular time for researchers' call tentatively proposed. I will check the box when it's properly settled.

[2021-11-07 02:35] encore9870 commented on #169
Current state:
We've decided that instead of proposing ideas to clubs, we would just talk to them directly, and see how SCRF can provide the most value.
Eugene is reaching out to existing connections and we'll move to next steps once we've heard from them.

[2021-11-07 02:42] encore9870 commented on #133
### Current state

- After the meeting on 10/21 and more work from Tania, we now have a pipeline (powered by google forms + email templates) that future applicants will all be required to go through. About 7 new applicants and they will go through the process and we'll see how they do.

- I will make the content generation training video.

[2021-11-07 02:49] encore9870 commented on #118
I would update the process for the IA, and will connect with Lucas to see how things can work.

[2021-11-07 15:20] LorrettaGS commented on #181
Thanks @twan-dev for the follow-up. I wanted to make a few adjustments to the timeline that you created.
The draft survey and proposal will be updated and with go through review this week. I want to make sure that you and @29988122 are fine with what we pull together. Hope to also have @eleventh19 review it on Thursday, November 11th.

During the week of November 14th the Survey will go out to SCR

[2021-11-08 16:24] eleventh19 commented on #169
CMU event is happening on 11/16. I just pinged the UT Austin club president. We recently got connected to the Cornell folks, going to follow up with them. Need to ping regarding the UPenn club and RMIT club

[2021-11-08 17:20] eleventh19 commented on #100
First two interviews (1.1 and 1.3 are scheduled). @jamesmcgirk is going to be helping with drafting the 'actionable takeaway' posts. I need to lock in the second guest of 1.2 and finalize the second mini-series

[2021-11-08 23:09] jamesmcgirk commented on #156
Working on a list of adjuncts and lecturers to reach out to

[2021-11-09 22:48] eleventh19 commented on #169
meeting the club president from UT Austin tomorrow, emailed about Penn yest, and will follow up on Cornell right now

[2021-11-10 00:06] vsterling commented on #116
Created a draft [Notable Works submission form](https://docs.google.com/forms/d/1VKFD_1nBkdhvUIf_t5NdpbDUC91DSN4ofDpx1CtlZew/edit?usp=sharing) that can aggregate all user suggestions and gather key information, such as SCRF usernames and Wallet IDs, for processing bounties. Suggestions welcome @eleventh19

[2021-11-10 14:15] eleventh19 commented on #156
In line with some of the university outreach that we're thinking of, I've started putting together some more job descriptions including:
- [Peer Reviewer](https://docs.google.com/document/d/155bmjvQTeHgD3LOA8pJODKZWXyBFHntKjbTEPc6sPYg/edit)
- [Peer Reviewer Fellowship](https://docs.google.com/document/d/1rOgURKxYPihbhnJCg5S9Rk2OJLnIyTuSLXh1GVushdI/edit)
- [PM Intern](https://docs.google.com/docume