[2021-11-10 18:23] marvino3 commented on #188
The style guide has been approved. Need to publish it to git @eleventh19

[2021-11-10 18:26] marvino3 commented on #155
Sent out a [form](https://docs.google.com/forms/d/1NGVTHHC5BgFBz5mnOKgPr_KfNN-BUsEG44WgiZXRdWE/edit) to gather mission/ vision feedback and validate our messaging to support brand guide updates

[2021-11-10 19:45] rjx223 commented on #173
SCRF Reading Group, SCRF Impact Award, & SCRF Weekly Community Calls have been updated and reviewed by their content owners. @marvino3 will review before marking them ready for approval.

[2021-11-10 19:46] vsterling commented on #173
I will revisit the Notable Works Bounty revision after progress has been made in the project's development. Moving on to revise the Glossary Terms and create a draft Reference Template.

[2021-11-10 21:18] vsterling commented on #116
Updated the [Notable Works Process](https://docs.google.com/document/d/1EtuUMPNgN_uFmBAV2yOMZj432TYmsKD80aXeatRk-5E/edit?usp=sharing) doc with a fuller project picture. The process is broken down into three primary stages: User Suggestion, Review Process, and Bounty Transaction.

[2021-11-10 23:52] rjx223 commented on #150
Contributor R&R doc on Hack is ready for final approval @eleventh19 @ghettodev

[2021-11-11 03:26] LorrettaGS commented on #181
@eleventh19, our team has updated both the document and the survey and they are both in your inbox to review. I will also link the proposal here.
https://docs.google.com/document/d/1lQNbF4WXAzHoOmZ5uH1-GIhHYcsyZseW_aAQQM3cWGE/edit#

[2021-11-11 23:42] jamesmcgirk commented on #142
##Update Meeting November 11, 2021
_Needs:_
- Ralph and James need to be able to add tags

_Glossary and Post Idea_
##Top Priorities
1. Tags
- Update recent summaries with new tags
- Retrieve the tags from the Github card
- Community-led discussion about maintaining and deleting tags
2. Information Architecture
3. Consistency
- Making sure each Category has all the necessary pinned posts
- Subcate

[2021-11-12 00:52] eleventh19 commented on #156
thanks for everyone who reviewed the docs. going to go over them with Rich and will get these up on HackMD and git

[2021-11-12 02:27] eleventh19 commented on #137
finally added the last transcript, going to close out this out

[2021-11-12 02:27] #137 closed, assigned to eleventh19, ghettodev, jamesmcgirk, zubepaul

[2021-11-12 02:28] eleventh19 commented on #188
the style guide is waiting to get approved, PR has been submitted

[2021-11-12 02:28] eleventh19 commented on #174
presented parts of it. reviewed OKRs today. shooting to present it next week

[2021-11-12 02:30] eleventh19 commented on #100
transitioning the project management of episode specific cards from the content pipeline to a beta of the new PM functionality, @ivanplazacic is creating the board. need to schedule two episodes. need to finalize 3 guests.

[2021-11-12 02:33] eleventh19 commented on #116
meeting from today got rescheduled to next week to review the updated process and figure out next steps

[2021-11-15 20:08] eleventh19 commented on #188
@marvino3 am I correct in thinking that all that's left is finalizing the video with @ivanplazacic? or is there anything else?

[2021-11-15 20:13] zubepaul commented on #150
Connect with @vsterling to get involved with this process as a PM.

[2021-11-16 04:11] LorrettaGS opened #189 "Creating a Discord Channel for the SCRF Community Passport: Language and Culture Exchange"
The SCRF Community Passport Language and Culture Exchange aims to create a collaborative environment to foster engagement within the SCRF’s community. This will lead to more discussions, opportunities for growth, and most importantly, it will create a space where people can share about themselves, their culture, and their identity.

A dedicated Discord channel will help community members connect a

[2021-11-16 04:17] LorrettaGS commented on #189
@ghettodev, can you create a dedicated Discord channel for the SCRF Community Passport: Language and Culture Exchange.

Some name ideas -
Community Passport:LCE, Community Passport, Language and Culture, L & C Exchange

[2021-11-16 04:27] LorrettaGS commented on #189
Access - This is open to the SCRF community, all those interested in the Language and Culture Exchange are invited to join - Will share on the #general channel and direct those interested to the "exchange" channel.

Location on Discord - Text Channels

Roles - @LorrettaGS (Project Manager) will serve as primary with @twan-dev (Project Manger) and @29988122 (Creator) serving as secondary.

[2021-11-16 04:31] ghettodev commented on #189
I've created the channel `Community Passport` and given the PM role permissions to change some admin settings. Let me know if anything looks broken.

[2021-11-16 17:35] eleventh19 opened #190 "Tooling and site improvements"
This card is meant to capture the ideas for improving our tooling in the context of the forum/landing page. This card will be open while we are gathering ideas and before we start a formal project to build out a new landing page. We will keep the card open until that landing project formally launches.

Please feel free to add any ideas for how we can improve here! The project lead of the landing p

[2021-11-17 01:27] zubepaul commented on #135
@zubepaul and @LorrettaGS met on November 16 to move this project forward.
3-pager to @LorrettaGS with a potential to present 3-pager to the community by November 30th to be completed by @zubepaul.
Goals are:
- [x] Make 3 pager into RIP
- [ ] Present to community followed by a survey of interest
- [ ] Launch phase 1 with small initial asks.

[2021-11-17 20:42] zubepaul opened #191 "Epic: Create Initial Forum Maintenance Plan"
**Description**
An initial description of the maintenance tasks, responsibilities, and processes associate with forum maintenance in the moderation team.

**Steps**
- [x] Create Maintenance Plan with a list of maintenance items
- [ ] Create a rotation policy and process for accomplishing Maintenance Plan
- [ ] Create a schedule for maintenance items
- [ ] Produce above documentation and determine

[2021-11-17 21:21] zubepaul opened #192 "Task: Forum Tag Update"
**Description**
This is a task to update the forum with appropriate tags. It is a one-time task as a maintenance plan should prevent tagging from needing singular tasks in the future.

**Steps**
- [x] Create rules regarding what and how to tag
https://docs.google.com/document/d/1m7XZ6jGk2lHCQNb6HUwWZVVillD4-f3rsLJcbhb4KtU/edit#heading=h.ord54r83vyh
- [ ] Update ticket #191 to include the rules of

[2021-11-18 00:40] rjx223 commented on #150
@LorrettaGS @zubepaul and I met to discuss the future of the initiative and what it could look like and how to evolve it into a community-driven mechanism. Some of the ideas proposed include:

- Creating identities/roles within the community for nominators, open to everyone
- Establishing a new channel on Discord for nominations to be made openly by community members
- Providing a micro-payment fo

[2021-11-18 01:08] rjx223 commented on #173
Starting updates to Researcher Mandate & Moderator Mandate documents

[2021-11-18 03:58] LorrettaGS commented on #181
During the 11/16 - 11/17 APAC Research and Community Call the survey and proposal were presented to members along with the motivations behind the project. It was also debuted on the #general and #community_passport channels.

During the 11/18 America's Call the project it will be presented there as well.

[2021-11-18 16:10] jamesmcgirk commented on #133
Per today's discussion, I'll begin working on an outline of a SCRF culture presentation

[2021-11-19 14:08] cryptomarabout commented on #157
- [Notable Works:](https://github.com/smartcontractresearchforum/research_content/issues/160) Published. (Seeing the process for iterative improvements)
- [Discussion Post:](https://github.com/smartcontractresearchforum/research_content/issues/161) 1st version Finished. On standby
- [Research Prospectus:](https://docs.google.com/document/d/1-NHeoAJn3cw2c_WhLVR87O3y0ZVOF_i5C2LEqfNi1C8/edit) Finishe

[2021-11-19 18:43] marvino3 commented on #188
yes, style guide has been published and video has been recorded, it is now in the final editing phases @eleventh19 @ivanplazacic

[2021-11-19 18:45] marvino3 commented on #173
In the process of reviewing and updating the Git home page and Connecting w SCRF

[2021-11-19 18:47] marvino3 commented on #155
Waiting on a [form](https://docs.google.com/forms/d/e/1FAIpQLScWZ2wfBDR8XWlQvTv4KfThsELR_9mrSgW0IpnC9YSfcLzUug/viewform?usp=sf_link) response from @ghettodev. Then, analyzing and incorporating comments to update the boilerplate language over the following weeks

[2021-11-19 20:02] zubepaul opened #193 "Create Community Section on Forum"
**Description**
Create a community section on the forum where the activity and needs of the SCRF community can be discussed publically. This is going to be community lead task.

**Steps**
- [ ] Create "about" documentation for the new category
- [ ] Update the forum "About" section so that it contains either a link to GitHub Repo or has the boilerplate content in it
- [ ] Create category on forum

[2021-11-22 20:43] eleventh19 commented on #158
@vsterling or @Newmsie10, can you please provide an update on the project overall. also, please set up a meeting with you two, Leo, Rich, and me in the first two weeks of December

[2021-11-24 19:22] jamesmcgirk commented on #192
11/23 - agreed to a basic scheme for tagging, red = suggested deletion; bold = suggested addition; PROPOSED: a suggested addition to our tags

[2021-11-24 19:44] zubepaul commented on #192
Things to do next:
- Bring up Engagement process as Engagement Review task for tags
- Moderation has say on the tag application (up to 4) based on glossary
- Remove mistagged content on the forum using work on the GTM spreadsheet.

[2021-11-24 19:50] zubepaul commented on #191
Take the List from November 11 Meeting notes in the Project Plan doc above and brainstorm subtasks, create tickets for those subtasks.

[2021-11-24 23:01] eleventh19 commented on #176
making some progress here by creating [this draft](https://docs.google.com/document/d/1wYtv7ptbhuIEOEfV601DX_nbJcQG7BnT2ip8DfIPIoA/edit#) of a 'menu of options' for academic outreach. also updated the [personas](https://docs.google.com/document/d/1wYtv7ptbhuIEOEfV601DX_nbJcQG7BnT2ip8DfIPIoA/edit#) doc in relation to the other doc linked here

[2021-11-24 23:05] eleventh19 commented on #164
this is being closed as it is no longer relevant. we are capturing some information as part of the onboarding process updates (#133, #170) and the directory project (#183)

[2021-11-24 23:05] #164 closed, assigned to nobody

[2021-11-24 23:08] eleventh19 commented on #159
closing this out as this is now being tracked in smartcontractresearchforum/engagement#104

[2021-11-24 23:08] #159 closed, assigned to nobody

[2021-11-24 23:10] eleventh19 commented on #72
this is also being worked on as part of the updates to researcher onboarding, the content pipeline process, and hiring researchers/peer reviewers

[2021-11-28 23:26] eleventh19 commented on #169
setting up a brainstorming session with the UT Austin club on 12/5 at 4p

[2021-11-29 17:21] ralphlombreglia commented on #192
1) To my knowledge, we haven't created rules for tagging. I would like to understand and participate in the process for doing that. Some obviously necessary tags are missing.
2) I went through approx. 25 3-level posts and recommended obvious additions, and in a few cases deletions, of tags. Approx. 60 3- and 40-level published posts remain. I'm getting faster, so I estimate 2-3 hours to finish thi

[2021-11-29 19:00] zubepaul opened #194 "Task: Consistency Pinned Posts"
**Description**

**Resources**
- Past Documentation

**Tasks**
- [ ]

[2021-11-30 21:35] ralphlombreglia commented on #194
Here's my inventory of pinned posts by category:

AUDITING AND SECURITY
	YES: Category Intro, Notable Works and Key Problems
	NO: About

ORACLES AND DATA
	YES: About, Intro, Notable, Key Problems

CONSENSUS
	YES: About, Notable
	NO: Intro, Key Problems

SCALING
	YES: About, Notable (but this is an invitation to submit, not a list of Notable Works; retitle this to Intro?)
	QUESTIONS: "Notable Works

[2021-12-01 01:10] zubepaul commented on #135
Meeting with @LorrettaGS
Updated the initial [Proposal Document](https://docs.google.com/document/d/1aJcm2K6yVl3cnPog9rSok0Mep5PnvFIhSK1lQzkGUCM/edit#heading=h.i7d6koxnqouk):
- First 3 pages are an overview summary and pilot program description
- Includes a tentative timeline
- Includes identification of documentation needs.
- Small initial asks from prior comment have been tentatively identified.

[2021-12-01 20:52] eleventh19 commented on #181
@LorrettaGS is there a date set for the first one or is the hope to get clarity on a date when presenting on this in the community call this week?

[2021-12-01 20:57] eleventh19 commented on #155
linking the [exercise outcomes](https://docs.google.com/document/d/1xRre3UOao5qx3umljls_fOJtrnDxflJyveOdydP14rY/edit#heading=h.orrfj3rovqjt) doc here to not lose track of it

[2021-12-01 22:56] eleventh19 commented on #135
I think the project proposal doc you linked to replaces the need for an RIP (just make sure the various sections of the RIP are addressed in that doc as appropriate). I added some comments to the doc above as well. I think we can just keep adding to the process written out there. Is the 'GitHub Description and How To participate' doc the first one to get worked on?

[2021-12-01 22:57] eleventh19 commented on #107
emailed Leigh an update and exploring some slightly different options

[2021-12-01 22:58] eleventh19 commented on #188
@ivanplazacic can you please give an update on the video

[2021-12-01 22:58] eleventh19 commented on #174
parts of the presentation have been presented in the last three all hands Wed meeting. presenting it next Wed

[2021-12-01 23:00] eleventh19 commented on #173
@marvino3 @rjx223 @vsterling how far do you think we can get with the doc revision before the holidays (assuming ~2-3 new docs pop up for review)

[2021-12-01 23:13] eleventh19 commented on #171
this has gotten slightly delayed given realities of resourcing and priorities. next steps are creating a draft application, thinking through who would review applications, draft an expectations doc, and review the steps to see what's missing. if possible, will shoot to get some progress before 12/20 on those docs

[2021-12-01 23:14] eleventh19 commented on #156
need to get the docs up on github still

[2021-12-01 23:17] eleventh19 commented on #150
@rjx223 is there anything else that needs to happen in terms of the initial launch of the program? if not, what do you think about closing this card and starting a new one that will focus on improving the process?

[2021-12-01 23:19] eleventh19 commented on #133
met with @ttaloute this week to discuss what documentation needs to get created before 12/20, focusing on the outward facing info on how to apply for a research summary grant, what to do once accepted (in the form of a welcome email/maybe a doc), and what resources researchers have available to them (glossary, office hours, etc.). need to make sure the revised content pipeline expectations that @t

[2021-12-01 23:21] ivanplazacic commented on #188
Yes. The videos are waiting for @marvino3 to approve.

[2021-12-02 01:37] eleventh19 commented on #156
posted the peer reviewer and PM intern to github. going to hold off on the others as there might be 1-3 interns joining to help between podcast and outreach, so don't need to advertise that for now. the fellowship is waiting until we sort out our titles and our pitch uni's about funding grad students or post docs

[2021-12-02 01:43] eleventh19 commented on #173
I cleared out the docs that were listed as approved on hackmd (besides the mentorship one, which I'll explain later) and added the peer review and PM intern job descriptions to github

[2021-12-02 01:53] eleventh19 commented on #117
that didn't end up happening. we're shooting to go over [this paper](https://fermatslibrary.com/s/bitcoin) on 12/9 in the community call. @LorrettaGS need to announce that to the community this week

[2021-12-02 03:36] LorrettaGS commented on #181
There was a slight delay presenting at the 11/18 America's call. Hope to present it to the masses on 12/2.
Despite the delay in presenting the project to the America's community we have received 8 interested people.

Following the 12/2 call a meeting will be scheduled with @twan-dev and @29988122 to review and discuss next steps. Hoping to move forward with this project before the holidays.

[2021-12-02 03:43] LorrettaGS commented on #117
@eleventh19 I assumed that this was the paper for Blockchain Basics? or can we now combine the Reading Group and Blockchain Basics.
Which I now think is a great idea...

[2021-12-02 15:51] ralphlombreglia opened #195 "Task: Freshness and Coverage"
Alert content team to gaps in coverage

- [ ] Missing pinned posts in each category
   [https://github.com/smartcontractresearchforum/research_team/issues/194](https://github.com/smartcontractresearchforum/research_team/issues/194)

- [ ] New use of banner space and pinned posts on home page:
    [https://www.smartcontractresearch.org/t/use-of-scrfs-top-banner/992](https://www.smartcontractresearc

[2021-12-02 16:02] ralphlombreglia opened #196 "Moderation team should have the power to add tags"
Rich wants to empower the moderation team.

[2021-12-02 16:30] ralphlombreglia opened #197 "Task: SCRF Impact Award needs regular monthly posts"
**Description**
The Impact Award is allegedly monthly but contains only June and July 2021.

**Example URL**
https://www.smartcontractresearch.org/t/topic/581/4

[2021-12-02 16:35] ralphlombreglia opened #198 "Clean-up Post Ideas"
Every post idea should have a response and a decision. Ideally the cadence should be daily, but weekly at the longest.

[2021-12-02 16:43] ralphlombreglia opened #199 "Task: Clean up glossary"
Glossary proposals need to have an outcome and a decision. Weekly cadence.

[2021-12-02 18:38] rjx223 commented on #150
That is fine by me. Thanks, Eugene.

[2021-12-02 18:38] #150 closed, assigned to zubepaul

[2021-12-02 19:12] jamesmcgirk opened #200 "Project: proposed new project"
Describe what you want to do

[2021-12-02 23:19] #200 closed, assigned to nobody

[2021-12-03 19:09] marvino3 commented on #188
All approved, thanks @ivanplazacic

[2021-12-06 01:58] Astridchou opened #201 "Project: Christmas reunion for SCRFers in Taiwan"
For increasing team spirit and the sense of community, SCRFers in Taiwan reunion together to have a Christmas dinner, exchange our feeling and thoughts about SCRF, collect constructive reflection.

1. Time: 12/18 (Sat) 16:00 - 21:00
2. Attendance
- 12 people confirmed: Astrid, Twan, Sean, Seth, Jerry, Eason, Tony, Colin, Bill, Cindy, Moven, Mark,
- 2 people maybe: Winson, Jason
3. Location: Christ

[2021-12-06 12:54] encore9870 commented on #189
Everything so far looks great. Closing this issue since the channel is functioning well.

[2021-12-06 12:54] #189 closed, assigned to ghettodev, 29988122, twan-dev, LorrettaGS

[2021-12-06 12:58] encore9870 commented on #118
Lucas has been busy and not available to talk. We'll see if there are other ways of picking the award winner under our current human resource capabilities. If that is possible, we will build the new process around that.

[2021-12-06 13:28] encore9870 commented on #185
Many things have been accomplished within the 49 days since the creation of this ticket.
I have learned a lot from many important people that contribute to the pipeline and we are actively working together to make the pipeline better.

Important updates that have been or are currently rolling out
- Creating and running a standard for all the tickets that go through the content pipeline. This speak

[2021-12-06 16:37] ralphlombreglia opened #202 "Task: Use banner space and pinned posts to introduce new visitors to SCRF's value."
[https://www.smartcontractresearch.org/t/use-of-scrfs-top-banner/992](https://www.smartcontractresearch.org/t/use-of-scrfs-top-banner/992)

[2021-12-06 16:44] ralphlombreglia opened #203 "Task: Register "scrf.io" and "scrf.info" as Alternative Domain Names."
"scrf.io" presently available for one year for $45 (pairdomains.com) and $60 (godaddy.com); "scrf.info" for $2-3 at the same registrars.

[2021-12-06 22:17] ivanplazacic commented on #188
Here is the folder with the videos:

https://drive.google.com/drive/folders/1SKUz37s650A-9maT46s9sBQVavii0DBK?usp=sharing

[2021-12-10 16:50] zubepaul commented on #192
One round of forum tag updating is completed.

[2021-12-10 16:52] zubepaul commented on #191
Tagging rules document updated by the moderation team to include in the Forum Maintenance plan

[2021-12-10 19:01] vsterling commented on #173
Discussed the Reference Template and Glossary Terms with @marvino3. Both documents require a few more edits, and then I will move on to revising the remaining reference materials.

[2021-12-10 22:11] rjx223 commented on #173
The following documents are ready for approval on HackMD:
- Connecting with SCRF
- SCRF Impact Award
- SCRF Weekly Community Calls
- SCRF Pan-African Micro-Grant Program
- Rewards Template (please note that this appears as "SCRF Title" in HackMD)
@eleventh19 @ghettodev

[2021-12-12 09:23] #185 closed, assigned to eleventh19, twan-dev

[2021-12-12 17:54] rjx223 commented on #173
Transcript template is drafted. All transcripts have gone through the first round of updates. @marvino3 to review prior to HackMD conversion. @eleventh19, since you know the material best, please take a look at the first sentence in each document that describes the target audience and why someone would want to read the transcript and edit as needed. Thank you.

[2021-12-13 20:06] zubepaul commented on #35
Update this with suggestions, run by Engagement, and then off to the PR team.

[2021-12-14 19:06] LorrettaGS commented on #181
To follow up on the language exchange project. Information was shared during the 12/2, America's community call. During the community call 9 additional people joined bringing the total who were interested to 16 in total.

[2021-12-14 22:03] LorrettaGS commented on #181
The team of @29988122, @twan-dev and @LorrettaGS will review and schedule meetings with hosts and help identify times to meet.

In the meantime, a SCRF Community Passport gathering is scheduled for Saturday,December 18th at 10:00a.m. EST.

[2021-12-14 23:30] marvino3 commented on #188
@eleventh19 is reviewing the videos

[2021-12-15 23:10] rjx223 commented on #173
All transcripts are ready for approval. The Transcript Template and Rewards Template are ready for approval as well.

[2021-12-16 20:28] ralphlombreglia commented on #192
As of 2021.12.17, the tag survey is complete. See the GtM spreadsheet for updates and deletes in all categories:
- Auditing and Security
- Oracles and Data
- Consensus
- Scaling
- Mechanism Design and Game Theory
- Cryptography
- Tooling and Languages
- Privacy

[2021-12-17 17:40] marvino3 commented on #155
The [Mission/ Vision Messaging doc](https://docs.google.com/document/d/1xRre3UOao5qx3umljls_fOJtrnDxflJyveOdydP14rY/edit#) is updated - waiting on final approval from @ghettodev @eleventh19. Please see the last few pages for updated language.

[2021-12-17 17:54] marvino3 commented on #173
To recap:
- We have revised and updated 20 documents, we have another 15 that are in the content review phase, and another 5 that we will need to update.
- All of the about SCRF language will be updated once the mission/ vision language is approved.
- In Jan, we will want to review the git home page/ ToC to determine if there are docs we want to add or remove.

[2021-12-22 22:32] vsterling opened #204 "Streamline Notable Works project and pipeline"
Before the Bounty Program (Issue smartcontractresearchforum/operations#45) is further developed, the Notable Works project and content pipeline requires organization and streamlining. There is inconsistency across multiple documents and an unclear process overall.

Steps:
- [ ] Outline Notable Works pipeline process
- [ ] Address issues and inconsistencies
- [ ] Update all documentation

[2021-12-22 22:37] vsterling commented on #116
Created a separate issue for streamlining the Notable Works content process overall (Issue #204). Organization and consistency needed before the bounty program can be implemented.

[2022-01-02 23:06] eleventh19 commented on #173
@marvino3 @rjx223 @vsterling FYI I cleared out all of the approved docs on HackMD, they're live on github

[2022-01-08 04:18] eleventh19 opened #205 "Project: Create event ops structure"
### Project Description

* The goal of this project is to get the necessary operational structure around event planning

### Work Plan

- [x] create ticket
- [x] draft an event planning overview spreadsheet
- [x] create a template for pitching an event
- [x] create a template for refining the event process
- [x] create a template to plan the day of the event
- [ ] fill out for the current slate of

[2022-01-08 04:27] eleventh19 commented on #205
- [Event Planning Overview Sheet](https://docs.google.com/spreadsheets/d/1FkSrNWpkSlEKHgN-8go8JU_6l59fWQVyLTIpva7Jv5g/edit?usp=sharing) - this sheet has a list of events and links to other relevant documents
- [Event pitch template](https://docs.google.com/document/d/1rrme3x7iTeayT31fCvWWJpEtnn2JjAH28-W7PH2zfOk/edit?usp=sharing) - after bringing up an event and generally proposing the idea of a ne

[2022-01-12 04:38] eleventh19 commented on #188
Unlisted youtube videos:
[socials](https://youtu.be/gXlvOZ1HJzg)
[longer video](https://youtu.be/F9NuQzE9F_U)

[2022-01-12 16:27] SirAh0 commented on #203
We need scrf.io for social media. How can we elevate this to procurement?

[2022-01-12 22:09] SirAh0 commented on #203
SCRF now owns scrf.io

We can close this task.

[2022-01-13 02:28] eleventh19 commented on #171
going to be bringing this up with the PMs team to have some kind of mechanism to receive applications in place by ETH Denver

[2022-01-13 02:51] eleventh19 commented on #156
Current priorities:
- trialing a content PM role (governance or cryptography or DeFi preferred)
- podcast PM
- peer reviewers
- outreach intern

[2022-01-20 20:31] #188 closed, assigned to nobody

[2022-01-27 15:18] vsterling commented on #171
Currently building off of what Eugene had to outline a full process from application to review to acceptance. Next is to write this draft document and soon publish on github. I also created a draft [application](https://docs.google.com/forms/d/1n1AVbvpZSfbmOVGJeQc13OyI7ZDOD0tUkvhc6NaN0hU/edit?usp=sharing) on Google forms.

[2022-01-27 15:20] vsterling commented on #175
I also created a draft [application](https://docs.google.com/forms/d/1n1AVbvpZSfbmOVGJeQc13OyI7ZDOD0tUkvhc6NaN0hU/edit?usp=sharing) on Google forms, and am creating public documentation for the project.

[2022-01-27 20:23] Astridchou commented on #201
https://docs.google.com/document/d/1oOe5AhoMmZpF_Mjb-PXbJESaksUyPwvaFwaNmG8lq70/edit

Invoice and picture

[2022-01-29 02:52] encore9870 opened #206 "Project: Primary Author Outreach"
### Project Description
This is a proof-of-concept, an experiment to connect with primary authors of the most recent top research papers. We would invite them to publish research summaries of their work on the forum and have an AMA with the community.

### Work Plan
- [x] Phase One: Select research papers targeted for outreach
- [x] Phase Two: Populate spread sheet, fill out message template, send

[2022-02-11 19:31] vsterling commented on #158
the scraping tool is being built by @Newmsie10, and progress is being tracked in the auditdb [repo](https://github.com/smartcontractresearchforum/auditdb/projects/1)

[2022-02-15 18:34] zubepaul opened #207 "Project: SourceCred Implementation"
**Description**
Implement SourceCred tooling for incentivizing forum contributions.
**Tasks**
- [x] SourceCred doc review to be completed by February 15 2022
- [x] Break Out meeting to discuss questions, concerns, and implementation with Rich, Paul, and Brian
- [x] Prepare presentation and meta forum post for community input
- [x] Meta post no later than Februrary 25 2022
- [x] Tentative date for

[2022-02-25 18:04] eleventh19 opened #208 "Create an outreach mandate"
This card is to capture the initial work on creating an [outreach mandate](https://docs.google.com/document/d/1YVySocqhSfxO0dn3_7cyDWZgfqgL8j0p4CyYoJSaBR4/edit#) as part of trying to set up a mandate for each vertical.

[2022-02-25 18:34] eleventh19 commented on #181
I'm going to go ahead and close this card as a meeting was held in December. once there's the desire / plan to go from the pilot to a consistent project, a new card will be opened

[2022-02-25 18:34] #181 closed, assigned to eleventh19, 29988122, jamesmcgirk, twan-dev, LorrettaGS

[2022-02-25 18:35] eleventh19 commented on #174
a roadmap and budget have been developed. each core ops team member is now updating their mandate docs and once we review those, we will circle back to the full project list/roadmap and update appropriately

[2022-02-25 18:35] #203 closed, assigned to nobody

[2022-02-25 18:36] eleventh19 commented on #171
We have a few potential grant applicants to review next week and based on that conversation, will review the process we want to have in place for people who want to apply to get small research grants at SCRF

[2022-02-25 18:37] eleventh19 commented on #156
need to re-assess hiring needs post ETHDenver. more to come in the next 2 weeks. meta-level q - what is the best way to keep track of this as team leads identity new hiring needs?

[2022-02-25 18:38] eleventh19 commented on #44
We are meeting next week to review the current state of docs and the case study template that Chris put together

[2022-02-25 18:40] eleventh19 commented on #100
The first mini-series is out and the second mini-series is being [tracked here](https://docs.google.com/spreadsheets/d/1Z6cFrMwQvLohhVpxbMdBFBzyBUFim7nl1TDUAxFM0AA/edit#gid=238547836). We have to start planning the next mini-series

I propose doing a series of highlights on web3 oriented research DAOs

[2022-02-25 18:41] eleventh19 commented on #108
Moving this to icebox for now. Once PAG gets ironed out and we're ready to add more regional grants, we will revisit

[2022-02-25 18:43] eleventh19 commented on #116
We are blocked by not having any relevant bounty system to use, though there might be some new options worth exploring. Will discuss with @ghettodev

[2022-02-25 18:44] eleventh19 commented on #117
@zubepaul should we do a breakout on community at some point in the coming weeks to start planning overall events / plan going forward? or put on hold for now?

[2022-02-25 18:46] eleventh19 commented on #107
Struggling to find someone willing to review the papers, need to circle back with Leigh on the best way to proceed

[2022-02-25 18:46] zubepaul commented on #207
Deadlines updated:
- Meta post Tuesday, March 1. To be reviewed by @ghettodev and
- 2nd Week of March is implementation on SCRF Forum

[2022-02-25 18:47] eleventh19 commented on #157
@cryptomarabout anything else outstanding here? If not, let close this card out for now as we have reached the initial milestone and we can create a new card if/when we decide to explore further milestones

[2022-02-25 18:48] eleventh19 commented on #169
this is generally going to be a subset of the #208 outreach mandate and an on-going outreach activity

[2022-02-25 18:49] eleventh19 commented on #173
I know @marvino3 and @vsterling met recently to discuss. Can you please give an update when you can on the plan going forward?

[2022-02-25 19:16] vsterling commented on #173
@eleventh19, @marvino3 helped me get familiar with the Document Revision process from beginning to end.

Immediate Next Steps:
- Ensure all documents across GitHub, HackMD, and Google Drive are accurately represented and linked in the [Document Status](https://docs.google.com/spreadsheets/d/1JZkoZedH3m4YjYIHQvfyg4CQBpi3--HuUzc5OrUDF7A/edit?usp=sharing) tracker.
- Edit the [Documentation Pipeline](

[2022-02-27 21:58] encore9870 commented on #206
Feb 17 sent out A11, A16, A13, A11. Got A11, A16 to reply. Received A16 onboarding contract on Friday (Feb 25)

[2022-02-27 21:58] encore9870 commented on #206
Feb 22 sent out A06, A17, A03, A05. No response yet.

[2022-02-27 21:59] encore9870 commented on #206
Feb 27 sent out A12, A18, A19, A20, A04, A07, A21, A02, A08, A09, A10 (2 hours ago)

[2022-02-27 22:05] encore9870 opened #209 "Project: Content Pipeline Peer Review Training"
### Project Description

The third stage of the content pipeline, dubbed "Peer Review", is an important stages of improvement to research summaries from SCRF. As we aspire to scale up the content pipeline in the next 3-6 months, the peer review stage will critically determine the pipeline's bandwidth and becomes an issue to our scalability.

### Work Plan

- [ ] Organize Documentations or Other Ma

[2022-02-27 22:09] encore9870 opened #210 "Improve the Process of Onboarding Content Pipeline Researchers"
### Project Description

There are several standard onboarding steps for "Researchers" writing summaries for the content pipeline. These tasks are currently carried out by @twan-dev.

### Work Plan

- [ ] Step 1: Review onboarding steps
- [ ] Step 2: Select best practices
- [ ] Step 3: Design a process around the best practices
- [ ] Step 4: Run the process

### Resources

Will be update soon.

[2022-02-27 22:38] encore9870 opened #211 "Project: Research Summary Idea Proposal Stage Improvement"
### Project Description

As long as it is aligned with SCRF's goals, virtually anyone is free to submit a request to start a research summary idea. But can our processes support that? Do our systems encourage that? Are we doing it fast enough?

The idea proposal stage currently sits as a our entrance to welcome research summary idea. This is an ongoing project to improve the call and dig into the

[2022-02-28 17:31] encore9870 opened #212 "Project: Updating the Tools We are Using to Run the Content Pipeline"
### Project Description

As a organization that resides in the digital world, tools that we use are critical to our productivity. This is an opportunity to review the tools and resolve several inconveniences.

### Work Plan

- [ ] Step 1: Improve Github Setting
- [ ] Step 2: Improve Google Docs Settings / How we use it / integrate with #209
- [ ] Step 3: Exploring New Tools

### Resources

[conten

[2022-02-28 23:01] encore9870 opened #213 "Project: Style and Content Guide Iteration"
### Project Description

The content pipeline has been giving summary authors/research the flexibility to the focus of the summary, yet it comes at a high price of increased review time as expectations could be widely varied from person to person.

Inconsistency of format and style through summaries is also undesirable for the SCRF forum for finding information or establishing a brand as a whole,

[2022-03-01 14:45] zubepaul commented on #207
[Meta post draft](https://docs.google.com/document/d/16LZzre2BmNbE2gPoz7ryx29tTjg5ZWsVxmVIwXtSTH0/edit) updated.

[2022-03-03 00:40] zubepaul commented on #207
Meta post draft further updated. Posted to forum on March 2, 2022. Should be discussed in upcoming community calls. @eleventh19 @ghettodev

[2022-03-12 04:02] eleventh19 opened #214 "Project: Open Peer Review Experiment"
### Project Description

The goal of this project is to explore what an open peer review for independent researchers experiment can look like. This project will entail:

- Identifying independent researchers who want open peer review
- Creating an advisory board to provide input on the experiment
- Picking what tools to use for version controlled knowledge management
- Creating a project plan for

[2022-03-16 12:38] eleventh19 commented on #214
we met as a group on Monday, created a DM group for the project team to keep the conversation going. next steps are looking into various open peer review projects so that we can come up with what we mean by open and what basic process we want to use for peer review.

[2022-03-16 17:13] eleventh19 commented on #214
links we've come across so far. still gathering more info on peer review so if you know of any good research/studies/etc, please add here! we'll be working on a notable works in peer review and will explore adding any of the links we have here

What do we mean by open peer review?
- https://plos.org/published-peer-review-history/
- https://f1000research.com/articles/6-588
What documentation can we

[2022-03-18 04:54] encore9870 opened #215 "Project: Project Github"
### Project Description

Github is not only a place for tracking and document running projects at SCRF, but also sits at the core of establishing legitimacy.

This project will revisit how well we are at achieving this objective, and what to do where we are not.

It is also on the books to renovate the current design to make this tool match our latest needs.

### Work Plan
- [x] Stakeholder meetin

[2022-03-19 18:27] vsterling commented on #173
Created a [Documentation Strategy doc](https://docs.google.com/document/d/1A5UXpVPDM9oUnYqg4ry-BAMrNcY7aNWGh4NMFduw8j0/edit?usp=sharing), currently under revision with @marvino3. Implementing edits, adding timelines, etc. still needed.

[2022-03-21 16:40] marvino3 opened #216 "Need to do a thing"

[2022-03-22 16:23] nicklinck commented on #214
We have been thinking abstractly about the purpose of peer review in order to determine how to best implement peer review. We have outlined the steps of peer review that we need to address and have been documenting how those steps should be implemented. As well as capturing notes about other efforts to do open peer review.

Details can be found in [https://coda.io/d/SCRF_dzwS_nzx9Lj/Basic-Overview

[2022-03-22 16:36] ghettodev opened #217 "Next batch of mailing lists/group emails for scrf.io"
Please get me a list of the existing mailing lists you are using and a wish list for new ones. Keep in mind that there should be a naming convention here and that team leads will be expected to maintain access to them.

- should be tied to group of activities that support internal operations
- avoid creating lists for short term projects

[2022-03-22 16:42] marvino3 commented on #217
Some important aliases may include:
1) hiring@ - job opportunities, collecting resumes, etc.
2) discovery@ - eventual leads, campaigns, PR, etc (aka general marketing or sales initiatives)
3) socials@ - could be helpful to have a place for people to send in post ideas and responses
4) support@ - responding to any questions, issues, and thoughts from the community (ex: bugs, where to find something

[2022-03-22 16:46] ghettodev commented on #217
Do each of the leads need a vertical@ list?

[2022-03-22 18:05] eleventh19 commented on #217
I agree with @marvino3's suggestions. One q - does it make sense to have both discovery and socials to start? Or phase one in as we get more people doing socials (unless that's just an easier process than the current one)

In terms of invoice -> billing, I agree with you overall but unless we see it as invoice@ being out of line in terms of discovery, it will be pain so it'd be great to stick with

[2022-03-23 01:45] eleventh19 commented on #214
We are also doing a community call swap with ResearchHub this week. We joined their call on Monday and they will join our call this Thursday. Also, with the help of Cent at Metagov, got the call info shared with their community

[2022-03-23 03:24] eleventh19 commented on #208
As part of this exercise, I'm also thinking through [outreach priorities ](https://docs.google.com/spreadsheets/d/1-5xr0n0vaxhY20xaRIKQFP0u9JXzT4HgYlFGkbqfguI/edit#gid=0). I'm going to present these tomorrow in the PPP meeting. This card will get closed out when the mandate (at least the first version) is finalized and signed off by the core ops team

[2022-03-23 03:53] eleventh19 commented on #171
the next step will be to create an overview of what a grant request forum post could look like. then review by core ops, and upload to the forum, then close this card

[2022-03-23 03:56] eleventh19 commented on #156
Tania is starting to map out the [hiring process](https://docs.google.com/spreadsheets/d/1dhKaw7pQCG-QokrT8wTdraiDZ7tp2yk5dM1VK4dUIoo/edit#gid=0). [Onboarding tracking sheet](https://docs.google.com/spreadsheets/d/1e-MjEFGD_K4sBkQCraSJeYLwjy3_uJNctPtrzO1f4vI/edit#gid=1307523689
). Working on updating the process and to create ~10 hour grants for people to try taking on some small projects

[2022-03-23 03:59] eleventh19 commented on #116
Still no movement in terms of the bounty platform. Figuring out what we might be able to use for this. @ghettodev let me know if any ideas come to mind

[2022-03-23 12:55] zubepaul commented on #217
I have been brainstorming potential uses of an engagement@ and can not think of an engagement type of inbound or outbound emails. Perhaps an onboarding@, so I will check in with Tamar and Valerie regarding potential uses they see there.

Re: point above with partnerships, I think that generally makes sense. Maybe having it focus as collaboration@ widens its perceived use a bit?

[2022-03-24 05:40] Coinproz commented on #215
we should be able to leverage the daily pulse from the github board to streamline access to most recent github activity:
https://github.com/smartcontractresearchforum/research_content/pulse/daily

[2022-03-25 04:06] eleventh19 commented on #174
we (the core ops team) is currently working on updating the project list after our extended catch up last week. as a result, we started a core ops running task list where we are setting a list of what we want to work on through a given week and review the progress by the end of the week. from there we'll update the project list including all tracking docs and we will do another pass at updating th

[2022-03-25 04:08] eleventh19 commented on #100
The podcast is fully up and running. The next episode will be me interviewing Rich, then on art+blockchain, then a research summary highlight, then DeSci or DAOStarOne. I am going to close this card and will launch a new one for figuring out project management for the podcast going forward

[2022-03-25 04:08] #100 closed, assigned to eleventh19, Coinproz

[2022-03-25 04:10] eleventh19 commented on #107
Still struggling to find reviewers and haven't been spending as much time on this. I need to see if we can link this to any of the other projects / folks we're talking to

[2022-03-25 04:11] eleventh19 commented on #157
No other updates coming unless we decide to embark on a primary research project in this direction. Until that happens, this card is getting closed

[2022-03-25 04:11] #157 closed, assigned to eleventh19, cryptomarabout

[2022-03-25 04:14] eleventh19 commented on #169
I am going to close this out as this is not being treated as a project separate from ongoing outreach, specifically university outreach

[2022-03-25 04:14] #169 closed, assigned to eleventh19, twan-dev

[2022-03-25 04:16] eleventh19 commented on #173
Thanks for sharing that doc. Just wondering, what's the status of the Live-Old docs @vsterling?

[2022-03-25 04:17] eleventh19 commented on #155
@marvino3 what're the next milestones? Once the brand guide is fully updated?

[2022-03-25 04:19] eleventh19 commented on #175
after more thought, we'll focus on creating a template on the forum for people to apply publicly. will pull from the application

[2022-03-25 04:22] eleventh19 commented on #205
Not sure these are actually the most useful for events. We are also mostly focusing on joint events with other groups, which ends up leading to using other tools. Will coordinate with @marvino3 to create an events calendar to make sure it's linked to socials and discovery/outreach more broadly

[2022-03-25 18:28] marvino3 commented on #217
@eleventh19 I'm happy to start with discovery@ initially and then adding socials if we need to down the line

And yeah, I figured re: invoice vs billing. It will be more of a pain to switch later if we decide. Something like billing@ or finance@ seems more comprehensive and representative. But ultimately up to you.

[2022-03-29 15:19] zubepaul opened #218 "Epic: Onboarding Process"
**Description**
New onboarding process

[2022-03-29 15:20] zubepaul commented on #133
Closing this ticket and replacing it with issue [218](https://github.com/smartcontractresearchforum/engagement/issues/94)

[2022-03-29 15:20] #133 closed, assigned to Coinproz, jamesmcgirk, zubepaul

[2022-03-29 21:27] ghettodev commented on #215
Here is a [link](https://docs.google.com/document/d/1mabiEvt8xtxy9tOWfIb4RY5DM9cW1T2p74Pi7NEuvUQ/edit#) to the doc for GitHub requirements gathering that can get merged into the user stories.

[2022-03-29 23:22] encore9870 commented on #215
The meeting today clarified the direction of the RIP. I'll link to the draft once it's ready for review.

[2022-03-31 18:35] zubepaul opened #220 "Task: Onboarding Three Month Project"
### Description
This issue tracks the work for the Three Month plan for onboarding associated with the Epic issue #218

[2022-03-31 18:36] zubepaul opened #221 "Task: Onboarding Six Month Project"
### Description
This issue tracks the Six Month Project related to the epic onboarding issue #218

[2022-03-31 18:39] zubepaul commented on #218
Issues created for the tasks associated with this epic project.
Assigned @vincenzospaghetti
Created documents for project plans for each issue and linked to them in the ticket description.

[2022-03-31 21:17] Coinproz commented on #214
this study examines how transparency of identity affects perception within a learning environment:
https://www.frontiersin.org/articles/10.3389/feduc.2019.00129/full

[2022-03-31 21:24] Coinproz commented on #214
"Strengthening, Hiding or Relinquishing Ethnic Identity in Response to Threat: Implications for Intercultural Relations"
https://www-s3-live.kent.edu/s3fs-root/s3fs-public/file/09-Rosita-Albert-Adina-Schneeweis-Iva-Knobbe.pdf

[2022-03-31 23:38] eleventh19 commented on #208
I have made additional revisions to the mandate and it's now ready to present to the core ops group to get sign off on the initial stage. This mandate will most likely need some semi-regular updating

[2022-03-31 23:42] eleventh19 commented on #174
I did a budget revision and still need to update the written overview with some recent projects

[2022-04-01 05:24] ttaloute opened #222 "Hiring: Mini Projects"
To support teams and candidates in matching with each other, the hiring process is adapting repeatable mini-projects for the podcast, engagement and discovery teams. These projects will help candidates get a flavor of the work they will be doing in the team and is intended to help teams understand the candidate's skills and interest. To ensure the projects aren't time and labor intensive for both

[2022-04-01 16:05] encore9870 commented on #215
A[ first draft](https://docs.google.com/document/d/1izc1MXxAsAZFEuuY6XL-wlWNzwAcc1WCl96NzOHGBEg/edit#) of the RIP.

[2022-04-04 18:05] SirAh0 commented on #207
Spent weekend generating SourceCred Graphs via Discourse plugin to load SCRF forum data. Able to modify node and edge weight values. Successful testing up until the point of uploading the graph to GitHub and setting up the Github Pages / Actions.

[2022-04-05 14:16] zubepaul commented on #207
Updated project plan in the [Proposal Doc](https://docs.google.com/document/d/1FlcalkkQ5zpsC7c0S3D5EJWrVwsnX7tFztmjjbpJCD8/edit#heading=h.lh0p0mqkmv4t)

[2022-04-05 19:05] Coinproz commented on #44
Case Study Template:

https://docs.google.com/document/d/1_Tk4vr7mitmLxd97RKJCOO8BqKJA6kttWX_288J0aMs/edit?usp=sharing

[2022-04-05 19:06] Coinproz commented on #44
Article Repository:
https://docs.google.com/spreadsheets/d/1J993yNZSqqgGonmw0emcJen8wZ5sTScKjmak_262DZ4/edit#gid=1934905824

[2022-04-05 19:06] Coinproz commented on #44
FAQ:

https://docs.google.com/document/d/1tkj2hjPXsyqJ2oX2YhYh_Az3hc3mn5889SrpGk8ajMQ/edit?usp=sharing

[2022-04-05 19:07] Coinproz commented on #44
Milestone Tracking:

https://docs.google.com/spreadsheets/d/1uU2uPHHT6rhMZ8N_K-ql7QNJ83OHXqM8xD-6cr3_mL8/edit#gid=0

[2022-04-06 01:22] encore9870 opened #223 "Project: SCRF Glossary"
### Project Description
Develop a SCRF glossary to capture SCRF specific terminologies and titles.

### Work Plan

Deliverable: A glossary page that contains explanations to titles and core services SCRF provides

### Resources
[Terms and Titles](https://docs.google.com/document/d/1FC8vCJLpydEV6-G2CaycL4-RL6LxaF3VSQvIMjwT3UU/edit#)

[2022-04-06 01:41] encore9870 opened #224 "step 1"

[2022-04-06 03:06] eleventh19 opened #225 "Project: CRM Software"
### Project Description

We've been talking about the idea of CRM software for a while and are finally looking into it. I haven't had a chance to write up a project plan for this yet. I had a call with someone from Hubspot last week and someone from Raklet 2 weeks ago (not really CRM so not right).

In the hubspot call, I gave a download of some of the main requirements so they're pitching us solu

[2022-04-06 03:08] eleventh19 commented on #190
closing this out as we have #215 and #225 and others

[2022-04-06 03:08] #190 closed, assigned to nobody

[2022-04-06 22:31] vsterling commented on #173
Done on GitHub:
- Edited and added (new) Social Media Manager JD
- Revised (live-old) How to Get Compensated for Work
- Removed (live-old) Community Lead JD

In Process:
- Editing the (new) [Project Post Template](https://docs.google.com/document/d/1z2l1QYPV1c4pWLeYznunygmBIKPyEChJEtRA_Ie4_tU/edit?usp=sharing)
- Updating (live-old) Project Manager JD
- Replacing the (live-old) [Research Improvemen

[2022-04-07 16:52] encore9870 commented on #215
I've updated the ticket to include a link to a calendar that keeps track of relevant meetings (starting form the last group meeting) or task planning. Otherwise this ticket will be updated when we hit a new milestone.

[2022-04-07 16:57] encore9870 opened #226 "Test accounts"

[2022-04-07 16:57] encore9870 opened #227 "Interviews"

[2022-04-07 16:57] encore9870 opened #228 "Test repo"

[2022-04-07 16:58] encore9870 commented on #226
Please request access to the password & handle doc if you need to have it
https://docs.google.com/spreadsheets/d/1l9U5RUtzQe25ZClAoQZ89kPKGfNbQ4qIFolrQGiCazs/edit#gid=0

[2022-04-07 16:59] encore9870 commented on #226
[@LTTOguns](https://github.com/LTTOguns)
[@RuthTolulope](https://github.com/RuthTolulope)
are helping

[2022-04-07 17:08] encore9870 commented on #228
blocked by #226
install Zenhub addon to see that it's blockced

[2022-04-07 20:31] SirAh0 opened #229 "Onboarding Content for Chat (Discord) Go Live"
https://docs.google.com/document/d/1rX2Yzua2BaDn6MJqukC1FKvzEUi9yfbO/edit#heading=h.1fob9te

- [x] 🏁-start-here content: Welcome, Useful Links, FAQ, Unlock Server

- [x]  review 📘-directory-faq descriptions for each channel.

- [x]  Bot Message To New Users

- [x]  Pinned Messages.

[2022-04-08 01:42] encore9870 commented on #223
collecting responses from the core ops team (April 8 - )

[2022-04-08 04:33] ttaloute opened #230 "Project:"
### Commenting Guide [for Forum]

This guide spells out why and how to make posts on the forum and it includes examples of comments, engagement team contact information and is planned to live somewhere publicly - Github?  where new community members could easily access.

### Work Plan
- [ ] Review and get approval Guide language
- [ ] Decide where to post
- [ ] (Engagement) Make a monthly announce

[2022-04-08 13:16] encore9870 commented on #226
we have 4 active test account and will evaluate if we need more once the test repo is ready

[2022-04-08 13:16] #226 closed, assigned to nobody

[2022-04-08 15:10] encore9870 opened #231 "Forestry"

[2022-04-08 15:12] encore9870 commented on #228
currently working on recreating the equivalent of the master project board

[2022-04-11 13:34] ufkhan97 commented on #214
We have written a [proposed flow](https://docs.google.com/document/d/1eZCWuoc_z6Wh3JABEqhsuWF0RxgPxdOV6VK5auPZN-I/edit?usp=sharing) for the peer review process. We have focused on discussing and refining issues of transparency, payment, and tooling. We are looking into different ways we could ensure good data collection that will allow us to develop this process intelligently across iterations.

[2022-04-11 13:43] ufkhan97 commented on #214
This a great framing of the question. Allowing the reviewer to maintain some privacy while also ensuring there are no ethical conflicts is a challenge normally handled by a trusted third-party (journal editors) but in lieu of taking on an editorial role, there are important questions about if we could do something like this by replacing a trusted third party with cryptographic proofs. I look forwa

[2022-04-11 15:07] encore9870 opened #232 "Product and Persona development"

[2022-04-11 15:25] ghettodev opened #233 "test epic"
sadfsdaf

[2022-04-11 15:26] ghettodev opened #234 "dsfgdsfgfsd"
### What is the Project

### What are the documented steps you'll take

### What are the deliverables

[2022-04-11 21:30] zubepaul commented on #207
Timeline updated in proposal doc @ghettodev

[2022-04-13 11:38] zubepaul commented on #229
@brianalexakis @eleventh19
Is this task finished? Should we close this ticket?

[2022-04-14 14:15] zubepaul commented on #153
This is not a pressing issues, but I added @brianalexakis for future thinking and working on.

[2022-04-14 16:12] zubepaul commented on #218
Updated project plan with @vincenzospaghetti image of overall process.

[2022-04-15 17:51] zubepaul commented on #207
Create Launch Day plan and process. See project plan.

[2022-04-15 21:49] ufkhan97 commented on #214
This week we met with Nihar Shah from CMU and were able to ask questions + get feedback on our peer review process. We dug deeper into the literature around peer review and refined the questionnaire for reviewers and authors as well as our final survey.

We set an intention to be diligent about collecting data and releasing publicly. We hope others will also be able to use the data to uncover insi

[2022-04-19 16:03] SirAh0 opened #235 "SourceCred Launch"
[🔗](https://emojipedia.org/link/) [SourceCred Project Plan Doc](https://docs.google.com/document/d/1I09x7UweBXngtjK-fBH6ZunVrJqybfkDtEV2hrj634Y/edit?usp=sharing)
- [x] Update Project Plan - New Forum Topic - Poll Post section
- [x] Make Forum Post
- [x] Link forum post back to this issue as a comment

[🔗](https://emojipedia.org/link/) [Chat Project Plan](https://docs.google.com/document/d/1c5EhvYx

[2022-04-19 20:05] SirAh0 opened #237 "Chat - Phase Two - Onboarding Go Live"
[🔗](https://emojipedia.org/link/) [Chat Roles](https://docs.google.com/document/d/1EUnK3UliHp-p6CXs9dp4mwkT2qSCXyuA/edit?usp=sharing&ouid=107935953561747433773&rtpof=true&sd=true)
- [x] define onboarding roles
- [x] roles on test server

[🔗](https://emojipedia.org/link/) [Chat Channels & Content](https://docs.google.com/document/d/1rX2Yzua2BaDn6MJqukC1FKvzEUi9yfbO/edit?usp=sharing&ouid=10793595356

[2022-04-21 22:54] SirAh0 opened #238 "Chat - Phase Two - Discovery Go Live"
[🔗](https://emojipedia.org/link/) [Chat Project Plan](https://docs.google.com/document/d/1c5EhvYxpSyNuZZv0fX-KTmDv1OtawzWV/edit?usp=sharing&ouid=107935953561747433773&rtpof=true&sd=true)
- [ ] Provide requirements in Phase Two - Discovery section

[🔗](https://emojipedia.org/link/) [Chat Channels & Content](https://docs.google.com/document/d/1rX2Yzua2BaDn6MJqukC1FKvzEUi9yfbO/edit#)
- [ ] Add conten

[2022-04-21 23:27] SirAh0 opened #239 "Chat - Restore Bot UAR on #events"
The Sesh bot is failing to post events because it lacks permission to view the 📅-events channel.

- [ ]  add Sesh bot role to view the 📅-events channel

[2022-04-24 14:56] SirAh0 commented on #239
I was able to add the missing rights to sesh bot

[2022-04-24 14:56] #239 closed, assigned to eleventh19, SirAh0

[2022-04-25 15:39] SirAh0 commented on #207
Here is the issue tracking the poll and SourceCred launch
https://github.com/smartcontractresearchforum/research_team/issues/235

[2022-04-25 22:43] zubepaul commented on #235
[Forum post](https://www.smartcontractresearch.org/t/sourcecred-polls-and-first-implementation/1477) is up. Polls added in the morning. Also was able to link the the poll post to the earlier discussion post.

[2022-04-26 05:40] Coinproz commented on #44
Social media post scheduled to go out today

[2022-04-28 17:28] SirAh0 opened #240 "Calendar and Events Wrangling"
### Moved to Project Board and Repo
[SCRF Calendar of Events](https://github.com/orgs/smartcontractresearchforum/projects/30)

[📅 Add New Event](https://github.com/smartcontractresearchforum/discovery/issues/new/choose)

This ticket is now closed.

---

### Submitting New Calendar Events
Please reply below as a comment filling out as much as you can:
[code]

### Current Tasks
🔗[SCRF Calendar and E

[2022-04-28 19:21] SirAh0 opened #241 "Test Discovery Document Submission"
[This is the document](https://docs.google.com/document/d/185WpFY_o6nnqDSlO9hKW32mcqfFYQEejvSarWbQq5yY/edit?usp=sharing)

[2022-04-28 23:41] #241 closed, assigned to nobody

[2022-04-29 15:22] SirAh0 opened #242 "shut down old calendar @eleventh19"

[2022-04-29 16:45] vincenzospaghetti commented on #240
@SirAh0 Need a calendar reminder for Onboarding meeting:

Title: "Monthly Onboarding Session"
Time: Noon MTN/2 PM EST
Duration: 30 minutes
Attendees: Open to All; Mandatory for new SCRF contractors
Location: #Onboarding LIVE channel

Description: This is the monthly onboarding meeting for SCRF. If you have recently been hired, are new to SCRF, or are looking for opportunities, please attend this m

[2022-04-29 16:49] vincenzospaghetti commented on #240
@SirAh0 Need a calendar reminder for submitting time:

Title: "REMINDER: Final Day to Submit Invoice Hours on Request Finance"
Date: Every month, 2 days before end of month.
TIme: 8 AM MTN/10 AM EST
Duration: 15 min
Attendees: All Internal
Location: SCRF Live
Description: This is your reminder to submit hours to Request Finance for the last month. Invoices must be submitted no later than 2 days be

[2022-04-30 15:21] SirAh0 commented on #153
Information can be found in the [🔗](https://emojipedia.org/link/)[Chat Project Plan](https://docs.google.com/document/d/1c5EhvYxpSyNuZZv0fX-KTmDv1OtawzWV/edit?usp=sharing&ouid=107935953561747433773&rtpof=true&sd=true)

We should close this issue and I will open new ones as Chat moves forward.

[2022-05-02 14:36] SirAh0 commented on #240
On which day does this event occur?

[2022-05-03 13:18] encore9870 commented on #215
We got together and reviewed a version of Github access configuration on April 27, 2022. Our next deliverable would be to launch an instance and use it for project management. This is not blocked.

[2022-05-03 15:04] zubepaul commented on #187
What is the status of this? Is this now a practice? @LorrettaGS @eleventh19

[2022-05-06 17:58] zubepaul commented on #240
@SirAh0 Need a calendar reminder for SourceCred Committee
Title: SCRF SourceCred Community Committee
Date: 2nd Friday of every month
Time: 10am PDT
Duration: 50 Minutes
Attendees: Members of the SourceCred Committee.
Location: meet.google.com/zar-oyrc-xko
Description:
This is the monthly meeting of the SourceCred Community Committee. In this meeting, we discuss the current implementation of Source

[2022-05-06 23:41] ufkhan97 commented on #214
Last week, we did a community call where we shared our initial draft of the project and received valuable community feedback. We are very grateful to our community for taking the time to share their ideas for us and we realized we had a need for more feedback. https://www.youtube.com/watch?v=kbVtu3Yshsk

This week, we drafted documents to share with the community to request online engagement and f

[2022-05-10 13:54] zubepaul opened #243 "Project: Community Call Agenda Creation"
## Description
A project to create, disseminate, and get community input on the Community Call Agenda
### Tasks
- [ ] Create and maintain Community Call agenda
- [ ] Create process to interface with Discovery
- [ ] Create mechanism and process to allow community input on Community Call agenda
### Resources
- [Project Proposal](https://docs.google.com/document/d/1ccp_1Vx4gqqKF_AxO_VSHI_6o7M0meYx6M1

[2022-05-13 04:40] SirAh0 commented on #240
It's been added and will rotate on the Chat calendar bot.

[2022-05-13 04:44] SirAh0 commented on #240
It's been added thank you!

[2022-05-13 04:44] SirAh0 commented on #240
It's been added thank you

[2022-05-13 05:32] SirAh0 commented on #235
Project Plan updated with all details.

[2022-05-13 05:32] #235 closed, assigned to SirAh0, zubepaul

[2022-05-13 05:34] SirAh0 opened #244 "SourceCred - Phase Two"
**[🔗](https://emojipedia.org/link/)[SourceCred Project Plan](https://docs.google.com/document/d/1I09x7UweBXngtjK-fBH6ZunVrJqybfkDtEV2hrj634Y/edit#)**

- [ ] SCRF Community Call - SourceCred Update: Write Script @zubepaul
- [x] Submit The Community Committee Meeting to #240  @SirAh0

[2022-05-13 05:47] SirAh0 commented on #240
**Title**  SourceCred Community Committee
**Start Time (PDT/PST)** 10:00 AM
**Cadence** Monthly - 2nd Friday
**Duration** 1 Hour
**Attendees** Community
**Location (url)** [meet.google.com/zar-oyrc-xko](http://meet.google.com/zar-oyrc-xko)
**Description**
SourceCred has arrived at SCRF.

Come join the community and share your voice!

Topics include:
Changing Node and Edge Weights
Adjusting DAI Dis

[2022-05-16 15:40] SirAh0 opened #245 "Chat - Phase Two - Analytics"

[2022-05-17 19:23] SirAh0 opened #247 "Chat - Phase Two - Onboarding Ticket System"

[2022-05-17 19:32] vincenzospaghetti commented on #237
Changes to Discord 5/17:
- [ ] Additional changes to channels to streamline channels and combine duplicates (only for onboarding)
- [ ] changing "Earn-with-Scrf" category to "Opportunities"
- [ ] Changing "Opportunities" category to read-only information kiosk
- [ ] Creating final ticket and moving from test net to live server @ghettodev - dependent task
- [ ] Make SCRF Live voice channel live and

[2022-05-17 19:32] vincenzospaghetti commented on #237
Targetting EOD FRIDAY 5/20 for Live Onboarding with New process and text on the server!

[2022-05-17 20:45] SirAh0 opened #248 "root readme for the SCRF Org"
### Related Tasks

Start Here Branding
https://github.com/smartcontractresearchforum/engagement/issues/20

Org ReadMe #115
https://github.com/smartcontractresearchforum/discovery/issues/115

---

[2022-05-18 17:42] nicklinck commented on #214
This week we are reaching out to researchers who are looking for peer review so that we will have research papers that can be reviewed.

We are working on the meta post that will give context for individuals who are just learning about our peer review process: [https://docs.google.com/document/d/1Poyw3LFmjGmM5pMyEvtLU7Gp9rOsTNcsegh3DkLSi7o/edit](https://docs.google.com/document/d/1Poyw3LFmjGmM5pMy

[2022-05-26 20:46] eleventh19 commented on #214
We have one potential candidate and I'm reaching out to a few others in terms of who will get the review. Hoping to have more clarity here by the end of next week.

Also, want to link to some relevant videos from our YouTube:

- [4/28/22 extended community call](https://www.youtube.com/watch?v=kbVtu3Yshsk) - Nick and Umar presenting on the proposed open peer review process, featuring a number of o

[2022-05-31 20:01] vincenzospaghetti commented on #240
Need SCRF Live voice channels made available. In the meantime need these details added to the Calendar invite for "Onboarding Info Session/Meeting". @SirAh0

[2022-06-01 21:15] vincenzospaghetti commented on #247
Still need the ticketing system updated on the live server @SirAh0 @ghettodev

[2022-06-01 22:12] eleventh19 commented on #208
Doing a round of revisions with Rich. Will close this ticket once we finalize the changes we started adding

[2022-06-01 22:14] eleventh19 commented on #174
We sent off the updated version and are waiting to set up a meeting with our funder to review. We are also going to link the projects in the project board for core projects to the overall vision as the next phase of roadmapping

[2022-06-01 22:16] eleventh19 commented on #171
Created documentation for a [forum post](https://docs.google.com/document/d/1q9f4SVjr84lChqxzIoX69JP4tF5Yvh23S6VEEzGwbyQ/edit) and a [github post](https://docs.google.com/document/d/12UZ10e_NBWY9jmXu9-6G6BAnkfKCkH-m0ESGiNwMkuU/edit#heading=h.j6ezukkrgqa8). These will both need to get updated as we improve the process but the initial milestone this card should get us through is having a clear proce

[2022-06-02 02:20] eleventh19 commented on #240
Let me know if anything is needed from me before getting the community calls over to a new invite (maybe we can coordinate shortly after this community call?). I need to send it directly to a few folks

[2022-06-02 02:21] eleventh19 commented on #206
Should we close this issue at this point? Feels like a number of folks have been run through it and more outreach is happening. Let me know if there's a different milestone you're shooting for

[2022-06-02 02:22] eleventh19 commented on #155
I'm going to go ahead and close this out @marvino3. We now have a much more robust [discovery board](https://github.com/orgs/smartcontractresearchforum/projects/17/views/1) where all relevant projects for branding are being tracked

[2022-06-02 02:22] #155 closed, assigned to eleventh19

[2022-06-02 02:24] eleventh19 commented on #173
I'm going to go ahead and close this card as it is now being managed via the [Doc Project Board](https://github.com/orgs/smartcontractresearchforum/projects/18/views/1). I think this is a reasonable place to close this issue out as doc revision will be an going function going forward and we have a mechanism in place to track new work.

[2022-06-02 02:24] #173 closed, assigned to eleventh19, marvino3, vsterling

[2022-06-02 02:26] eleventh19 commented on #95
@vsterling @marvino3 @zubepaul @twan-dev is this a live doc / is work on this being captured elsewhere?

[2022-06-02 02:29] eleventh19 commented on #117
We are going to do a ['How to SCRF Better' reading group](https://docs.google.com/document/d/1BjsOH_9e1_gzFLoWCJrwnfAOq_Y5zFlREdhZNu7zEuE/edit#) to start. This is slightly different than the initial idea, so this card will remain open until there is a plan in place to operationalize a wider reading group.

[2022-06-02 02:30] eleventh19 commented on #44
We just had a [regroup](https://docs.google.com/document/d/16kmURzDh0j0F8VvWQQmUKsQDrm-w9KvQywBTQagG8ew/edit#heading=h.xjqz1f1yfk9o) meeting today. Working on improving the process and documentation. We had 20 some odd applicants so far I believe

[2022-06-02 02:32] eleventh19 commented on #118
We are going to circle back on this in the context of primary author outreach (#206) and our podcast.

[2022-06-02 02:34] eleventh19 commented on #156
Tania and I are meeting this week to review the people in play and the process. Tania has been coordinating with Valerie and Tamar in onboarding as well

[2022-06-02 02:35] eleventh19 commented on #72
@ghettodev what's the next milestone we want to hit here? do we want to focus on grants for non research summary forum posts?

[2022-06-02 02:37] eleventh19 commented on #170
@vincenzospaghetti there's an onboarding call coming up right? Once these are regularly scheduled, can you please close out this card? Thanks!

[2022-06-02 02:39] eleventh19 commented on #171
Actually, I realize I'm going to close this out as we have this [template](https://docs.google.com/document/d/1uK-_7EltNZmk6Mqkj8lA6ZqHQ-Q1IGfTEBhEabAFrUY/edit#) for the scope of work, so the goal outlined here was achieved. smartcontractresearchforum/operations#34 is the issue that captures the wider project around research support grants

[2022-06-02 02:40] eleventh19 commented on #175
We are officially calling this 'Research Support Grants' and not primary author or primary research support grants.

Created documentation for a [forum post](https://docs.google.com/document/d/1q9f4SVjr84lChqxzIoX69JP4tF5Yvh23S6VEEzGwbyQ/edit) and a [github post](https://docs.google.com/document/d/12UZ10e_NBWY9jmXu9-6G6BAnkfKCkH-m0ESGiNwMkuU/edit#heading=h.j6ezukkrgqa8). These will both need to ge

[2022-06-02 02:41] eleventh19 commented on #158
@Newmsie10 can you please provide an update on the project. Thanks!

[2022-06-02 02:41] eleventh19 commented on #205
Circling back on this and going to create a board to track this

[2022-06-02 02:42] eleventh19 commented on #214
Reached out to the first three potential folks, 2 maybes and a no. Need to think of another person to ask for getting review and then onto finding reviewers.

[2022-06-02 02:54] eleventh19 opened #249 "Project: CRM Setup"
### Project Description

This card is to track the order, initial setup, onboarding, and full setup of the CRM tool (Hubspot). As of June 1st, the CRM has been ordered and I added a single contact.

### Work Plan

*Enter the steps as reflected in your Work Plan:*

- [x] order CRM
- [ ] Set up onboarding call
- [ ] go through initial onboarding (60 days)
- [ ] import contacts from outreach sheet
-

[2022-06-02 03:30] eleventh19 opened #250 "Project: Peer Review Knowledge Repo's"
### Project Description

The [Peer Review project](https://github.com/smartcontractresearchforum/research_team/issues/214) is expanding and now has two other components, one of which is building knowledge repo's relevant to peer review. This will include overviews of projects, resources, research, etc.

### Work Plan

The first step is going to be to draft a potential list of repo's. From there, w

[2022-06-02 03:36] eleventh19 opened #251 "Project: Peer Review Community"
### Project Description

This ticket is meant to detail the project of planning initial community as it pertains to the [open peer review experiment](https://github.com/smartcontractresearchforum/research_team/issues/214). The community has two portions to it: community amongst those actively working on peer review research/projects and general community pertaining to open peer review.

### Work P

[2022-06-02 04:12] eleventh19 commented on #156
I am going to convert this card to track the development of a hiring process and a method of tracking potential hires. A separate project will be creating a board for people to internally bring up hiring needs to track specific roles

[2022-06-02 04:17] eleventh19 opened #252 "Project: Board to track potential hires"
### Project Description

This issue is to track the development of a board dedicated to hiring needs. This board would be the place new roles are proposed and tracked.

### Work Plan

- [ ] reach out to Brian and Twan
- [ ] talk about the requirements for the board
- [ ] set up a trial
- [ ] make any adjustments
- [ ] close card

### Resources

Related to the [hiring process development issue](htt

[2022-06-02 13:28] zubepaul commented on #95
@eleventh19 This is a live doc. I believe it is currently in HackMD, not the Google docs above as the "in progress" version. I think there is good reason to keep each process as its own process, however, so I will make sure to take the engagement content out and work on links instead of integrations.

[2022-06-02 18:45] vincenzospaghetti commented on #170
@eleventh19 This is scheduled and done. Will be every first Monday of the month. 2 PM EST time. It can be found on the calendar in Discord. Also will be posted on general calendar when we work that out.

[2022-06-02 18:47] vincenzospaghetti commented on #242
@eleventh19 we just discussed this breifly with @SirAh0. It would be closing down of this one correct? https://calendar.google.com/calendar/u/0/embed?src=c_45nqubmu17kcm9r1p8o5sqtte0@group.calendar.google.com

[2022-06-02 18:50] vincenzospaghetti opened #253 "Project: Create New Community Calendar"
### Project Description

**How To Share the Calendar**
Rather than directly linking to the calendar, share this link to the Doc Repo
https://github.com/smartcontractresearchforum/docs/blob/main/en/content_connecting_with_scrf.md#meetings

*closing out the old community calendar here https://calendar.google.com/calendar/u/0/embed?src=c_45nqubmu17kcm9r1p8o5sqtte0@group.calendar.google.com

Create ne

[2022-06-02 18:51] vincenzospaghetti commented on #240
@SirAh0 is this project plan to create a new calendar? Or should we keep using this just for requesting events that need calendar invites on Discord/Chat?

[2022-06-02 18:52] vincenzospaghetti commented on #229
@SirAh0 how do we close this? I'm making a new one

[2022-06-02 19:37] #240 closed, assigned to eleventh19, SirAh0, zubepaul

[2022-06-03 16:39] vincenzospaghetti commented on #237
Adding New changes in Discord/Chat (to be rolled out on the new discord change cadence that we are actively establishing):

- [ ] Roles https://docs.google.com/spreadsheets/d/1biVGofWdECcfVezXmGKk0mWIicotN6ztjyrwytLK3kg/edit#gid=0
- [ ] Bot for Start Here Information https://github.com/CommonsBuild/onboarding-bot
- [ ] Bot for introductions

[2022-06-06 00:45] Coinproz commented on #214
an example of an "open-access, peer-reviewed journal" that has legitimately exorbitant application fees for submitting an article with no transparency about whether the fees go to reviewers or not:
https://blockchainhealthcaretoday.com/index.php/journal/about/submissions
"BHTY’s Article Processing Charge (APC) for the international specialty journal is $1450.00 USD for original research articles,

[2022-06-06 17:06] SirAh0 commented on #253
- [x] I will work with @eleventh19 to migrate the calendar to the [SCRF Calendar of Events](https://github.com/orgs/smartcontractresearchforum/projects/30) Project Board

I've created a new shared google account for SCRF to use to host a calendar.

Here is the URL for the new calendar. I've also updated the Project Plan with this link.
https://calendar.google.com/calendar/u/0?cid=bnVsbEBzY3JmLmlv

[2022-06-06 17:13] SirAh0 opened #254 "team creates process for adding new events to calendar - @zubepaul suggested this have a clear path for community members to add events."

[2022-06-06 17:15] SirAh0 commented on #254
Please see the [SCRF Calendar Project Plan](https://docs.google.com/document/d/1WEW0Unw_X_xtpAAcYpl7NZqbRkhRKgC0PYN4sxYpsD8/edit?usp=sharing)

and new issues can be submitted via the [Discovery repo issues - 📅 Add New Calendar Event](https://github.com/smartcontractresearchforum/discovery/issues/new/choose)

[2022-06-06 20:38] vincenzospaghetti commented on #253
Need to update community on new process:

- [ ] Create supporting document 'how-to' on how folks should submit a new calendar invite
- [ ] Roll out with communication on Discord

[2022-06-07 04:11] eleventh19 commented on #156
Reviewed the process today with Tania. We'll have a meeting next week with some other folks to discuss. [This doc](https://docs.google.com/document/d/1BSY2srvJ9_iAXo6n_OM-hhTBVXN4hzBYxFR57V3MDrw/edit) links to all of the relevant hiring docs.

[2022-06-08 01:59] eleventh19 opened #255 "Project: DRC Content to Present"
### Project Description

This is a project coordinating with Maria and Matt in Discovery to present on Decentralized Research Centers to be able to present at public presentations.

### Work Plan

- [x] mention the general project to Maria and Matt
- [x] create an updated presentation
- [x] review with Rich
- [x] review with Maria and Matt
- [x] get a draft
- [x] revisions
- [x] present on June 20

[2022-06-08 02:01] eleventh19 commented on #175
@isss111 is joining to help with this project and to help advance it. A few decisions have been made about grants but some remain to be reviewed.

[2022-06-08 02:04] eleventh19 commented on #214
Thanks for sharing. That's good for us to know as we start putting together different resources for peer review.

The team met today and @isss111 joined us. I am following up with more of my outreach in trying to line up the first projects to review.

[2022-06-10 13:19] ttaloute opened #256 "Job Creation Board"
**Project Description**

The aim of this board is to support team heads and leads looking to add new roles to their teams and projects. It will include a templated guide for scoping a role, streamline approvals from operations, track jd creation and posting. There is an intermediary step in the docs board.

* Work Plan:*

- [ ] confirm board design and function
- [ ] create a board
- [ ] test a jo

[2022-06-10 18:43] SirAh0 commented on #256
One thing to also consider when forming a new board are the issue templates that might feed information into the board.

Feel free to reach out to me and we can go over this topic.

[2022-06-14 00:16] eleventh19 commented on #214
Here is the current state of the [knowledge repo](https://coda.io/d/SCRF_dzwS_nzx9Lj/Collective-Knowledge-of-Peer-Review_suvGd#_lu9bZ)

[2022-06-14 15:51] marvino3 commented on #255
[Updated DRC Presentation](https://docs.google.com/presentation/d/1kyi3Jdm8WD5Y6ooyYX1gttcos-Et2HI4V7l3HvKAoaU/edit?usp=sharing)

[2022-06-14 18:04] ttaloute commented on #256
Thank you @SirAh0 . I met with @twan-dev to modify the existing hiring board to have this job creation function. An issue template would be very helpful to incorporate. Twan and I already started thinking about what that could look like and if its possible to have a card move to the next column with certain activities. Apologies @twan-dev if im not explaining that right.

[2022-06-14 18:20] SirAh0 commented on #252
Eugene, your schedule is packed. Please feel free to find a time on my calendar and we can get this done if you would like a 1-1.

Alternatively, we can async chat on discord and get the project rolling.

If you can get the requirements set then I'm happy to implement this for you.

[2022-06-14 18:53] SirAh0 commented on #231
no longer relevent

[2022-06-14 18:53] #231 closed, assigned to SirAh0

[2022-06-14 18:54] SirAh0 commented on #207
launched

[2022-06-14 18:54] #207 closed, assigned to SirAh0, zubepaul

[2022-06-14 18:58] SirAh0 commented on #256
Issue templates are for collecting data from people who want to create new issues.

Rather than having just a blank box, you can specify what kind of data you need from them and provide instructions or context they should know about.

Feel free to open an Issue on the IT Help Desk and we can schedule a time to talk about it.

https://github.com/smartcontractresearchforum/IT/issues/new/choose

[2022-06-15 14:55] SirAh0 commented on #253
Please ensure when sharing the calendar link to use this URL

SCRF Community Meetings
https://github.com/smartcontractresearchforum/docs/blob/main/en/content_connecting_with_scrf.md#meetings

[2022-06-15 14:56] SirAh0 commented on #253
New Calendar items can be submitted here
https://github.com/smartcontractresearchforum/discovery/issues/new/choose

[2022-06-15 15:58] SirAh0 commented on #153
New Chat Project Board
https://github.com/orgs/smartcontractresearchforum/projects/31

New Chat Issues
https://github.com/smartcontractresearchforum/engagement/issues/new/choose

[2022-06-15 15:58] #153 closed, assigned to eleventh19, SirAh0, loicdrbx, zubepaul

[2022-06-15 16:14] SirAh0 commented on #247
Should be fixed, please open a new ticket if you need further changes:
https://github.com/smartcontractresearchforum/engagement/issues/new/choose

[2022-06-15 16:14] #247 closed, assigned to nobody

[2022-06-15 16:15] SirAh0 commented on #242
Correct, please see for more info
https://github.com/smartcontractresearchforum/research_team/issues/253

[2022-06-15 16:15] #242 closed, assigned to nobody

[2022-06-15 16:17] SirAh0 commented on #229
Thanks for pinging me, I've closed the issue. If you cannot close issues and think you should be able to do so, feel free to open an IT request issue for 💾 GitHub Teams
https://github.com/smartcontractresearchforum/IT/issues/new/choose

[2022-06-15 16:17] #229 closed, assigned to zubepaul

[2022-06-15 16:18] SirAh0 commented on #237
Changes for Chat are now handled via the [Project Board](https://github.com/orgs/smartcontractresearchforum/projects/31) and [New Issue Forms](https://github.com/smartcontractresearchforum/engagement/issues/new/choose)

[2022-06-15 16:18] #237 closed, assigned to SirAh0, vincenzospaghetti

[2022-06-15 18:56] vincenzospaghetti opened #257 "Project: Update TOS with DMCA Terms"
### Project Description

*Adding DCMA language to TOS

https://www.smartcontractresearch.org/tos

### Work Plan

- [ ] See language document for TOS here: https://docs.google.com/document/d/1mmIdnnWvWlOavCzP9OW_fv_UQkjI0k8TCO1q2HS_1LY/edit?usp=sharing
- [ ] Create Google Voice number for Eugene
- [ ] Add Google Voice number to language document
- [ ] @SirAh0 Update TOS

### Resources

- https://do

[2022-06-15 18:58] SirAh0 commented on #257
Where should the TOS be updated?

[2022-06-15 19:25] vincenzospaghetti commented on #257
https://www.smartcontractresearch.org/tos

On Wed, Jun 15, 2022 at 12:59 PM Brian Alexakis ***@***.***>
wrote:

[2022-06-15 23:24] eleventh19 commented on #251
getting the first call scheduled in early July. currently, contributors from 6/9 peer review+web3 projects accepted the invite

[2022-06-15 23:56] SirAh0 commented on #257
OK - Please let me know when the document is ready and I will add the **Copyright, the DCMA & Takedowns** section. You can simply assign me to this issue once it is ready thank you!

[2022-06-16 14:49] vincenzospaghetti commented on #257
@SirAh0 can you help @eleventh19 create a google voice number? That is the only other thing we are waiting on before posting.

[2022-06-16 21:05] SirAh0 commented on #257
https://github.com/smartcontractresearchforum/IT/issues/11

I've created an issue for that in the IT Repo. I'll let you know when that is setup.

[2022-06-18 05:26] SirAh0 commented on #252
@eleventh19  sent you a DM on chat to take next steps.

[2022-06-20 23:49] SirAh0 commented on #257
Google voice should be provisioned for @eleventh19 waiting for him to confirm.

[2022-06-22 18:38] vincenzospaghetti commented on #257
@SirAh0 We are waiting on signoff from an external legal team on the language for this. Hold until we have that. I will update the ticket here.

@eleventh19 @ghettodev

[2022-06-23 05:31] SirAh0 commented on #257
Understood, Eugene mentioned gvoice wasn't activated for some reason. I'll try and find out what's going on.

[2022-06-23 14:46] SirAh0 commented on #248
@zubepaul

[2022-06-30 14:48] vincenzospaghetti commented on #257
New language from lawyers: https://docs.google.com/document/d/1OpWlwkBy2ITFzCBXCKpanSatogkWNWel/edit?usp=sharing&ouid=100531522375056628626&rtpof=true&sd=true

Need final sign off - will update when cleared.

[2022-07-05 14:14] nicklinck commented on #214
In order to clean up our knowledge repo, I moved some old pages to: [A coda doc called "Prior Work at SCRF"](https://coda.io/d/Untitled_dnteGF31zjx/Peer-Review-Process_sudqa#_luGku)

The cleaned up version of the knowledge repo still exists here: [A coda doc called "Peer Review Knowledge Repo"](https://coda.io/d/SCRF_dzwS_nzx9Lj/Peer-Review-Knowledge-Repo_suvGd#_luVG3)

[2022-07-08 19:42] SongJunxi2000 opened #259 "Project: Survey Paper"
### Project Description

This project aims to understand the policy space available to DAO creators and understand how policy choices will impact DAO effectiveness by first interviewing a list of active DAO contributors, current DAO members, past DAO members, and anyone who's familiar with web3 space well enough to provide helpful information. Then generate a survey paper on this topic that could

[2022-07-11 06:35] #46 closed

[2022-07-11 06:43] #42 closed

[2022-07-13 13:29] encore9870 commented on #244
I believe SCRF Sourcecred is now up and running and community-driven. Updates are in the engagement repo (the latest meeting being smartcontractresearchforum/engagement#39). Good progress.

[2022-07-13 13:29] #244 closed, assigned to SirAh0, zubepaul

[2022-07-13 13:31] encore9870 commented on #118
This is now owned by content and tracked in smartcontractresearchforum/core-projects#66 (iceboxed until we find the person to run it)

[2022-07-13 13:31] #118 closed, assigned to eleventh19, cipherix, twan-dev

[2022-07-13 13:31] encore9870 commented on #206
This is now tracked in smartcontractresearchforum/core-projects#2

[2022-07-13 13:31] #206 closed, assigned to cipherix, twan-dev

[2022-07-13 13:34] encore9870 commented on #223
This had spun into a discovery & onboarding project on terms and titles.

[2022-07-13 13:34] #223 closed, assigned to twan-dev

[2022-07-13 13:35] #163 closed, assigned to eleventh19, 29988122, Siemingfong, twan-dev, Astridchou

[2022-07-13 13:36] #140 closed, assigned to eleventh19

[2022-07-13 13:36] #148 closed, assigned to Coinproz, jamesmcgirk

[2022-07-13 13:36] #109 closed, assigned to eleventh19, 29988122, austin-hua, tina1998612

[2022-07-13 13:37] #211 closed, assigned to twan-dev

[2022-07-13 13:37] #209 closed, assigned to twan-dev

[2022-07-13 13:37] #210 closed, assigned to twan-dev

[2022-07-13 13:38] #213 closed, assigned to twan-dev

[2022-07-13 13:41] #212 closed, assigned to twan-dev, vincenzospaghetti

[2022-07-13 13:43] encore9870 commented on #215
We're tracking it here now smartcontractresearchforum/core-projects#3

[2022-07-13 13:43] #215 closed, assigned to zubepaul, twan-dev

[2022-07-13 13:47] encore9870 commented on #168
I believe this is now a part of the wider onboarding discussion. Closing this for now.

[2022-07-13 13:47] #168 closed, assigned to zubepaul

[2022-07-13 13:50] encore9870 commented on #187
I believe the link above is still active and accurate and managed by Eugene. I'll leave this ticket open for now

[2022-07-13 13:50] encore9870 commented on #187
Impressive persistence...!!

[2022-07-13 13:51] encore9870 commented on #183
The onboarding team owns this now.

[2022-07-13 13:51] #183 closed, assigned to eleventh19, zubepaul, LorrettaGS

[2022-07-13 13:52] encore9870 commented on #177
We don't approve new ideas this way now, unfortunately....Nice boilerplate for future references

[2022-07-13 13:52] #177 closed, assigned to jamesmcgirk

[2022-07-13 13:55] encore9870 commented on #72
This is something the smartcontractresearchforum/core-projects#1 should own.

[2022-07-13 14:18] encore9870 commented on #3
The responsibilities mentioned in this ticket are now shared by discovery and engagement teams.

Discovery is working on
- documentation (for internal knowledge)
- scrf.io website (showcasing why we are great)
- socials (pushing all the good stuff to the world to see us).

Engagement owns
- onboarding (pointing new people towards the correct opportunities)
- chat and the forum (putting relevant in

[2022-07-13 14:18] #3 closed

[2022-07-13 14:19] #4 closed

[2022-07-13 14:19] #5 closed

[2022-07-13 14:19] #6 closed

[2022-07-13 14:19] #12 closed

[2022-07-13 14:19] #13 closed

[2022-07-13 14:20] #26 closed

[2022-07-13 14:20] #31 closed

[2022-07-13 14:21] #37 closed

[2022-07-13 14:23] #71 closed

[2022-07-13 14:24] #70 closed

[2022-07-13 14:25] #59 closed

[2022-07-13 14:27] #85 closed

[2022-07-13 14:28] zubepaul commented on #34
This issue is now also being reviewed and tracked using https://github.com/smartcontractresearchforum/discovery/issues/130

[2022-07-13 14:29] #30 closed

[2022-07-13 14:30] #66 closed

[2022-07-13 14:34] #75 closed

[2022-07-13 14:35] #98 closed

[2022-07-13 14:37] #77 closed

[2022-07-13 14:37] #55 closed

[2022-07-13 14:38] encore9870 commented on #111
No outreach activity has been updated to this ticket for over a year. I have reason to believe we should let it RIP.

[2022-07-13 14:38] #111 closed, assigned to eleventh19, jamesmcgirk

[2022-07-13 14:39] encore9870 commented on #114
This is a discovery project now. Closing so we track all of them there.

[2022-07-13 14:39] #114 closed, assigned to ishgun178

[2022-07-13 14:40] #36 closed

[2022-07-13 14:40] #69 closed

[2022-07-13 14:41] #97 closed

[2022-07-13 14:43] #81 closed

[2022-07-13 14:44] #25 closed

[2022-07-13 14:47] encore9870 commented on #34
This is captured and owned by Paul and his team now. Closing.

[2022-07-13 14:47] #34 closed

[2022-07-13 15:33] eleventh19 opened #260 "Project: Community Hub at DevCon VI"
### Project Description

I want to propose SCRF coordinating a Research Community Hub at Devcon VI. For this year's event, the team created an RFP for community hubs - [see here](https://forum.devcon.org/t/rfp-5-community-hubs/454) for the RFP. I think it makes a lot of sense for SCRF to organize one as we can bring together a variety of industry and academic players to have a mix of research even

[2022-07-14 05:57] encore9870 commented on #44
This initiative is now tracked in the content repository with a dedicated milestone for it ([link](https://github.com/smartcontractresearchforum/content/milestone/5)).

[2022-07-14 05:57] #44 closed

[2022-07-14 05:58] #65 closed

[2022-07-14 05:59] encore9870 commented on #95
Closing this ticket as it is now tracked somewhere else. I DM stakeholder (Paul) and this was the response

[2022-07-14 05:59] #95 closed

[2022-07-14 05:59] #82 closed

[2022-07-14 06:00] encore9870 commented on #119
This should be good reference after relaunching smartcontractresearchforum/core-projects#66

[2022-07-14 06:00] #119 closed, assigned to zubepaul

[2022-07-14 06:03] encore9870 commented on #99
This will be a shared plan C+D+E develop down the road. I've created a new issue at smartcontractresearchforum/core-projects#85 so it's easier to maintain

[2022-07-14 06:03] #99 closed

[2022-07-14 06:06] encore9870 commented on #120
Interesting idea and glad it did take off and [get published](https://www.smartcontractresearch.org/t/mini-post-sociology-and-the-blockchain/585). It's an open content type in our Github for people to propose.

[2022-07-14 06:06] #120 closed, assigned to jamesmcgirk

[2022-07-14 06:07] encore9870 commented on #63
Closing since it's completed, and a more wider discussion on the general topic is now overseen by the core-pms team.

[2022-07-14 06:07] #63 closed

[2022-07-14 06:08] encore9870 commented on #131
We are doing this in the content team, and sharing it with Discovery. Closing this since it's not tracking further progress.

[2022-07-14 06:08] #131 closed, assigned to nobody

[2022-07-14 06:09] encore9870 commented on #108
tracked in smartcontractresearchforum/core-projects#45 now

[2022-07-14 06:09] #108 closed, assigned to eleventh19

[2022-07-14 06:11] encore9870 commented on #135
This project is now tracked in smartcontractresearchforum/core-projects#38

[2022-07-14 06:11] #135 closed, assigned to zubepaul, LorrettaGS

[2022-07-14 06:12] encore9870 commented on #138
I'm closing this issues that are not actively being worked on. Reach out to me if you have questions!

[2022-07-14 06:12] #138 closed, assigned to Coinproz, jamesmcgirk

[2022-07-14 06:13] encore9870 commented on #127
This is now tracked by the onboarding team&ticket smartcontractresearchforum/core-projects#29.

[2022-07-14 06:13] #127 closed, assigned to nobody

[2022-07-14 06:15] encore9870 commented on #121
Good reference for smartcontractresearchforum/core-projects#85 or smartcontractresearchforum/core-projects#35. Closing now for maintenance and will continue the discussion once we launch one of the projects above.

[2022-07-14 06:15] #121 closed, assigned to nobody

[2022-07-14 06:15] encore9870 commented on #141
closing since it's completed

[2022-07-14 06:15] #141 closed, assigned to zubepaul

[2022-07-14 06:16] encore9870 commented on #125
This is now worked by the discovery team and their messaging borad.

[2022-07-14 06:16] #125 closed, assigned to nobody

[2022-07-14 06:17] encore9870 commented on #149
This is overseen by Paul's onboarding team. Closing this so work is tracked in smartcontractresearchforum/core-projects#29 or the team's master board.

[2022-07-14 06:17] #149 closed, assigned to Coinproz, zubepaul

[2022-07-14 06:19] encore9870 commented on #162
Jerry has competing priorities and so does scrf in the near future. Closing this for now. Good idea though!

[2022-07-14 06:19] #162 closed, assigned to eleventh19, 29988122, jamesmcgirk

[2022-07-14 06:19] encore9870 commented on #170
Closing since it's completed. Good work!

[2022-07-14 06:19] #170 closed, assigned to jamesmcgirk, zubepaul, LorrettaGS

[2022-07-14 06:20] encore9870 commented on #201
Closing since completed

[2022-07-14 06:20] #201 closed, assigned to nobody

[2022-07-14 06:21] encore9870 commented on #205
Events board is here: https://github.com/orgs/smartcontractresearchforum/projects/35/views/1. Shall close this issue?

[2022-07-14 06:21] #205 closed, assigned to eleventh19

[2022-07-14 06:22] twan-dev commented on #175
Work on developing the program is tracked in smartcontractresearchforum/core-projects#45, and documentation is tracked in disco's messaging board. Closing this to keep the conversation in one place.

[2022-07-14 06:23] #172 closed, assigned to nobody

[2022-07-14 06:24] encore9870 commented on #192
Important project! This is now tracked in smartcontractresearchforum/core-projects#31. Closing this so we keep the conversation in one plan.

[2022-07-14 06:24] #192 closed, assigned to jamesmcgirk, ralphlombreglia, zubepaul

[2022-07-14 06:24] #224 closed, assigned to nobody

[2022-07-14 06:25] encore9870 commented on #233
test is successful

[2022-07-14 06:25] #233 closed, assigned to nobody

[2022-07-14 06:25] #228 closed, assigned to nobody

[2022-07-14 06:26] #227 closed, assigned to nobody

[2022-07-14 06:28] encore9870 commented on #126
Closing the ticket since the internship is finished. Thanks for granting access to your precious documentation. I've added it to our drive for developing future internship programs.

[2022-07-14 06:28] #126 closed, assigned to nobody

[2022-07-14 06:31] encore9870 commented on #74
Seems that from the conversation on the above-mentioned ticket, university outreach will not be a separate outreach plan from general outreach.

[2022-07-14 06:31] #74 closed

[2022-07-14 06:33] encore9870 commented on #154
This is now rolled into a wider outreach & special projects discussion. I'll close this ticket since it's not being used for updating progress on this task.

[2022-07-14 06:33] #154 closed, assigned to eleventh19

[2022-07-14 06:35] #234 closed, assigned to nobody

[2022-07-14 06:39] encore9870 commented on #182
Important project! Closing this since it's not been actively worked on, most videos have been created.

[2022-07-14 06:39] #182 closed, assigned to eleventh19, jamesmcgirk

[2022-07-14 06:39] encore9870 commented on #196
The moderation team indeed has the power to add tags. Closing to mark completion.

[2022-07-14 06:39] #196 closed, assigned to nobody

[2022-07-14 06:40] encore9870 commented on #216
Test was a success.

[2022-07-14 06:40] #216 closed, assigned to nobody

[2022-07-14 06:40] #232 closed, assigned to nobody

[2022-07-14 06:46] encore9870 commented on #256
Job creation board is now created and used ([here](https://github.com/orgs/smartcontractresearchforum/projects/33)).

[2022-07-14 06:46] #256 closed, assigned to eleventh19, SirAh0, zubepaul, twan-dev

[2022-07-14 06:46] #143 closed, assigned to jamesmcgirk

[2022-07-14 06:50] encore9870 opened #261 "How do we handle diligence around math?"
- do we need dedicated resources?
- are people just assuming it's correct?
- do we reduce math in summaries?
- break out "Math Summaries"?
- replace with pseudo-math?
- how do we ensure coverage?
- mathjax, latex, more readable etc?
- is modeling possible?

(opened by ghetto-dev as a note. converting to issue and then closing so it's easier to search for future reference)

[2022-07-14 06:50] #261 closed, assigned to nobody

[2022-07-14 06:50] encore9870 opened #262 "Add a "help wanted" category for papers/summaries we need coverage on"
(opened by ghetto-dev as a note. converting to issue and then closing so it's easier to search for future reference)

[2022-07-14 06:51] encore9870 opened #263 "New category for "Industry Problems""
- is this the same as Bounties
- look into research gate and google scholar for possible integrations or simply inspirations

(opened by ghetto-dev as a note. converting to issue and then closing so it's easier to search for future reference)

[2022-07-14 06:51] #263 closed, assigned to nobody

[2022-07-14 06:51] #262 closed, assigned to nobody

[2022-07-14 06:52] encore9870 opened #264 "How should an industry CTA / request for solutions template look?"
(opened by bgits as a note. converting to issue and then closing so it's easier to search for future reference)

[2022-07-14 06:53] encore9870 opened #265 "How to redirect researchers from google scholar, researchgate to the forum?"
(opened by dr-chain as a note, converted to issue so it's easier to search as a reference going forward)

[2022-07-14 06:53] #264 closed, assigned to nobody

[2022-07-14 06:53] #265 closed, assigned to nobody

[2022-07-14 07:03] encore9870 commented on #252
This had spun into smartcontractresearchforum/research_team#256 and is completed. I believe there's a wider discussion on tracking PII with a secure, dedicated program. I'm going to guess it's put on hold after Tania's OOO and she will be creating a ticket to track that process.

[2022-07-14 07:03] #252 closed, assigned to eleventh19, SirAh0, twan-dev

[2022-07-14 15:34] encore9870 commented on #248
Actual work is done in the above mentioned tickets. Closing this.

[2022-07-14 15:34] #248 closed, assigned to SirAh0

[2022-07-14 15:36] encore9870 commented on #238
All done super old - Brian

[2022-07-14 15:36] #238 closed, assigned to SirAh0

[2022-07-14 15:38] encore9870 commented on #254
Seems finished!

[2022-07-14 15:38] #254 closed, assigned to nobody

[2022-07-14 15:39] encore9870 commented on #253
This is very, very, done. Good progress!

[2022-07-14 15:39] #253 closed, assigned to nobody

[2022-07-14 15:41] encore9870 commented on #243
Weekly guild agenda tracked on https://github.com/orgs/smartcontractresearchforum/projects/31

[2022-07-14 15:41] #243 closed, assigned to zubepaul

[2022-07-14 15:44] encore9870 commented on #187
Closing this since it's no longer relevant. Please reopen if it's a wrong assessment!

[2022-07-14 15:44] #187 closed, assigned to eleventh19, jamesmcgirk, LorrettaGS

[2022-07-14 15:45] encore9870 commented on #197
This is no longer relevant until we relaunch impact awards.

[2022-07-14 15:45] #197 closed, assigned to nobody

[2022-07-14 15:46] encore9870 commented on #191
Tracked in smartcontractresearchforum/core-projects#31 now.

[2022-07-14 15:46] #191 closed, assigned to jamesmcgirk, ralphlombreglia, zubepaul

[2022-07-14 15:49] encore9870 commented on #142
This is now longer relevant. smartcontractresearchforum/core-projects#31

[2022-07-14 15:49] #142 closed, assigned to jamesmcgirk

[2022-07-14 15:54] encore9870 commented on #204
Looks like this is tracked in the messaging board and this ticket is no longer relevant.

[2022-07-14 15:54] #204 closed, assigned to vsterling

[2022-07-14 15:56] encore9870 commented on #202
This was done! Pre-maria's team-project. Good progress.

[2022-07-14 15:56] #202 closed, assigned to nobody

[2022-07-14 15:57] encore9870 commented on #134
Good idea but no longer relevant. Let me know if we should not be closing it!

[2022-07-14 15:57] #134 closed, assigned to loicdrbx, jamesmcgirk, zubepaul

[2022-07-14 15:57] encore9870 commented on #130
No longer relevant since PAG is already launched and many applied. Let me know if we should not be closing it!

[2022-07-14 15:57] #130 closed, assigned to nobody

[2022-07-14 15:58] encore9870 commented on #129
Closing since the internship has been completed and this is no longer relevant.

[2022-07-14 15:58] #129 closed, assigned to nobody

[2022-07-14 15:59] encore9870 commented on #124
Closing since the internship has been completed and this is no longer relevant.

[2022-07-14 15:59] #124 closed, assigned to nobody

[2022-07-14 15:59] encore9870 commented on #102
This ticket is no longer relevant. Let me know if we should not be closing it!

[2022-07-14 15:59] #102 closed, assigned to zubepaul

[2022-07-14 15:59] encore9870 commented on #88
This ticket is no longer relevant. Let me know if we should not be closing it!

[2022-07-14 15:59] #88 closed

[2022-07-14 16:00] Coinproz commented on #130
we have the list now, so you can close this issue!

On Thu, Jul 14, 2022 at 11:58 AM twan-dev ***@***.***> wrote:

--
L. Chris Bates
Pan-African Grants Program Lead, Smart Contract Research Forum
https://www.smartcontractresearch.org/ <http://www.theibbm.org/>

[image: SCRF-HORIZONTAL-Black.png]

[2022-07-14 16:00] encore9870 commented on #57
This ticket is no longer relevant (until perhaps Jean is more available?). Let me know if we should not be closing it!

[2022-07-14 16:00] #57 closed

[2022-07-14 16:01] encore9870 commented on #41
This is a good plan and we are planning how to use the case study template for other programs (starting with PAG). Closing since the ticket itself is no longer relevant.

[2022-07-14 16:01] #41 closed

[2022-07-14 16:01] encore9870 commented on #47
This is a good plan and we are planning how to make use case template for other programs (can go through content pipeline etc.). Closing since the ticket itself is no longer relevant.

[2022-07-14 16:01] #47 closed

[2022-07-14 16:02] encore9870 commented on #76
This is now an engagement project where they are designing bounties for this purpose. Closing since the ticket itself is no longer relevant.

[2022-07-14 16:02] #76 closed

[2022-07-14 16:03] encore9870 commented on #83
This is a good idea and we are applying the notion to primary author outreach and/or impact awards (after its relaunch). Closing since the ticket is no longer relevant.

[2022-07-14 16:03] #83 closed

[2022-07-14 16:04] encore9870 commented on #113
Disco team is handeling branding. Closing since the ticket is no longer relevant.

[2022-07-14 16:04] #113 closed, assigned to eleventh19, jamesmcgirk

[2022-07-14 16:07] encore9870 commented on #128
Archiving by closing. A good reference for the future.

[2022-07-14 16:07] #128 closed, assigned to nobody

[2022-07-14 16:07] encore9870 commented on #122
Archiving by closing. A good reference for the future.

[2022-07-14 16:07] #122 closed, assigned to nobody

[2022-07-14 16:07] encore9870 commented on #123
Archiving by closing. A good reference for the future.

[2022-07-14 16:07] #123 closed, assigned to nobody

[2022-07-18 20:50] ufkhan97 commented on #214
Last week, thanks to @eleventh19 and @nicklinck we locked down our first four reviewers!

We also started modifying our plans to more rapidly move toward running the experiment.

We're working on documentation and timelining this week as well as identifying further papers and reviewers

[2022-07-27 01:12] ufkhan97 commented on #214
Last week, we drafted interview questions for participants, started identifying participants for the next round, and created multiple potential project timelines

[2022-07-28 16:17] eleventh19 commented on #208
There are no current outstanding tasks here for now so closing this out

[2022-07-28 16:17] #208 closed, assigned to eleventh19

[2022-07-28 19:23] eleventh19 commented on #174
I sent an email this week with some requested updates. Waiting to hear on next steps

[2022-07-28 19:26] eleventh19 commented on #171
This issue is closed as the scope of work template is created

[2022-07-28 19:26] #171 closed, assigned to eleventh19, isss111

[2022-07-28 19:31] eleventh19 commented on #156
We need to update this with where things currently stand and where work is being tracked now that we're cleaning up github

[2022-07-28 19:33] eleventh19 commented on #117
Message Umar posted in the community channel. Besides that, we're getting ready to post in the forum to get a new book chosen

Hi everyone! Due to popular demand, we're back with more sessions for the Impact Networks Reading Group!📚  🎉

Our first discussion session (on June 27th) focused on Part 1 of the book and was at an inconvenient time for APAC residents. We’re having two more reading group s

[2022-07-28 19:36] eleventh19 commented on #255
Closing this out as we were able to get this created and this is the version I use for presenting. Will open a new issue if/when we need to go through revisions

[2022-07-28 19:36] #255 closed, assigned to eleventh19, marvino3

[2022-07-28 19:38] eleventh19 commented on #225
Closing this out as we've chosen a CRM

[2022-07-28 19:38] #225 closed, assigned to eleventh19

[2022-07-28 19:45] eleventh19 commented on #260
Long story short, the space is much smaller than imagined. Not sure what we're going to do now. Messaging with Angela to figure out our plan of action

[2022-07-28 19:46] eleventh19 commented on #116
We are going to have a meeting in 10 days to start planning on this front again

[2022-08-15 07:15] twan-dev opened #266 "Content: Content Townhall Meeting"